<ul>
    <li>{{ hospitalDetailData.hospitalname }}</li>
    <li>{{ hospitalDetailData.address }}</li>
    <li>{{ hospitalDetailData.state }}</li>
    <li>{{ hospitalDetailData.city }}</li>
    <li>{{ hospitalDetailData.contactperson }}</li>
    <li>{{ hospitalDetailData.date }}</li>
    <li>{{ hospitalDetailData.email }}</li>
    <li>{{ hospitalDetailData.salesrepname }}</li>
    <li>{{ hospitalDetailData.speciality }}</li>
    <!-- <li>{{ status }}</li> -->
    <li>{{ hospitalDetailData.zip }}</li>
    <!-- <li>{{ hospitalDetailData.hospitalname }}</li>
    <li>{{ hospitalDetailData.hospitalname }}</li> -->
    <img [src]="hospitalDetailData.images" alt="hospital image" width="1000" height="1000">

 
</ul>