<mat-card class="email_wrapper">
  <mat-card-title>Send Email</mat-card-title><br>
  <form autocomplete="off" [formGroup]="email">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="emailto">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="CC" formControlName="cc">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Message" formControlName="body"></textarea>
    </mat-form-field>
    <mat-toolbar class="button_send">
    <button mat-button type="button"  (click)="onSubmit()">Send</button>
    <button mat-button  mat-dialog-close>Close</button>
  </mat-toolbar>
  </form>
</mat-card>
