<app-adminheader>
  <span class="listingnewstyle">
    <span class="dashboardcontainer">
      <mat-card class="main_wrapper">
        <!-- Listing goes here  -->
        <!-- <lib-listing *ngIf="purchaseQListData != null && purchaseQListData.length>0"
                [datasource]="purchaseQListData" [skip]="purchaseQListData_skip"
                [modify_header_array]="purchaseQListData_modify_header" [sourcedata]="tableName" [apiurl]="apiUrl"
                [editroute]="editUrl" [jwttoken]="user_cookie" [statusarr]="status"
                [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint"
                [search_settings]="search_settings" [detail_datatype]="image_detail_datatype"
                [detail_skip_array]="detail_skip_array">
          /lib-listing> -->
        <span class="searchmainwrapper puchase_quotes">
          <mat-card-title class="header">Recently Added Quotes</mat-card-title>
          <span class="searchwrapper">
            <form class="example-form">
              <mat-form-field>
                <input matInput type="search" placeholder="Search" class="search-input">
                <button matbutton><i class="material-icons">search</i></button>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </form>
          </span>
        </span>
        <table mat-table [dataSource]="recentlyAdded" class="mat-elevation-z8 purchase_quotes">


          <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>date Added</th>
              <td mat-cell *matCellDef="let element">{{element.date}}</td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="Quote_ID">
              <th mat-header-cell *matHeaderCellDef>Quote ID</th>
              <td mat-cell *matCellDef="let element">{{element.quote_id}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="medical_partner">
            <th mat-header-cell *matHeaderCellDef>medical partner</th>
            <td mat-cell *matCellDef="let element">{{element.hospitalname}}</td>
          </ng-container>


           <ng-container matColumnDef="sales_rep">
            <th mat-header-cell *matHeaderCellDef>sales rep</th>
            <td mat-cell *matCellDef="let element">{{element.salesrepname}}</td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="quoted_by">
              <th mat-header-cell *matHeaderCellDef>quoted by</th>
              <td mat-cell *matCellDef="let element">{{element.quoted_by}}</td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>status</th>
            <td mat-cell *matCellDef="let element">{{element.copy_status}}</td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="viewQuoteDetails(element._id,element.hospital_id)">view</button>
              <button mat-button (click)="viewQuoteDetails(element._id,element.hospital_id)">email</button>
            </td>
          </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayed"></tr>
           <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
        </table>
      </mat-card>
    </span>
  </span>
</app-adminheader>
