


.admindashboardmainwrapper{
    background-color: #edf1f4;
    display: block;
    padding: 0 !important;
    box-shadow: none;
    margin: 0 !important;
    overflow: hidden;padding: 40px 0px !important;
}
.main_wrapper{padding: 0; margin: 0;background: none; display: block;padding-bottom: 35px !important;}
.main_wrapper .mat-list .mat-list-item{
    width: 24%;
    display: inline-block;
    box-shadow: 0 2px 5px #9c9c9c;
    border-radius: 6px;height: auto;padding: 16px 0;background-color: #fff;
}
.main_wrapper .mat-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.blockwrapper1 .imgwrapper{
    background-color: var(--c-t-links);
    height: 100px;
    width: 100px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.main_wrapper .mat-list .mat-list-item:nth-child(2) .blockwrapper1 .imgwrapper{background-color: var(--c-t-primary);}
.main_wrapper .mat-list .mat-list-item:nth-child(3) .blockwrapper1 .imgwrapper{background-color: var(--c-t-primary-btn_title);}
.main_wrapper .mat-list .mat-list-item:nth-child(4) .blockwrapper1 .imgwrapper{background-color: var(--c-t-long-para);}
.blockwrapper1 .imgwrapper img{
    max-width: 100%;
    height: auto;
}
.blockwrapper2 {
    padding-left: 16px;
}
.blockwrapper2 h2{ margin: 0; font-family: 'AvenirMedium'; font-size: 44px; font-weight: bold; color: #3d4556; word-break: break-all; line-height: 40px; }
.blockwrapper2 p{margin: 0;font-family: "AvenirLight"; font-size: 22px; color: #566074; line-height: 20px;}

.searchmainwrapper {
    border-bottom: 1px solid #566075; padding: 0; padding-bottom: 16px; display: flex; justify-content: space-between;width: 100%; align-items: center; margin-bottom: 6px;
}

.searchmainwrapper .mat-card-content{
  margin: 0;
  font-family: "AvenirRoman";
  font-size: 24px;
  color: var(--c-t-sub-primary);
  text-transform: uppercase;
}

.searchmainwrapper .mat-form-field{padding:0 4px;}
.searchmainwrapper .mat-form-field .mat-form-field-wrapper{padding-bottom: 0;}
.blocktablemainwrapper .mat-table{width: 100%;box-shadow: none; }
.buttonwrapper {display: inline-block; width: 100%; padding-top: 16px; margin-top: auto;}
.right{text-align: right;}
.center{text-align: center;}
.bluebtn{ background: var(--c-t-primary); color: #fff; border-radius: 0; text-transform: uppercase; font-size: 16px; font-family: "AvenirRoman";  }
.blocktablemainwrapper {margin-bottom: 30px;}
.blocktablemainwrapper .table_wrapper{ border: 1px solid #d6d6d6;padding: 8px; margin-bottom: 0; }
.blocktablemainwrapper .table_wrapper table .acction_button button{ background: var(--c-t-primary); padding: 4px; line-height: inherit; margin: 0; color: #fff; font-family: "AvenirMedium"; text-transform: capitalize; border-radius: 0; }


.block2content{display: flex; justify-content: center; flex-wrap: wrap; margin: 0 -7px;}
.block2content .mat-list-item{width: 31%; height: auto; padding: 7px;border: 1px solid #d6d6d6;margin: 7px;}
.block2content .mat-list-item .col1 .imgwrapper{background-color: #566075; width: 169px; height: 83%;display: block;}
.block2content .mat-list-item .col1 .imgwrapper img{max-width: 100%;min-height: 100%; object-fit: cover;}
.block2content .mat-list-item .col1 .buttonwrapper {padding-top: 7px;}
.block2content .mat-list-item .col{margin: 0; position: relative;}
.block2content .mat-list-item .col2{padding-left:12px;}
.block2content .mat-list-item .col2 h3{font-size: 18px; text-transform: uppercase;font-family: "AvenirMedium"; margin: 0;padding-bottom: 10px;}
.block2content .mat-list-item .col2 p{font-size: 14px;font-family: "AvenirMedium"; margin: 0;padding-bottom: 5px;}
.block2content .mat-list-item .col2 p:nth-last-child(1){padding: 0;}
.block2content .mat-list-item .col2 p span{ font-family: "AvenirBlack";}
.blocktablemainwrapper2 .buttonwrapper{padding-top: 12px;}


.block2content .mat-list-item .buttonwrapper{position: absolute;left: 0; bottom: 0;width: 169px;}
.block2content .mat-list-item .buttonwrapper .bluebtn{width: 100%;}

.admindashboard_content, .rapdashboard_content {padding: 0; background: none;box-shadow: none;}

.table_mainwrapper{display: flex; justify-content: space-between; flex-wrap: wrap;}
.table_mainwrapper .col-1-2{width: 47%; display: flex; flex-direction: column;}
.table_mainwrapper .col-1-1{width: 100%;}
.table_mainwrapper tr.mat-row{background:none;}
.rapdashboard_content .block2content .mat-list-item .col1 .imgwrapper {
    height: 81%;
    display: inline-flex;
}
.rapdashboard_content .Welcome_banner {
   /* background: linear-gradient(24deg, #185fad, #2b88da); */
   padding: 70px 566px 70px 80px;
   /* background: linear-gradient(45deg, #1960af, transparent), url("../../../../assets/images/salesrepBanner.png") no-repeat right #5f9ea0; */
   background: linear-gradient(34deg, var(--c-t-alt-links) 56%, transparent 20%), url("../../../../assets/images/salesrepBanner.png") no-repeat right var(--c-t-bg-secondary);
   background-size: contain;
}
.rapdashboard_content .Welcome_banner h2 {  color: var(--c-t-primary-btn_title);
  text-transform: uppercase;
  font-size: 42px;
  font-family: "AvenirBlack";
  margin-bottom: 10px;}
.rapdashboard_content .Welcome_banner p{ color: var(--c-t-sub-primary);
  font-size: 24px;
  font-family: "AvenirMedium";
  line-height: 30px; }

.repDetails fieldset{  border: 1px solid #adafb1; background: #fff; }
.repDetails .rep_avbbre{  color: #566075; font-family: "AvenirMedium"; font-size: 22px; text-transform: uppercase; background: #fff;}
.repDetails .listu { padding: 0; display: flex; justify-content: space-between; }
.repDetails .listu .mat-list-item{ color: #4c5569; font-family: "AvenirLight"; font-size: 20px; }
.repDetails .listu .mat-list-item span{ font-family: "AvenirMedium"; }

  @media only screen and (max-width: 1540px) {
    .block2content .mat-list-item { width: 47%;}
    .blockwrapper2 { padding-left: 10px;}
    .blockwrapper1 .imgwrapper { height: 100px; width: 100px;}
  }
  @media screen and (max-width: 1400px){
    .blockwrapper1 .imgwrapper{height: 100px;width: 100px;}
    .blockwrapper2 {padding-left: 15px;}
    .blockwrapper2 h2{font-size: 43px;}
    .blockwrapper2 p{font-size: 18px;}

    .rapdashboard_content .Welcome_banner  {
      padding: 70px 487px 70px 40px;
      background: linear-gradient(44deg, #1a63b2 60%, transparent 20%), url('../../../../assets/images/salesrepBanner.png') no-repeat 110% #F02218;
      background-size: contain;
  }
  }
  @media screen and (max-width: 1199px){
    .main_wrapper .mat-list .mat-list-item{ text-align: center; }
    .blockwrapper2 { padding-left: 0; margin-top: 10px;}
    .techdashboard_header .quotation .mat-list-base { display: flex; padding-top: 0; flex-wrap: wrap; }
  }
  @media screen and (max-width: 1090px){
    .block2content .mat-list-item {
        width: 46%;
    }
    .block2content {
        margin: 0 -18px;
    }
  }

  @media screen and (max-width: 991px){
    list-item { width: 100%; }
    .block2content .mat-list-item .col{display: inline-block;text-align: center;}
    .block2content .mat-list-item .col1 .imgwrapper{display: block;margin: 0 auto;}
    .block2content .mat-list-item .buttonwrapper { position: inherit; left: 0; bottom: 0; width: 169px; }
    .searchmainwrapper .mat-card-content { font-size: 20px; }
  }
  @media screen and (max-width: 870px){
  .main_wrapper .mat-list { display: flex; flex-wrap: wrap; }
  .main_wrapper .mat-list .mat-list-item { width: 49%; }
  .main_wrapper .mat-list .mat-list-item { margin-bottom: 16px; }

  }
  @media screen and (max-width: 776px){
  .block2content .mat-list-item { width: 45%; }

  }

  @media screen and (max-width: 776px){
    .block2content .mat-list-item { width: 43%; }

    }

