


.admindashboardmainwrapper{
    background-color: #edf1f4;
    display: block;
    padding: 0 !important;
    box-shadow: none;
    margin: 0 !important;
    overflow: hidden;padding: 40px 0px !important;   
}
.main_wrapper{padding: 0; margin: 0;background: none; display: block;padding-bottom: 35px !important;}
.main_wrapper .mat-list .mat-list-item{
    width: 24%;
    display: inline-block;
    box-shadow: 0 2px 5px #9c9c9c;
    border-radius: 6px;height: auto;padding: 16px 0;background-color: #fff;
}
.main_wrapper .mat-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.blockwrapper1 .imgwrapper{
    background-color: #46cd93;
    height: 120px;
    width: 120px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.main_wrapper .mat-list .mat-list-item:nth-child(2) .blockwrapper1 .imgwrapper{background-color: #e66793;}
.main_wrapper .mat-list .mat-list-item:nth-child(3) .blockwrapper1 .imgwrapper{background-color: #4bbbce;}
.main_wrapper .mat-list .mat-list-item:nth-child(4) .blockwrapper1 .imgwrapper{background-color: #5985ee;}
.blockwrapper1 .imgwrapper img{
    max-width: 100%;
    height: auto;
}
.blockwrapper2 {
    padding-left: 26px;
}
.blockwrapper2 h2{margin: 0; font-family: 'Helvetica'; font-size: 48px; font-weight: bold; color: #3d4556;}
.blockwrapper2 p{margin: 0;font-family: "HelveticaRegular"; font-size: 22px; color: #566074;}

.searchmainwrapper {
    border-bottom: 1px solid #566075;
    padding: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;width: 100%;
}

.searchmainwrapper .mat-card-content{
    margin: 0;font-family: "HelveticaRegular"; font-size: 24px;padding-bottom: 5px;
}

.searchmainwrapper .mat-form-field{padding:0 4px;}
.searchmainwrapper .mat-form-field .mat-form-field-wrapper{padding-bottom: 0;}
.blocktablemainwrapper .mat-table{width: 100%;box-shadow: none;margin-top: 10px;}
.buttonwrapper {display: inline-block; width: 100%;padding-top: 20px;}
.right{text-align: right;}
.center{text-align: center;}
.bluebtn{background: #09c5fb; color: #fff; border-radius: 0;}
.blocktablemainwrapper {margin-bottom: 30px;}

.block2content{display: flex; justify-content: center; flex-wrap: wrap; margin: 0 -7px;}
.block2content .mat-list-item{width: 31%; height: auto; padding: 7px;border: 1px solid #d6d6d6;margin: 7px;}
.block2content .mat-list-item .col1 .imgwrapper{background-color: #566075; width: 169px; height: 83%;display: block;}
.block2content .mat-list-item .col1 .imgwrapper img{max-width: 100%;min-height: 100%; object-fit: cover;}
.block2content .mat-list-item .col1 .buttonwrapper {padding-top: 7px;}
.block2content .mat-list-item .col{margin: 0; position: relative;}
.block2content .mat-list-item .col2{padding-left:12px;}
.block2content .mat-list-item .col2 h3{font-size: 18px; text-transform: uppercase;font-family: "HelveticaRegular"; margin: 0;padding-bottom: 10px;}
.block2content .mat-list-item .col2 p{font-size: 14px;font-family: "HelveticaRegular"; margin: 0;padding-bottom: 10px;}
.block2content .mat-list-item .col2 p:nth-last-child(1){padding: 0;}
.block2content .mat-list-item .col2 p span{font-weight: bold;}
.blocktablemainwrapper2 .buttonwrapper{padding-top: 12px;}


.block2content .mat-list-item .buttonwrapper{position: absolute;left: 0; bottom: 0;width: 169px;}
.block2content .mat-list-item .buttonwrapper .bluebtn{width: 100%;}

.admindashboard_content, .rapdashboard_content {padding: 0; background: none;box-shadow: none;}



.table_mainwrapper{display: flex; justify-content: space-between; flex-wrap: wrap;}
.table_mainwrapper .col-1-2{width: 47%;}
.table_mainwrapper .col-1-1{width: 100%;}
.table_mainwrapper tr.mat-row{background:none;}
.rapdashboard_content .block2content .mat-list-item .col1 .imgwrapper {
    height: 81%;
    display: inline-flex;
}

  @media only screen and (max-width: 1540px) {
    .block2content .mat-list-item {
        width: 47%;}
  }
  @media screen and (max-width: 1400px){
    .blockwrapper1 .imgwrapper{height: 100px;width: 100px;}
    .blockwrapper2 {padding-left: 15px;}
    .blockwrapper2 h2{font-size: 43px;}
    .blockwrapper2 p{font-size: 18px;}
  }

  @media screen and (max-width: 1090px){
    .block2content .mat-list-item {
        width: 46%;
    }
    .block2content {
        margin: 0 -18px;
    }
  }

  @media screen and (max-width: 991px){
    list-item {
        width: 100%;
    }
    .block2content .mat-list-item .col{display: inline-block;text-align: center;}
    .block2content .mat-list-item .col1 .imgwrapper{display: block;margin: 0 auto;}
    .block2content .mat-list-item .buttonwrapper {
        position: inherit;
        left: 0;
        bottom: 0;
        width: 169px;
    }
  }








