<app-adminheader>
  <mat-card class="admindashboardmainwrapper">
    <span class="dashboardcontainer">
      <mat-card *ngIf="type=='admin'" class="admindashboard_content">
        <mat-card class="main_wrapper">
          <mat-list class="main_dashboard">
            <mat-list-item>
              <span class="blockwrapper1">
                <span class="imgwrapper">
                  <img src="../../../../assets/images/admindashboardicon1.png">
                </span>
              </span>
              <span class="blockwrapper2">
                <h2>{{ hospital_count }}+</h2>
                <p>Global Medical Partners</p>
              </span>
            </mat-list-item>
            <mat-list-item>
              <span class="blockwrapper1">
                <span class="imgwrapper">
                  <img src="../../../../assets/images/admindashboardicon2.png">
                </span>
              </span>
              <span class="blockwrapper2">
                <h2>{{ salesrep_count }}+</h2>
                <p>Sales Rep</p>
              </span>
            </mat-list-item>
            <mat-list-item>
              <span class="blockwrapper1">
                <span class="imgwrapper">
                  <img src="../../../../assets/images/admindashboardicon3.png">
                </span>
              </span>
              <span class="blockwrapper2">
                <h2>{{ inventory_count }}+</h2>
                <p>Wholesale Inventory</p>
              </span>
            </mat-list-item>
            <mat-list-item>
              <span class="blockwrapper1">
                <span class="imgwrapper">
                  <img src="../../../../assets/images/admindashboardicon4.png">
                </span>
              </span>
              <span class="blockwrapper2">
                <h2>{{medicalpartner_count}}+</h2>
                <p>Medical Partner Inventory</p>
              </span>
            </mat-list-item>
          </mat-list>
        </mat-card>
        <mat-card class="blocktablemainwrapper">
          <span class="searchmainwrapper">
            <mat-card-content>Recently Added Quotes</mat-card-content>
            <span class="searchwrapper">
              <form class="example-form">
                <mat-form-field>
                  <input matInput type="search" name ="searchbyMedicalName" [(ngModel)]="searchbyMedicalName" placeholder="Search by Medical partner name" class="search-input">
                  <button matbutton type="button" (click)="adminsearchbyMedicalName()"><i class="material-icons">search</i></button>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </form>
            </span>
          </span>

          <mat-card-content class="table_wrapper">

            <table mat-table [dataSource]="recentlyAdded" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->


                <!-- Position Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> date added</th>
                  <td mat-cell *matCellDef="let element" data-label="date added"> {{element.date}} </td>
                </ng-container>

                 <!-- Name Column -->
                 <ng-container matColumnDef="quote_id">
                  <th mat-header-cell *matHeaderCellDef> quote id </th>
                  <td mat-cell *matCellDef="let element" data-label="quote id"> {{element.quote_id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="medical_partner">
                  <th mat-header-cell *matHeaderCellDef> medical partner </th>
                  <td mat-cell *matCellDef="let element" data-label="medical partner"> {{element.hospitalname}} </td>
                </ng-container>


                <ng-container matColumnDef="sales_rep">
                  <th mat-header-cell *matHeaderCellDef> sales rep </th>
                  <td mat-cell *matCellDef="let element"  data-label="Sales rep"> {{element.salesrepname}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="quoted_by">
                  <th mat-header-cell *matHeaderCellDef> quoted by </th>
                  <td mat-cell *matCellDef="let element" data-label="quoted_by "> {{element.quoted_by}} </td>
                </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> status </th>
                      <td mat-cell *matCellDef="let element" data-label="status"> {{element.copy_status}} </td>
                    </ng-container>

                      <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> action </th>
                   <td mat-cell *matCellDef="let element" class="acction_button" data-label="action">
                     <button mat-button (click)="viewQuoteDetails(element._id,element.hospital_id)">view</button>

                   </td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayed"></tr>
                <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
              </table>

          </mat-card-content>





          <span class="buttonwrapper right">
            <button mat-button class="bluebtn" routerLink="/admin/managequotes/purchasequote/list">View All</button>
          </span>
        </mat-card>
        <mat-card class="blocktablemainwrapper blocktablemainwrapper2">
          <span class="searchmainwrapper">
            <mat-card-content>Recently Added Medical Partners</mat-card-content>
          </span>
          <mat-list class="block2content">
            <mat-list-item *ngFor="let hospital of hospitalDetails;let i = index;">
              <mat-card-content class="col col1">
                <span class="imgwrapper">
                  <img [src]=hospital.images>
                </span>

              </mat-card-content>
              <mat-card-content class="col col2">
                <h3>{{ hospital.hospitalname}}</h3>
                <p><span>Address :</span>{{ hospital.address }} </p>
                <p><span>City :</span> {{ hospital.city }}</p>
                <p><span>State :</span> {{ hospital.state }} </p>
                <p><span>Zip Code :</span> {{ hospital.zip }} </p>
                <p><span>Contact Person :</span> {{ hospital.contactperson }} </p>
                <p><span>Email :</span>{{ hospital.email }}</p>
                <p><span>Phone Number :</span> {{ hospital.contactphones }}</p>
                <p><span>Sales Rep :</span> {{ hospital.salesrepname }} </p>
              </mat-card-content>
              <span class="buttonwrapper center">
                <button mat-button class="bluebtn" (click)="toHospitalList(hospital._id)">View Detail</button>
              </span>
            </mat-list-item>
          </mat-list>
          <span class="buttonwrapper right">
            <button mat-button class="bluebtn" type="button" routerLink="/admin/medicalpartners-management/list">View
              All</button>
          </span>
        </mat-card>
        <mat-card class="blocktablemainwrapper">
          <span class="searchmainwrapper">
            <mat-card-content>Recently Added Sales Rep</mat-card-content>
            <span class="searchwrapper">
              <form class="example-form">
                <mat-form-field>
                  <input matInput type="search" name="searchbyrecentlyaddedSalesrep" [(ngModel)]="searchbyrecentlyaddedSalesrep" placeholder="Search by Firstname" class="search-input">
                  <button matbutton (click)="adminAddSalesrepbyfirstname()"><i class="material-icons">search</i></button>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="search" name="searchbySalesrepEmail" [(ngModel)]="searchbySalesrepEmail" placeholder="Search by Email" class="search-input">
                  <button matbutton (click)="adminAddSalesrepbyEmail()"><i class="material-icons">email</i></button>
                </mat-form-field>
              </form>
            </span>
          </span>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element;let i = index" data-label="date"> {{element.date_added}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element" data-label="firstname"> {{element.firstname}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element" data-label="last name"> {{element.lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element" data-label="email"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Contact Number </th>
              <td mat-cell *matCellDef="let element" data-label="contact number"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef> City </th>
              <td mat-cell *matCellDef="let element" data-label="city"> {{element.city}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> State </th>
              <td mat-cell *matCellDef="let element" data-label="Status"> {{element.state}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <span class="buttonwrapper right">
            <button mat-button class="bluebtn" routerLink="/admin/salesrep-management/list">View All</button>
          </span>
        </mat-card>



      </mat-card>













      <!-- -------------------------------salesrep------------------------- -->
      <mat-card *ngIf="type=='salesrep'" class="rapdashboard_content">
        <mat-card-content class="Welcome_banner">
          <h2>Welcome {{user_name}}</h2>
          <p>Set Up Discoveries With New Medical Facilities For Potential Partnerships, List, Buy & Sell Hospital
            Equipment And Supplies For Your Current Clients, And Get Incredible Commissions Along The Way!</p>
        </mat-card-content>


        <span class="table_mainwrapper">
          <mat-card class="blocktablemainwrapper col-1-2">
            <span class="searchmainwrapper">
              <mat-card-content>Recently Added Purchase Quotes</mat-card-content>
            </span>

            <table mat-table [dataSource]="salesrepPurchaseQuote" class="mat-elevation-z8">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Date Added </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>


              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Quote ID </th>
                <td mat-cell *matCellDef="let element"> {{element.quote_id}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Medical Partner </th>
                <td mat-cell *matCellDef="let element"> {{element.hospitalname}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.copy_status}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
            </table>

            <span class="buttonwrapper right">
              <button mat-button class="bluebtn" routerLink="/salesrep/managequotes/purchasequote/list">View All</button>
            </span>
          </mat-card>
          <mat-card class="blocktablemainwrapper col-1-2">
            <span class="searchmainwrapper">
              <mat-card-content>Recently Added Inventory Listing Quotes</mat-card-content>
            </span>

            <table mat-table [dataSource]="salesrepListingQuote" class="mat-elevation-z8">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Date Added </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>


              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Quote ID </th>
                <td mat-cell *matCellDef="let element"> {{element.quote_id}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Medical Partner </th>
                <td mat-cell *matCellDef="let element"> {{element.hospitalname}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.copy_status}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
            </table>

            <span class="buttonwrapper right">
              <button mat-button class="bluebtn" routerLink="/salesrep/managequotes/inventorylistingquote/list">View All</button>
            </span>
          </mat-card>
          <mat-card class="blocktablemainwrapper col-1-1">
            <span class="searchmainwrapper">
              <mat-card-content>Recently Added Purchase Comparison Quotes</mat-card-content>
            </span>

            <table mat-table [dataSource]="purcehseComparisionQuote" class="mat-elevation-z8">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date Added </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>


              <ng-container matColumnDef="medicalpartner">
                <th mat-header-cell *matHeaderCellDef> Quote ID </th>
                <td mat-cell *matCellDef="let element"> {{element.quote_id}} </td>
              </ng-container>

              <ng-container matColumnDef="hospitalname">
                <th mat-header-cell *matHeaderCellDef> Medical Partner</th>
                <td mat-cell *matCellDef="let element">{{element.hospitalname}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status</th>
                <td mat-cell *matCellDef="let element">{{element.copy_status}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="purcehseComparisionHeader"></tr>
              <tr mat-row *matRowDef="let row; columns: purcehseComparisionHeader;"></tr>
            </table>

            <span class="buttonwrapper right">
              <button mat-button class="bluebtn" routerLink="/salesrep/managequotes/purchasquotelisting/list">View All</button>
            </span>
          </mat-card>
        </span>
        <mat-card class="blocktablemainwrapper blocktablemainwrapper2">
          <span class="searchmainwrapper">
            <mat-card-content>Recently Added Medical Partners</mat-card-content>
          </span>
          <mat-list class="block2content">
            <mat-list-item *ngFor="let hospital of hospitalDetails;let i = index;">
              <mat-card-content class="col col1">
                <span class="imgwrapper">
                  <img src="{{hospital.images}}">
                </span>

              </mat-card-content>
              <mat-card-content class="col col2">
                <h3>{{hospital.hospitalname}}</h3>
                <p><span>Address :</span> {{hospital.address}}</p>
                <p><span>City :</span> {{hospital.city}} </p>
                <p><span>State :</span> {{hospital.state}} </p>
                <p><span>Zip Code :</span>{{hospital.zip}} </p>
                <p><span>Contact Person :</span> {{hospital.contactperson}} </p>
                <p><span>Email :</span>{{hospital.email}}</p>
                <p><span>Phone Number :</span> {{hospital.contactphones}} </p>
              </mat-card-content>
              <span class="buttonwrapper center">
                <button mat-button class="bluebtn" (click)="toHospitalList(hospital._id)">View Detail</button>
              </span>
            </mat-list-item>

          </mat-list>
          <span class="buttonwrapper right">
            <button mat-button class="bluebtn" routerLink="/salesrep/my-hospital">View Detail</button>
          </span>
        </mat-card>
      </mat-card>


      <!-- medical partners [Hospital] -->
      <!-- -------------------------------hospital------------------------- -->
      <mat-card *ngIf="type=='hospital'" class="rapdashboard_content">
        <mat-card-content class="Welcome_banner">
          <h2>Welcome {{user_name}}</h2>
          <p>Source Hospital Equipment And Supplies For Your Medical Facility, And Get Direct-To-Manufacturers Prices
            For Premium Quality Items. Also, List & Sell Current Unused Equipment At Best Prices!</p>
        </mat-card-content>

        <mat-card-content class="repDetails">
            <fieldset>
              <legend class="rep_avbbre">Sales Rep Details:</legend>
              <mat-list class="listu">
                  <mat-list-item> <span> Name: &nbsp;</span> {{hospitalrepDetails.fullname}} </mat-list-item>
                  <mat-list-item> <span>Email: &nbsp;</span> {{hospitalrepDetails.email}} </mat-list-item>
                  <mat-list-item> <span>Phone: &nbsp;</span> {{hospitalrepDetails.phone}}</mat-list-item>
                 </mat-list>
            </fieldset>

        </mat-card-content>

        <span class="table_mainwrapper">
          <mat-card class="blocktablemainwrapper col-1-2">
            <span class="searchmainwrapper">
              <mat-card-content>Recently Added Purchase Quotes</mat-card-content>
            </span>

            <table mat-table [dataSource]="hospitalPurchaseQuote" class="mat-elevation-z8">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Date Added </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>


              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Quote ID </th>
                <td mat-cell *matCellDef="let element"> {{element.quote_id}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Medical Partner </th>
                <td mat-cell *matCellDef="let element"> {{element.salesrepname}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.copy_status}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
            </table>

            <span class="buttonwrapper right">
              <button mat-button class="bluebtn" routerLink="/hospital/managequotes/purchasequote/list">View All</button>
            </span>
          </mat-card>
          <mat-card class="blocktablemainwrapper col-1-2">
            <span class="searchmainwrapper">
              <mat-card-content>Recently Added Inventory Listing Quotes</mat-card-content>
            </span>

            <table mat-table [dataSource]="hospitalListingQuote" class="mat-elevation-z8">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Date Added </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>


              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Quote ID </th>
                <td mat-cell *matCellDef="let element"> {{element.quote_id}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Medical Partner </th>
                <td mat-cell *matCellDef="let element"> {{element.hospitalname}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.copy_status}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
            </table>

            <span class="buttonwrapper right">
              <button mat-button class="bluebtn" routerLink="/hospital/managequotes/inventorylistingquote/list">View All</button>
            </span>
          </mat-card>
          <mat-card class="blocktablemainwrapper col-1-1">
            <span class="searchmainwrapper">
              <mat-card-content>Recently Added Purchase Comparison Quotes</mat-card-content>
            </span>

            <table mat-table [dataSource]="hospitalPurchseComparison" class="mat-elevation-z8">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date Added </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>


              <ng-container matColumnDef="medicalpartner">
                <th mat-header-cell *matHeaderCellDef> Quote ID </th>
                <td mat-cell *matCellDef="let element">{{element.quote_id}}  </td>
              </ng-container>

              <ng-container matColumnDef="hospitalname">
                <th mat-header-cell *matHeaderCellDef> Medical Partner</th>
                <td mat-cell *matCellDef="let element">{{element.hospitalname}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status</th>
                <td mat-cell *matCellDef="let element">{{element.copy_status}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="purcehseComparisionHeader"></tr>
              <tr mat-row *matRowDef="let row; columns: purcehseComparisionHeader;"></tr>
            </table>

            <span class="buttonwrapper right">
              <button mat-button class="bluebtn" routerLink="hospital/managequotes/purchasquotelisting/list">View All</button>
            </span>
          </mat-card>
        </span>
        <!-- <mat-card class="blocktablemainwrapper blocktablemainwrapper2">
        <span class="searchmainwrapper">
          <mat-card-content>Recently Added Medical Partners</mat-card-content>
        </span>
        <mat-list class="block2content">
          <mat-list-item *ngFor="let hospital of hospitalDetails;let i = index;">
            <mat-card-content class="col col1">
              <span class="imgwrapper">
                <img src="{{hospital.images}}">
              </span>

            </mat-card-content>
            <mat-card-content class="col col2">
              <h3>{{hospital.hospitalname}}</h3>
              <p><span>Address :</span> {{hospital.address}}</p>
              <p><span>City :</span> {{hospital.city}} </p>
              <p><span>State :</span> {{hospital.state}} </p>
              <p><span>Zip Code :</span>{{hospital.zip}} </p>
              <p><span>Contact Person :</span> {{hospital.contactperson}} </p>
              <p><span>Email :</span>{{hospital.email}}</p>
              <p><span>Phone Number :</span> {{hospital.contactphones}} </p>
            </mat-card-content>
            <span class="buttonwrapper center">
              <button mat-button class="bluebtn" (click)="toHospitalList(hospital._id)">View Detail</button>
            </span>
          </mat-list-item>

        </mat-list>
        <span class="buttonwrapper right">
          <button mat-button class="bluebtn" routerLink="/admin/medicalpartners-management/list">View Detail</button>
        </span>
      </mat-card> -->
      </mat-card>


    </span>

  </mat-card>

</app-adminheader>
