


.clickable{ cursor: pointer; } 
.purchaseComparison table{ width: 100%;}
.searchBar{ justify-content: space-between; height: auto;}
.searchBar .action_button{width: 180px; background: #06294e; color: #fff; text-transform: uppercase; font-size: 18px; padding: 6px; border-radius: 0;}
.inventory_banner { background: url("../../../../../assets/images/inventory_categoryBanner.jpg") no-repeat center center; background-size: cover; border-top-left-radius: 10px;        border-top-right-radius: 10px;
padding: 50px; padding-right: 45%; }
.inventory_banner .inventory_title { font-size: 48px; color: #fff; font-family: "HelveticaBold"; text-transform: uppercase; }
.inventory_banner .inventory_para { font-size: 24px; color: #89fbff; font-family: "HelveticaBold"; margin: 0; }
.buttonsetToolbar .singleButton { width: 330px; border-radius: 0; color: #fff;}
.buttonsetToolbar .singleButton { font-size: 20px; text-transform: uppercase; font-family: "HelveticaRegular"; padding: 5px; }
.buttonsetToolbar .singleButton:nth-child(1) {  background: #0bb4e5; }
.buttonsetToolbar .singleButton:nth-child(2) {  background: #2c3439; margin-left: 16px;}
.brand_group .tabs_wrapper{ margin-top: 16px; }
   
.dialogContainer{ width: 800px; background: #f7f7f7; border: 1px solid #fff; padding: 0; }
/* .dialogContainer table{ width: 100%; border: none; border-spacing: 0;} */
.dialogContainer .Title{ color: #fff; font-size: 30px; font-family: "RobotoBold"; display: block; text-align: center; margin-bottom: 20px;  
padding-bottom: 5px; background: #0062b7; padding: 10px; box-sizing: border-box; box-shadow: 0px 3px 3px 0px #adadad; }
 
 
.dialogContainer .sendMail { padding: 16px;}
.dialogContainer .sendMail .mat-form-field{ width: 100%;}
.dialogContainer .sendMail .button_wrapper{ padding: 0; justify-content: flex-end; }
.dialogContainer .sendMail .button_wrapper button{  font-size: 18px; font-family: "HelveticaBold";  text-transform: uppercase;
    background: #1962b7; color: #fff; width: 130px; border-radius: 0; padding: 4px;}
.dialogContainer .sendMail .body{ min-height: 120px;}
.label_class{ color: #1962b7; font-size: 18px; font-family: "HelveticaRegular"; margin-bottom: 5px; display: block; }
.dialog_table { padding: 30px; }
/* new table */
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers th,
#customers td {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers td {
    font-size: 14px;
}

#customers tr:nth-child(even) {
    background-color: #f3f3f3;
}



#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #001d39;
    color: #fff;
    font-size: 16px;
}