<mat-card-content class="nav_list">



  <mat-nav-list>
    <a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard/admin'"> <i class="material-icons"> bar_chart </i> </a>
    <a mat-list-item [routerLink]="'/manage-biller'" routerLinkActive="active"> <i class="material-icons"> supervisor_account</i> </a>
    <a mat-list-item [routerLink]="'/manage-doctor'" routerLinkActive="active"> <i class="material-icons">post_add </i> </a>
    <a mat-list-item [routerLink]="'/manage-tech'" routerLinkActive="active"><i class="material-icons"> message </i></a>
    <a mat-list-item [routerLink]="'/manage-tech'" routerLinkActive="active"><i class="material-icons"> calendar_today </i></a>
    <a mat-list-item [routerLink]="'/manage-tech'" routerLinkActive="active"><i class="material-icons"> settings_applications </i></a>
    <a mat-list-item [routerLink]="'/manage-tech'" routerLinkActive="active"><i class="material-icons"> streetview </i></a>
    <a mat-list-item [routerLink]="'/manage-tech'" routerLinkActive="active"><i class="material-icons"> local_car_wash </i></a>

  </mat-nav-list>
</mat-card-content>
