<!-- <app-myaccount>
    <mat-card-content class="images">
        <img src="/assets/images/hospitalInventoryAded.jpg">
    </mat-card-content>
</app-myaccount>
 -->

 <app-myaccount>
  <mat-card-content class="images">
      <img src="/assets/images/sales_inventory.jpg">
      <button class="two" mat-button routerLink="/hospital/added-inventory/add"> add inventory</button>
      <button class="view_details" mat-button routerLink="/salesrep/my-added-inventory/details"> view details</button>
  </mat-card-content>

  <mat-card-content class="images">
    <img src="/assets/images/sales_inventory2.jpg">
    <button class="view_details" mat-button routerLink="/salesrep/my-added-inventory/details"> view details</button>
</mat-card-content>

<mat-card-content class="images">
  <img src="/assets/images/sales_inventory3.jpg">
  <button class="view_details" mat-button routerLink="/salesrep/my-added-inventory/details"> view details</button>
</mat-card-content>

<mat-card-content class="images">
<img src="/assets/images/sales_inventory4.jpg">
<button class="view_details" mat-button routerLink="/salesrep/my-added-inventory/details"> view details</button>
</mat-card-content>
</app-myaccount>

