<app-adminheader>
    <form [formGroup]="accountForm">

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Type</mat-label>
            <input matInput formControlName="Type">
        </mat-form-field><br>

        <mat-form-field *ngIf="addflag==true">
            <input matInput formControlName="newControl">
        </mat-form-field><br>

        <mat-form-field>
            <input matInput>
        </mat-form-field><br>
 

        <button type="button" (click)="onSubmit()">SUBMIT</button>
    </form>
</app-adminheader>