<app-frontend-header></app-frontend-header>

<mat-card-content class="sh_buyfrmus_topblock">
    <mat-card-content class="sh_buyfrmus_content_wrapper">
        <h2 class="header">blog</h2>
        <p class="paragraph">
            You can always continue to learn new information, methods and other developments taking place in the
            Healthcare industry, and blogs, articles, and medical journals happen to be the best source from where you
            can gather such information, or so we have found.

        </p>

        <button mat-button class="manufac_action_btn" routerLink="/inventory"> view inventory</button>
    </mat-card-content>
</mat-card-content>
<!-- end one -->

<mat-card-content class="sh_blog_content_wrapper">
    <mat-card-content class="sh_blog_content">
        <mat-card-title class="title">What’s Happening in the industry</mat-card-title>
        <!-- <mat-card-title class="subtitle">Lorem Ipsum is simply </mat-card-title> -->
        <p class="desc">The Healthcare and Medical Industry is an ever-changing one, with new developments,
            technological advancements and innovations, and new findings taking place every minute. Stay posted with the
            latest blogs and articles about everything happening in every area of the industry, which are written by
            talented, knowledgable and experienced members of our team. We also include the most popular articles and
            blogs circulating the internet in our collection in order to provide our members with the latest information
            about everything happening in the industry.</p>
    </mat-card-content>

    <mat-card-content class="sh_blog_content_bottom">
        <mat-card-content class="sh_blog_content_left">
            <!-- loop blogs  -->
            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/blog_first_image.jpg">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati eos, a iste minima
                        cumque
                        sunt facere voluptatum architecto rerum, magni, veritatis itaque assumenda fugit maxime
                        laboriosam
                        iusto hic ratione. Sunt molestias, ut ex laborum, eius voluptates quae illum sit ea corrupti
                        nemo
                        optio sequi consequatur nesciunt eaque quas a, non cum nulla? Praesentium deleniti quae nostrum,
                        suscipit nesciunt beatae optio ex nobis. Aspernatur exercitationem vitae quidem non veniam
                        debitis
                        eveniet! Id minus praesentium, reiciendis, dolor officiis aspernatur, amet iure vitae corrupti
                        consequatur dolorum sapiente impedit rerum ea nostrum quas! Optio laboriosam natus veniam, magni
                        obcaecati sequi atque tempore ipsum?
                    </p>


                    <mat-toolbar class="bottom_social">
                        <a routerLink="/blog-details">read more</a>
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>
            <!-- loopend blogs  -->

            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/blog_first_image.jpg">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati eos, a iste minima
                        cumque
                        sunt facere voluptatum architecto rerum, magni, veritatis itaque assumenda fugit maxime
                        laboriosam
                        iusto hic ratione. Sunt molestias, ut ex laborum, eius voluptates quae illum sit ea corrupti
                        nemo
                        optio sequi consequatur nesciunt eaque quas a, non cum nulla? Praesentium deleniti quae nostrum,
                        suscipit nesciunt beatae optio ex nobis. Aspernatur exercitationem vitae quidem non veniam
                        debitis
                        eveniet! Id minus praesentium, reiciendis, dolor officiis aspernatur, amet iure vitae corrupti
                        consequatur dolorum sapiente impedit rerum ea nostrum quas! Optio laboriosam natus veniam, magni
                        obcaecati sequi atque tempore ipsum?
                    </p>


                    <mat-toolbar class="bottom_social">
                        <a routerLink="/blog-details">read more</a>
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>


            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/blog_first_image.jpg">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati eos, a iste minima
                        cumque
                        sunt facere voluptatum architecto rerum, magni, veritatis itaque assumenda fugit maxime
                        laboriosam
                        iusto hic ratione. Sunt molestias, ut ex laborum, eius voluptates quae illum sit ea corrupti
                        nemo
                        optio sequi consequatur nesciunt eaque quas a, non cum nulla? Praesentium deleniti quae nostrum,
                        suscipit nesciunt beatae optio ex nobis. Aspernatur exercitationem vitae quidem non veniam
                        debitis
                        eveniet! Id minus praesentium, reiciendis, dolor officiis aspernatur, amet iure vitae corrupti
                        consequatur dolorum sapiente impedit rerum ea nostrum quas! Optio laboriosam natus veniam, magni
                        obcaecati sequi atque tempore ipsum?
                    </p>


                    <mat-toolbar class="bottom_social">
                        <a routerLink="/blog-details">read more</a>
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>


            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/blog_first_image.jpg">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati eos, a iste minima
                        cumque
                        sunt facere voluptatum architecto rerum, magni, veritatis itaque assumenda fugit maxime
                        laboriosam
                        iusto hic ratione. Sunt molestias, ut ex laborum, eius voluptates quae illum sit ea corrupti
                        nemo
                        optio sequi consequatur nesciunt eaque quas a, non cum nulla? Praesentium deleniti quae nostrum,
                        suscipit nesciunt beatae optio ex nobis. Aspernatur exercitationem vitae quidem non veniam
                        debitis
                        eveniet! Id minus praesentium, reiciendis, dolor officiis aspernatur, amet iure vitae corrupti
                        consequatur dolorum sapiente impedit rerum ea nostrum quas! Optio laboriosam natus veniam, magni
                        obcaecati sequi atque tempore ipsum?
                    </p>


                    <mat-toolbar class="bottom_social">
                        <a routerLink="/blog-details">read more</a>
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>


            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/blog_first_image.jpg">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati eos, a iste minima
                        cumque
                        sunt facere voluptatum architecto rerum, magni, veritatis itaque assumenda fugit maxime
                        laboriosam
                        iusto hic ratione. Sunt molestias, ut ex laborum, eius voluptates quae illum sit ea corrupti
                        nemo
                        optio sequi consequatur nesciunt eaque quas a, non cum nulla? Praesentium deleniti quae nostrum,
                        suscipit nesciunt beatae optio ex nobis. Aspernatur exercitationem vitae quidem non veniam
                        debitis
                        eveniet! Id minus praesentium, reiciendis, dolor officiis aspernatur, amet iure vitae corrupti
                        consequatur dolorum sapiente impedit rerum ea nostrum quas! Optio laboriosam natus veniam, magni
                        obcaecati sequi atque tempore ipsum?
                    </p>


                    <mat-toolbar class="bottom_social">
                        <a routerLink="/blog-details">read more</a>
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>


            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/blog_first_image.jpg">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati eos, a iste minima
                        cumque
                        sunt facere voluptatum architecto rerum, magni, veritatis itaque assumenda fugit maxime
                        laboriosam
                        iusto hic ratione. Sunt molestias, ut ex laborum, eius voluptates quae illum sit ea corrupti
                        nemo
                        optio sequi consequatur nesciunt eaque quas a, non cum nulla? Praesentium deleniti quae nostrum,
                        suscipit nesciunt beatae optio ex nobis. Aspernatur exercitationem vitae quidem non veniam
                        debitis
                        eveniet! Id minus praesentium, reiciendis, dolor officiis aspernatur, amet iure vitae corrupti
                        consequatur dolorum sapiente impedit rerum ea nostrum quas! Optio laboriosam natus veniam, magni
                        obcaecati sequi atque tempore ipsum?
                    </p>


                    <mat-toolbar class="bottom_social">
                        <a routerLink="/blog-details">read more</a>
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>


            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/blog_first_image.jpg">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati eos, a iste minima
                        cumque
                        sunt facere voluptatum architecto rerum, magni, veritatis itaque assumenda fugit maxime
                        laboriosam
                        iusto hic ratione. Sunt molestias, ut ex laborum, eius voluptates quae illum sit ea corrupti
                        nemo
                        optio sequi consequatur nesciunt eaque quas a, non cum nulla? Praesentium deleniti quae nostrum,
                        suscipit nesciunt beatae optio ex nobis. Aspernatur exercitationem vitae quidem non veniam
                        debitis
                        eveniet! Id minus praesentium, reiciendis, dolor officiis aspernatur, amet iure vitae corrupti
                        consequatur dolorum sapiente impedit rerum ea nostrum quas! Optio laboriosam natus veniam, magni
                        obcaecati sequi atque tempore ipsum?
                    </p>


                    <mat-toolbar class="bottom_social">
                        <a routerLink="/blog-details">read more</a>
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>


            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/blog_first_image.jpg">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati eos, a iste minima
                        cumque
                        sunt facere voluptatum architecto rerum, magni, veritatis itaque assumenda fugit maxime
                        laboriosam
                        iusto hic ratione. Sunt molestias, ut ex laborum, eius voluptates quae illum sit ea corrupti
                        nemo
                        optio sequi consequatur nesciunt eaque quas a, non cum nulla? Praesentium deleniti quae nostrum,
                        suscipit nesciunt beatae optio ex nobis. Aspernatur exercitationem vitae quidem non veniam
                        debitis
                        eveniet! Id minus praesentium, reiciendis, dolor officiis aspernatur, amet iure vitae corrupti
                        consequatur dolorum sapiente impedit rerum ea nostrum quas! Optio laboriosam natus veniam, magni
                        obcaecati sequi atque tempore ipsum?
                    </p>


                    <mat-toolbar class="bottom_social">
                        <a routerLink="/blog-details">read more</a>
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>
        </mat-card-content>
        <mat-card-content class="sh_blog_content_right">
            <mat-card-content class="searchbar">
                <input type="text" placeholder="Search Blogs">
                <button mat-button>Go</button>
            </mat-card-content>

            <mat-card-content class="other_blog_posts">
                <h2>category (5)</h2>
                <mat-accordion>
                    <mat-expansion-panel class="other_blog_expansion">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="panel_title">
                                Event <span> (10)</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-list class="other_listed_items">
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>

                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>

                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>

                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>


                        </mat-list>

                    </mat-expansion-panel>

                    <mat-expansion-panel class="other_blog_expansion">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="panel_title">
                                Sports <span> (15)</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-list class="other_listed_items">
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                            <a mat-list-item routerLink="routeName">subrata Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Deserunt dolor blanditiis,
                                beatae velit sit sed! </a>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-card-content>

            <mat-card-content class="other_blog_posts">
                <h2>other blog posts</h2>

                <mat-list class="other_listed_items">
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>


                </mat-list>


            </mat-card-content>
        </mat-card-content>
    </mat-card-content>
</mat-card-content>


<app-frontend-footer></app-frontend-footer>