<mat-card-content class="modal_content">
  <mat-card-content class="img_wrapper">
    <img src="../../../../assets/images/team_member_image.jpg">
  </mat-card-content>

<!-- <img src="https://4.bp.blogspot.com/-0Wwqn009dkY/WlEXudEAgSI/AAAAAAAAbNc/QcYMXoTln7U94A8ZorzUxioMs9fjPrjKwCLcBGAs/s1600/Photographer.jpg"> -->
<mat-card-content class="person_name">  {{data.membername}}</mat-card-content>
<mat-card-content class="email"><strong>Member Email:</strong>{{data.multipleemail}}</mat-card-content>
<mat-card-content class="phone"><strong>Member Phone:</strong>{{data.multiplephone}}</mat-card-content>
<mat-card-content class="short_desc"><strong>Member Description:</strong>{{data.description}}</mat-card-content>
