.sh_buyfrmus_topblock { background: url("../../../../assets/images/ourteamBanner.jpg") no-repeat 100% center; background-size: cover;}
.sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper { padding:  60px 790px 60px 6.5%; }
.sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper .header { font-family: "RobotoBold"; font-size: 90px; text-transform: uppercase; color: #fff; margin-bottom: 0; line-height: 75px;}
.sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper .paragraph { font-family: "RobotoMedium"; font-size: 30px; color: #89fbff; margin-top: 20px; margin-bottom: 0; }
.sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper .sub_para { font-family: "RobotoMedium"; font-size: 24px; color: #89fbff; margin-top: 25px; padding-right: 110px; }
.sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper .manufac_action_btn { width: 290px; background: #111214; font-family: "RobotoMedium"; font-size: 30px; color: #fff; text-transform: uppercase; padding: 10px; border-radius: 0; text-align:center; margin-top: 20px; }

.total_team_sec { width: 1665px; margin:0 auto;}
.total_team_sec .image_wrapper{ text-align: center; margin-bottom: 0;}
.total_team_sec .image_wrapper img{ max-width: 100%; display: block; }
.total_team_sec .content_wrapper { background: #1272c2; position: relative; }
.total_team_sec .content_wrapper::after { content: ''; display: inline-block; background: #0667b9; position: absolute; top: 0; right: 0; height: 100%; width: 50%; clip-path: polygon(90% 0, 100% 0, 84% 100%, 0% 100%);}

.total_team_sec .content_wrapper .content_wrapper_inner{ position: relative; z-index: 1; padding: 30px 80px; text-align: center; }
.total_team_sec .content_wrapper .content_wrapper_inner .team_title{font-family: "RobotoMedium"; font-size: 30px; color: #fff; line-height: 34px; border-bottom: 2px solid #004b8a; padding-bottom: 20px; margin-bottom: 22px; }
.total_team_sec .content_wrapper .content_wrapper_inner .sub_title{font-family: "RobotoMedium"; font-size: 18px; color: #fff; text-transform: uppercase; }
.total_team_sec .content_wrapper .content_wrapper_inner .team_paragraph{font-family: "RobotoRegular"; font-size: 16px; color: #fff; }

.Team_members_block{ background: linear-gradient(0deg, #eaeaea, transparent); width: 1665px; margin: 20px auto; display: flex; flex-wrap: wrap; justify-content: center; }
.Team_members_block .team_items { width: 23%; background: #fff; border: 1px solid #dadada; position: relative; min-height: 200px; text-align: center; margin: 0.9%;  margin-top: 160px;}
.Team_members_block .team_items .member_image  { position: absolute; top: -120px; clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%); left: 15%; width: 70%; }


.Team_members_block .team_items .member_image img{ max-width: 100%;}
.Team_members_block .team_items .member_content_wrapper .title{ font-family: "RobotoMedium"; font-size: 20px; color: #151515;  text-transform: uppercase; }
.Team_members_block .team_items .member_content_wrapper .phone{ font-family: "RobotoRegular"; font-size: 20px; color: #151515; margin: 10px 0; }
.Team_members_block .team_items .member_content_wrapper .email{ font-family: "RobotoRegular"; font-size: 20px; color: #151515; margin: 10px 0; }
.Team_members_block .team_items .member_content_wrapper .short_desc{ font-family: "RobotoRegular"; font-size: 16px; color: #151515;   }
.Team_members_block .team_items .member_content_wrapper { margin-top: 45%; padding: 0 20px; }
.Team_members_block .team_items  .view_details{ font-family: "RobotoBold"; font-size: 30px; background: #1069b5; color: #fff; border-radius: 0; width: 100%;       text-transform: uppercase; padding: 10px; }


Team_members_block{ width: 100%; margin: 20px auto; display: flex; flex-wrap: wrap; }
.Team_members_block .team_items { width: 23%; background: #fff; border: 1px solid #dadada; position: relative; min-height: 200px; text-align: center; margin: 0.9%;
    margin-top: 160px;margin-bottom: 40px;    box-shadow: 0px 3px 3px 0px #969696;}
.Team_members_block .team_items .member_image  {
    position: absolute;
    top: -159px;
    -webkit-clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
    clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
    left: 15%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    height: 286px;
 }


.Team_members_block .team_items .member_image img{ max-width: 100%;min-height: 100%;}
.Team_members_block .team_items .member_content_wrapper .title{ font-family: "HelveticaBold"; font-size: 20px; color: #151515;  text-transform: uppercase;  border-bottom: 2px solid #ddd;
  padding-bottom: 5px; }
.Team_members_block .team_items .member_content_wrapper .phone{ font-family: "Helvetica-Normal"; font-size: 20px; color: #151515; margin: 10px 0; }
.Team_members_block .team_items .member_content_wrapper .email{ font-family: "Helvetica-Normal"; font-size:16px; color: #151515; margin: 10px 0; margin-bottom: 0;}
.Team_members_block .team_items .member_content_wrapper .short_desc{ font-family: "Helvetica-Normal"; font-size: 16px; color: #151515;   }
.Team_members_block .team_items .member_content_wrapper h4{ font-family: "Helvetica-Normal"; font-size: 20px; color: #151515; font-weight: normal;margin: 0;}
.Team_members_block .team_items .member_content_wrapper { margin-top: 45%; padding: 0 20px; }
.Team_members_block .team_items  .view_details{ font-family: "HelveticaBold"; font-size: 30px; background: #1272c2; color: #fff; border-radius: 0; width: 100%; font-weight: normal; text-transform: uppercase; padding: 10px; padding-top: 15px;  }
.Team_members_block .team_items:nth-child(odd) .view_details {background: #3ec5f2;}

.team_items:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -16px;
    width: 76%;
    height: 310px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.03);
    -webkit-clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
    clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
}
.team_items:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -16px;
    width: 74%;
    height: 300px;
    transform: translate(-50%, -50%);
    background: #ffffff;
    -webkit-clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
    clip-path: polygon(50% 0, 100% 22%, 100% 70%, 50% 100%, 0 76%, 0 24%);
}



/* modal */
.modal_content{ position: relative; margin-bottom: 0;}
  .modal_content .bg{ height: 180px; padding-top: 40px; background: linear-gradient(0deg, #10a38a, #1B9ABD); margin-bottom: 0;}
.modal_content .img_wrapper{ width: 280px; margin: 0 auto; background: #d1c6a8; border: 4px solid #fff; margin-bottom: 0; display: flex; align-items: center; justify-content: center;
  border-radius: 50%; overflow: hidden; box-shadow: 0px 2px 6px 1px #a7a6a6;}
  .modal_content .img_wrapper img{ max-width: 100%;}
.modal_content .person_name{color: #127dd6; text-transform: uppercase; font-family: "HelveticaBold"; font-size: 32px; text-align: center; }

.phone,
.email{ font-family: "RobotoRegular"; font-size: 20px; color: #151515; margin: 10px 0; }
.short_desc{ font-family: "RobotoRegular"; font-size: 16px; color: #151515; margin-bottom: 0; }
.modal_content .details { margin-top: 110px; padding: 20px;}
.modal_content .details .about{ font-family: "HelveticaBold"; font-size: 20px; color: #000; padding-bottom: 5px; margin-bottom: 24px; border-bottom: 1px solid #ddd; }
.modal_content .details  fieldset{ border: 1px solid #ddd; }
.modal_content  .button_wrapper{ text-align: center; display: block; margin: 20px 0; }
.modal_content  .button_wrapper button{ width: 240px; border-radius: 25px; padding: 5px; }
.modal_content .contact_wrapper{ display: flex; justify-content: space-between; }
.modal_content .contact_wrapper .itemss { width: 100%; margin-bottom: 0; }
.modal_content .contact_wrapper .itemss .header-title {font-size: 18px; font-family: "HelveticaRegular"; color: #3c3c3c; width: 100%; }
.modal_content .contact_wrapper .itemss .email {font-size: 16px; font-family: "HelveticaRegular"; color: #7b7b7b; position: relative;  width: 100%; padding-left: 20px;}
.modal_content .contact_wrapper .itemss .email::before {content: '\2726'; display: inline-block; font-size: 20px; font-family: "HelveticaRegular"; color: #ff0000; position: absolute;
  top: -6px; left: 0; }
.modal_content .contact_wrapper .itemss .shape {font-size: 16px; font-family: "HelveticaRegular"; color: red;}


@media screen and (max-width: 1800px){
.total_team_sec { width: 90%; }
.Team_members_block { width: 90%; }
}
@media screen and (max-width: 1500px){
.Team_members_block .team_items .member_content_wrapper {
    margin-top: 35%;
     padding: 0 20px;
    }
}
@media screen and (max-width: 576px){
  .modal_content .img_wrapper { width: 220px;}
  .modal_content .details { margin-top: 45px; }
}
@media screen and (max-width: 360px){
  .modal_content .img_wrapper { width: 200px;}
}
/*  */



@media screen and (max-width: 1740px){
  .contact_banner_wrapper_text {
      margin: 0 0 0 14%;
  }
}
@media screen and (max-width: 1700px){
  .asgpcontainer{width: 96%;}
}
@media screen and (max-width: 1620px){
  .contact_banner{
      background-position: right -140px top !important;
  }
}
@media screen and (max-width: 1600px){
.Team_members_block .team_items .member_image { height: 241px;}
.team_items:after { top: -39px; height: 262px;}
.team_items:before { top: -39px; height: 270px;}
.sh_buyfrmus_topblock{ background-position: 76% center; background-size: cover; }
}

@media screen and (max-width: 1500px){
.Team_members_block .team_items .member_content_wrapper { margin-top: 35%; padding: 0 20px; }

}
@media screen and (max-width: 1460px){
  .contact_banner_wrapper_text { margin: 0 0 0 6%;}
  .sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper { padding: 60px 645px 60px 4.5%; }
}
@media screen and (max-width: 1620px){
  .contact_banner{ background-position: right -261px top !important; }
}
@media screen and (max-width: 1300px){
  .Team_members_block .team_items { width: 31%;}
  .sh_buyfrmus_topblock { background-position: 67% center; }
  .sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper { padding: 60px 545px 60px 4.5%; }
  .sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper .paragraph { font-size: 26px; }
  .sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper .manufac_action_btn { width: 270px; font-size: 28px; padding: 7px; }
  .sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper .header { font-size: 80px; }
}

@media screen and (max-width: 1199px){
  .contact_banner {
      background-position: right top !important;
      background-size: 182% !important;
      padding-top: 39%;
      padding-bottom: 0 !important;
      height: auto !important;
  }
  .contact_banner_wrapper_text {
      margin: 0 auto;
      width: 100%;
  }
  .contact_banner_wrapper{height: auto;}
  .sh_buyfrmus_topblock { background-position: 100% top; background-size: 203%; padding-top: 48%; background-color: #4493d6; }
  .sh_buyfrmus_topblock .sh_buyfrmus_content_wrapper {  padding: 30px; }
}
@media screen and (max-width: 991px){
  .ceadchnbarcontainer{
      flex-wrap: wrap;
  }
  .Team_members_block .team_items {
      width: 47%;
  }
  .Team_members_block .team_items .member_image{width: 229px;left: 50%; transform: translatex(-50%);}
  .team_items:after{width: 247px;}
  .team_items:before{width: 255px;}
  .ceadchnbarcontainer mat-list-item span{width: 94px;}
  .gpsearchbuttonwrapper{margin: 0 auto;}

}

@media screen and (max-width: 680px){
  .Team_members_block .team_items {
      width: 100%;
  }
}

@media screen and (max-width: 600px){
  .contact_banner_wrapper_text h3{width: 100%;}
}
