<app-frontend-header></app-frontend-header>
<mat-card-content class="sh_buyfrmus_topblock">
    <mat-card-content class="sh_buyfrmus_content_wrapper">
        <h2 class="header">Our team</h2>
        <p class="paragraph">
            Just like any other successful organization, we have a group of talented and well-trained professionals, who
            work tirelessly to offer top-notch services to our clients and partners. It is to them that we owe our
            thanks for the grand success we have been able to achieve.
        </p>

        <button mat-button class="manufac_action_btn" routerLink="/inventory"> view inventory</button>
    </mat-card-content>
</mat-card-content>
<!-- end one -->


<mat-card-content class="total_team_sec">
    <mat-card-content class="image_wrapper">
        <img src="../../../../assets/images/teamTotal_banner.jpg">
    </mat-card-content>

    <mat-card-content class="content_wrapper">
        <mat-card-content class="content_wrapper_inner">
            <mat-card-title class="team_title">With A Team Knows What They Do And Have Updated Information About The
                Industry, You Only Deal With People At The Top Of Their Game, Making It Easy And Convenient For You To
                Buy And Sell Medical Equipment, And Take Your Medical Institutions To The Top Of The Healthcare
                Industry.</mat-card-title>

            <mat-card-content class="sub_title">
                Our team of Salespeople includes some of the most skilled and well-equipped people working with the
                industry dealing with the sale of medical equipment and supplies.

            </mat-card-content>

            <p class="team_paragraph">
                While we lay great emphasis on the capabilities and experience of our salespeople, we also work with
                them to ensure that they are well-equipped with proper knowledge and training about the latest trends
                and developments in the industry. On the other hand, our Closing-Desk comprises of some of the most
                efficient closers in the industry, with the ability to close deals and sell your old equipment with
                great speed and reliability, making them absolute GO-GETTERS!
            </p>
        </mat-card-content>
    </mat-card-content>
</mat-card-content>


<mat-card-content class="Team_members_block">
    <mat-card-content class="team_items">
        <mat-card-content class="member_image">
            <img src="../../../../assets/images/team_member_image.jpg">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">Lorem ipsum dolor sit amet.</mat-card-title>
            <p class="phone"> 889765432 </p>
            <p class="email">email@emil.com</p>
            <p class="short_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quo.</p>
        </mat-card-content>
        <button mat-button class="view_details" color="primary">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image">
            <img src="../../../../assets/images/team_member_image.jpg">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">Lorem ipsum dolor sit amet.</mat-card-title>
            <p class="phone"> 889765432 </p>
            <p class="email">email@emil.com</p>
            <p class="short_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quo.</p>
        </mat-card-content>
        <button mat-button class="view_details" color="primary">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image">
            <img src="../../../../assets/images/team_member_image.jpg">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">Lorem ipsum dolor sit amet.</mat-card-title>
            <p class="phone"> 889765432 </p>
            <p class="email">email@emil.com</p>
            <p class="short_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quo.</p>
        </mat-card-content>
        <button mat-button class="view_details" color="primary">view details</button>
    </mat-card-content>
    <mat-card-content class="team_items">
        <mat-card-content class="member_image ">
            <img src="../../../../assets/images/team_member_image.jpg">
        </mat-card-content>

        <mat-card-content class="member_content_wrapper">
            <mat-card-title class="title">Lorem ipsum dolor sit amet.</mat-card-title>
            <p class="phone"> 889765432 </p>
            <p class="email">email@emil.com</p>
            <p class="short_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quo.</p>
        </mat-card-content>
        <button mat-button class="view_details" color="primary">view details</button>
    </mat-card-content>
</mat-card-content>







<!-- 

<mat-card-content class="images">
    <img src="/assets/images/ourTeam1.jpg">
</mat-card-content> -->
<!-- <mat-card-content class="images">
    <img src="/assets/images/ourTeam2.jpg">
</mat-card-content> -->
<!-- <mat-card-content class="images">
    <img src="/assets/images/ourTeam3.jpg">
</mat-card-content> -->
<app-frontend-footer></app-frontend-footer>