<app-adminheader>
  <span class="listingnewstyle manageTeam">
    <span class="dashboardcontainer">
      <span class="aslist_view">
        <mat-card class="main_wrapper ">
          <lib-add-edit-team [serverUrl]="serverUrl" [addEndpoint]="addendpoint" [getDataEndpoint]="getdataEndpoint"
            [ListRoute]="listPageRoute" [imageUpload]="configData" [singleData]="teamDataList" [SourceName]="sourceName"
            [CategorySourceName]="categorySourceName"></lib-add-edit-team>
        </mat-card>
      </span>
    </span>
  </span>
</app-adminheader>
