<app-frontend-header></app-frontend-header>

<mat-card-content class="cart_wrapper">
  <mat-card-title class="cart_title">my quote (10)</mat-card-title>

  <mat-card-content class="cart_item_wrapper">
    <mat-card-content class="cart_item">
      <mat-card-content class="image_wrapper">
        <img src="../../../../assets/images/invItemimage1.jpg">
      </mat-card-content>

      <mat-card-content class="cart_content">
        <table class="cart_table">
          <tr>
            <th>SKU # :</th>
            <td>911727</td>
          </tr>
          <tr>
            <th>Product Name :</th>
            <td>Nebulizer Kits</td>
          </tr>
          <tr>
            <th>Manufacturer :</th>
            <td>Lorem Ipsum</td>
          </tr>
        </table>

        <mat-toolbar class="acctions">
          <mat-card-content class="quantity">
            <p>qty</p>
            <span class="counter_wrapper">
              <span class="inner_box">
                <span class="boxes">1</span>
                <span class="counter">
                  <a (click)="plus()"><i class="material-icons"> keyboard_arrow_up </i></a>
                  <a (click)="minus()"><i class="material-icons"> keyboard_arrow_down </i></a>
                </span>
              </span>

              <button mat-button class="remove">Remove</button>
            </span>
          </mat-card-content>
        </mat-toolbar>
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="cart_item">
      <mat-card-content class="image_wrapper">
        <img src="../../../../assets/images/invItemimage2.jpg">
      </mat-card-content>

      <mat-card-content class="cart_content">
        <table class="cart_table">
          <tr>
            <th>SKU # :</th>
            <td>911727</td>
          </tr>
          <tr>
            <th>Product Name :</th>
            <td>Nebulizer Kits</td>
          </tr>
          <tr>
            <th>Manufacturer :</th>
            <td>Lorem Ipsum</td>
          </tr>
        </table>

        <mat-toolbar class="acctions">
          <mat-card-content class="quantity">
            <p>qty</p>
            <span class="counter_wrapper">
              <span class="inner_box">
                <span class="boxes">1</span>
                <span class="counter">
                  <a (click)="plus()"><i class="material-icons"> keyboard_arrow_up </i></a>
                  <a (click)="minus()"><i class="material-icons"> keyboard_arrow_down </i></a>
                </span>
              </span>

              <button mat-button class="remove">Remove</button>
            </span>
          </mat-card-content>
        </mat-toolbar>
      </mat-card-content>
    </mat-card-content>

    <mat-card-content class="cart_item">
      <mat-card-content class="image_wrapper">
        <img src="../../../../assets/images/invItemimage3.jpg">
      </mat-card-content>

      <mat-card-content class="cart_content">
        <table class="cart_table">
          <tr>
            <th>SKU # :</th>
            <td>911727</td>
          </tr>
          <tr>
            <th>Product Name :</th>
            <td>Nebulizer Kits</td>
          </tr>
          <tr>
            <th>Manufacturer :</th>
            <td>Lorem Ipsum</td>
          </tr>
        </table>

        <mat-toolbar class="acctions">
          <mat-card-content class="quantity">
            <p>qty</p>
            <span class="counter_wrapper">
              <span class="inner_box">
                <span class="boxes">1</span>
                <span class="counter">
                  <a (click)="plus()"><i class="material-icons"> keyboard_arrow_up </i></a>
                  <a (click)="minus()"><i class="material-icons"> keyboard_arrow_down </i></a>
                </span>
              </span>

              <button mat-button class="remove">Remove</button>
            </span>
          </mat-card-content>
        </mat-toolbar>
      </mat-card-content>
    </mat-card-content>


    <mat-card-content class="cart_item">
      <mat-card-content class="image_wrapper">
        <img src="../../../../assets/images/invItemimage4.jpg">
      </mat-card-content>

      <mat-card-content class="cart_content">
        <table class="cart_table">
          <tr>
            <th>SKU # :</th>
            <td>911727</td>
          </tr>
          <tr>
            <th>Product Name :</th>
            <td>Nebulizer Kits</td>
          </tr>
          <tr>
            <th>Manufacturer :</th>
            <td>Lorem Ipsum</td>
          </tr>
        </table>

        <mat-toolbar class="acctions">
          <mat-card-content class="quantity">
            <p>qty</p>
            <span class="counter_wrapper">
              <span class="inner_box">
                <span class="boxes">1</span>
                <span class="counter">
                  <a (click)="plus()"><i class="material-icons"> keyboard_arrow_up </i></a>
                  <a (click)="minus()"><i class="material-icons"> keyboard_arrow_down </i></a>
                </span>
              </span>

              <button mat-button class="remove">Remove</button>
            </span>
          </mat-card-content>
        </mat-toolbar>
      </mat-card-content>
    </mat-card-content>


    <mat-card-content class="cart_item">
      <mat-card-content class="image_wrapper">
        <img src="../../../../assets/images/invItemimage5.jpg">
      </mat-card-content>

      <mat-card-content class="cart_content">
        <table class="cart_table">
          <tr>
            <th>SKU # :</th>
            <td>911727</td>
          </tr>
          <tr>
            <th>Product Name :</th>
            <td>Nebulizer Kits</td>
          </tr>
          <tr>
            <th>Manufacturer :</th>
            <td>Lorem Ipsum</td>
          </tr>
        </table>

        <mat-toolbar class="acctions">
          <mat-card-content class="quantity">
            <p>qty</p>
            <span class="counter_wrapper">
              <span class="inner_box">
                <span class="boxes">1</span>
                <span class="counter">
                  <a (click)="plus()"><i class="material-icons"> keyboard_arrow_up </i></a>
                  <a (click)="minus()"><i class="material-icons"> keyboard_arrow_down </i></a>
                </span>
              </span>

              <button mat-button class="remove">Remove</button>
            </span>
          </mat-card-content>
        </mat-toolbar>
      </mat-card-content>
    </mat-card-content>


    <mat-card-content class="cart_item">
      <mat-card-content class="image_wrapper">
        <img src="../../../../assets/images/invItemimage1.jpg">
      </mat-card-content>

      <mat-card-content class="cart_content">
        <table class="cart_table">
          <tr>
            <th>SKU # :</th>
            <td>911727</td>
          </tr>
          <tr>
            <th>Product Name :</th>
            <td>Nebulizer Kits</td>
          </tr>
          <tr>
            <th>Manufacturer :</th>
            <td>Lorem Ipsum</td>
          </tr>
        </table>

        <mat-toolbar class="acctions">
          <mat-card-content class="quantity">
            <p>qty</p>
            <span class="counter_wrapper">
              <span class="inner_box">
                <span class="boxes">1</span>
                <span class="counter">
                  <a (click)="plus()"><i class="material-icons"> keyboard_arrow_up </i></a>
                  <a (click)="minus()"><i class="material-icons"> keyboard_arrow_down </i></a>
                </span>
              </span>

              <button mat-button class="remove">Remove</button>
            </span>
          </mat-card-content>
        </mat-toolbar>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="button_wrapper" >
    <button class="cart_action" mat-button color="accent">get quote</button>
  </mat-card-content>
</mat-card-content>


<app-frontend-footer></app-frontend-footer>