<app-adminheader>
    <h1>Inventory Category List</h1>
    <!-- Add Admin Button  -->
    <mat-toolbar class="buttonsetToolbar">
        <button class="singleButton" mat-raised-button color="accent"
            [routerLink]="['/inventory/manage-inventory/inventory-category/add']">Add Inventory Category</button>
        <button class="singleButton" mat-raised-button color="primary"
            [routerLink]="['/inventory/manage-inventory/brand/list']">Brand</button>
    </mat-toolbar>


    <!-- Listing goes here  -->
    <lib-listing *ngIf="inventoryCategoryData != null && inventoryCategoryData.length>0"
        [datasource]="inventoryCategoryData" [skip]="inventoryCategoryData_skip"
        [modify_header_array]="inventoryCategoryData_modify_header" [sourcedata]="tableName" [apiurl]="apiUrl"
        [editroute]="editUrl" [jwttoken]="user_cookie" [statusarr]="status" [updateendpoint]="UpdateEndpoint"
        [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="searchingEndpoint" [date_search_source]="tableName"
        [search_settings]="search_settings"
        [detail_datatype]="inventoryCategoryData.pendingmodelapplicationarray_detail_datatype">
    </lib-listing>

    <h2 *ngIf="inventoryCategoryData.length == 0">No record found.</h2>
    <!-- Listing ends here  -->

</app-adminheader>