<app-adminheader>
    <mat-card class="main_wrapper">
        <mat-card-content class="inventory_banner">
            <mat-card-title class="inventory_title">Inventory Category</mat-card-title>
            <p class="inventory_para">Expansive Inventory Listing For An One-Stop-Shop For All Your Hospital Equipment
                Needs</p>
        </mat-card-content>
        <mat-card-content class="bred_cram_wrapper">
            <a mat-list-item routerLinkActive="active activebread" routerLink="/dashboard-admin"> Dashboard </a>
            <a mat-list-item routerLinkActive="active activebread"
                routerLink="/inventory/manage-inventory/inventory-category/list">Inventory Category & Brand list</a>


        </mat-card-content>
        <!-- Add Admin Button  -->
        <!-- <mat-toolbar class="buttonsetToolbar">
            <button class="singleButton" mat-raised-button
                [routerLink]="['/inventory/manage-inventory/inventory-category/add']">Category</button>
            <button class="singleButton" mat-raised-button
                [routerLink]="['/inventory/manage-inventory/brand/list']">Brand</button>
        </mat-toolbar> -->


        <!-- tab section for category -->
        <mat-tab-group class="brand_group">
            <mat-tab label="Category">


                <mat-card-content class="tabs_wrapper">
                    <mat-toolbar class="content_header_wrapper">
                        <mat-card-title class="toolbar_header">inventory Category list </mat-card-title>
                        <button class="singleButton" mat-raised-button [routerLink]="['/inventory/manage-inventory/inventory-category/add']">
                            <mat-icon fontSet="fontawesome" fontIcon="fa-plus"></mat-icon>Add Category
                        </button>
                    </mat-toolbar>



                    <!-- Listing goes here  -->
                    <lib-listing *ngIf="inventoryCategoryData != null && inventoryCategoryData.length>0"
                        [datasource]="inventoryCategoryData" [skip]="inventoryCategoryData_skip"
                        [modify_header_array]="inventoryCategoryData_modify_header" [sourcedata]="tableName"
                        [apiurl]="apiUrl" [editroute]="editUrl" [jwttoken]="user_cookie" [statusarr]="status"
                        [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint"
                        [date_search_endpoint]="searchingEndpoint" [date_search_source]="tableName"
                        [search_settings]="search_settings"
                        [detail_datatype]="inventoryCategoryData.pendingmodelapplicationarray_detail_datatype">
                    </lib-listing>

                    <h2 *ngIf="inventoryCategoryData.length == 0">No record found.</h2>
                    <!-- Listing ends here  -->




                </mat-card-content>
            </mat-tab>


             <!-- tab section for brand -->

            <mat-tab label="Brand">
                <mat-card-content class="tabs_wrapper">
                    <mat-toolbar class="content_header_wrapper">
                        <mat-card-title class="toolbar_header">inventory Brand list </mat-card-title>
                        <button class="singleButton" mat-raised-button [routerLink]="['/inventory/manage-inventory/brand/add']">
                            <mat-icon fontSet="fontawesome" fontIcon="fa-plus"></mat-icon>Add Brand
                        </button>
                    </mat-toolbar>

                     <!-- Listing goes here  -->
                     <lib-listing *ngIf="brandData != null && brandData.length>0"
                        [datasource]="brandData" 
                        [skip]="brandData_skip"
                        [modify_header_array]="brandData_modify_header"
                        [sourcedata]="tableNameBrand"
                        [apiurl]="apiUrlBrand"
                        [editroute]="editUrlBrand" 
                        [jwttoken]="token" 
                        [statusarr]="statusBrand" 
                        [updateendpoint]="UpdateEndpointBrand"
                        [deleteendpoint]="deleteEndpointBrand" 
                        [date_search_endpoint]="searchingEndpointBrand" 
                        [date_search_source]="tableNameBrand"
                        [search_settings]="search_settingsBrand"
                        [detail_datatype]="brandData.pendingmodelapplicationarray_detail_datatype">
                    </lib-listing>
                
                    <h2 *ngIf="brandData.length == 0">No record found.</h2>
                    <!-- Listing ends here  -->


                </mat-card-content>

            </mat-tab>
            
        </mat-tab-group>
    
        
        <!--end  tab section -->






    </mat-card>
</app-adminheader>