<app-adminheader>
  <span class="listingnewstyle salesreplistingnewstyle ">
    <span class="dashboardcontainer">
      <mat-card class="main_wrapper">

        <!-- Add Brand Button  -->
        <mat-toolbar class="content_header_wrapper">
          <mat-card-title class="toolbar_header">Package List </mat-card-title>
          <button class="singleButton" mat-raised-button routerLink="/admin/manage-hospital-package/add">Add</button>
        </mat-toolbar>

        <lib-listing *ngIf="adminData != null && adminData.length>0" [datasource]="adminData" [skip]="adminData_skip"
          [modify_header_array]="adminData_modify_header" [sourcedata]="tableName" [apiurl]="apiUrl"
          [editroute]="editUrl" [jwttoken]="cookieService.get('jwtToken')" [statusarr]="status"
          [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="searchingEndpoint"
          [date_search_source]="view" [search_settings]="search_settings" [detail_skip_array]="detail_header">
        </lib-listing>

      </mat-card>
    </span>
  </span>

  </app-adminheader>
