<app-adminheader>
    <span class="team-category-newspan"  >
        <button type="button" class="team-category-btn"  routerLink="/manage-websites/team/list">Manage Team</button>
    
   
    <lib-list-team
    [TeamData]="allTeamData"
    [serverUrl]="serverUrl"
    [EditRoute]="editpageRoute"
    [addButtonRoute]="addPageRoute"
    [ManageButtonRoute]="manageButtonRoute"
    [UpdateRoute]="updateendpoint"
    [DeleteEndpoint]="deleteEndpoint"
    [Token]="jwtToken"
    [SourceName]="sourceName"
    [SearchEndpoint]="searchendpoint"></lib-list-team></span>
</app-adminheader>