<app-adminheader>
  <span class="listingnewstyle manageTeam">
    <span class="dashboardcontainer">
      <span class="aslist_view">
        <mat-card class="main_wrapper ">

          <span class="team-category-newspan">
            <lib-list-team 
            [TeamData]="allTeamData" 
            [serverUrl]="serverUrl" 
            [EditRoute]="editpageRoute"
            [addButtonRoute]="addPageRoute"  
            [UpdateRoute]="updateendpoint"
            [DeleteEndpoint]="deleteEndpoint" 
            [Token]="jwtToken" 
            [SourceName]="sourceName"
            [SearchEndpoint]="searchendpoint" 
            [SearchSourceName]="searchSourceName"
            
              [ManageButtonRoute]="manageButtonRoute"
              [TeamAllData]="TeamAllData"
              [EditTeamRoute]="EditTeamRoute"
              [UpdateTeamRoute]="UpdateTeamRoute"
              [TokenTeam]="TokenTeam"
              [SourceNameTeam]="SourceNameTeam"
              [SearchSourceNameTeam]="SearchSourceNameTeam"
              [SearchEndpointTeam]="SearchEndpointTeam"
              [DeleteEndpointTeam]="DeleteEndpointTeam"
              [serverUrlTeam]="serverUrlTeam"></lib-list-team>
          </span>
        </mat-card>
      </span>
    </span>
  </span>
</app-adminheader>
