<app-frontend-header></app-frontend-header>

<mat-card-content class="home_wrapper">
  <mat-card-content class="home_top">
    <mat-card-content class="container">
      <mat-card-content class="content_wrapper">
        <mat-card-title class="top_head"> Hospital Partners You Want For Your Medical Facility </mat-card-title>
        <mat-card-subtitle class="top_title"> Setting Industry Standards Since 1999 </mat-card-subtitle>
        <span class="icon_wrapper">
          <img src="../../../../assets/images/mcaffe_icon.png">
          <img src="../../../../assets/images/gurantee_icon.png">
          <img src="../../../../assets/images/moneyBack.png">
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="home_bottom">
    <mat-card-content class="container">
      <mat-card-content class="main_content">
        <mat-card-content class="main_content_items">
          <span class="image_wrapper">
            <img src="../../../../assets/images/home_main_item_image.png">
          </span>
          <p class="short_desc">We carry over 100,000+ high-quality national medical supplies - </p>
          <a routerLink="test" class="link">shop with us now </a>
        </mat-card-content>
        <mat-card-content class="main_content_items">
          <span class="image_wrapper">
            <img src="../../../../assets/images/home_main_item_image.png">
          </span>
          <p class="short_desc">We carry over 100,000+ high-quality national medical supplies - </p>
          <a routerLink="test" class="link">shop with us now </a>
        </mat-card-content>
        <mat-card-content class="main_content_items">
          <span class="image_wrapper">
            <img src="../../../../assets/images/home_main_item_image.png">
          </span>
          <p class="short_desc">We carry over 100,000+ high-quality national medical supplies - </p>
          <a routerLink="test" class="link">shop with us now </a>
        </mat-card-content>
      </mat-card-content>

      <mat-card-content class="bottom_content">
        <mat-card-title class="bottom_h">MD Stock International</mat-card-title>
        <p class="para">Providing both domestic and International sales along with unparalleled customer service, our
          competitive pricing is the reason for our success. We are known for its outstanding work ethic, customer care,
          and quality relations we build with Hospitals worldwide.We reach a clientele throughout the Caribbean, Central
          America, South America and Europe.
        </p>
        <p class="para">Mission Statement: To create unique partnership with our customers that enable us precisely to
          provide their medical, pharmaceuticals and laboratory needs and so contribute to their personal and commercial
          success.
        </p>
        <mat-card-subtitle class="sub_h"> We look forward to building a business relationship with your hospital and
          contributing to your personal and commercial success.
        </mat-card-subtitle>
      </mat-card-content>




    </mat-card-content>
  </mat-card-content>
</mat-card-content>


<mat-card-content class="homeGetaQuote">
  <mat-card-content class="Quotecontainer">
    <p class="quoteText"><span> Get A FREE </span>Inventory Purchase Comparison Report. Simply send us your hospital’s
      last month purchase order and we’ll show you how much you could have saved with <span> MD Stock
        International</span>.
    </p>

    <button mat-button class="freeReportButton">get free report</button>
  </mat-card-content>
</mat-card-content>



<!-- product category -->
<mat-card-content class="popularProduct">
  <mat-card-content class="product_container">
    <mat-card-title class="product_title">Popular products</mat-card-title>

    <mat-card-content class="product_item_wrapper">
      <!-- loop start -->
      <mat-card-content class="product_item">
        <mat-card-content class="productimage_wrapper">
          <img src="../../../../assets/images/HomeproductListImage.jpg">
        </mat-card-content>

        <mat-card-content class="product_content">
          <mat-card-title class="product_name">Lorem, ipsum dolor.</mat-card-title>
          <p class="product_desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aperiam, error
            repellat ab accusantium quaerat.</p>

          <mat-toolbar class="button_action">
            <button mat-button> view details</button>
            <button mat-button> add to quote</button>
          </mat-toolbar>
        </mat-card-content>
      </mat-card-content> 
      <!-- loop end -->

      <mat-card-content class="product_item">
        <mat-card-content class="productimage_wrapper">
          <img src="../../../../assets/images/HomeproductListImage2.jpg">
        </mat-card-content>

        <mat-card-content class="product_content">
          <mat-card-title class="product_name">Lorem, ipsum dolor.</mat-card-title>
          <p class="product_desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aperiam, error
            repellat ab accusantium quaerat.</p>

          <mat-toolbar class="button_action">
            <button mat-button> view details</button>
            <button mat-button> add to quote</button>
          </mat-toolbar>
        </mat-card-content>
      </mat-card-content>
      <mat-card-content class="product_item">
        <mat-card-content class="productimage_wrapper">
          <img src="../../../../assets/images/HomeproductListImage3.jpg">
        </mat-card-content>

        <mat-card-content class="product_content">
          <mat-card-title class="product_name">Lorem, ipsum dolor.</mat-card-title>
          <p class="product_desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aperiam, error
            repellat ab accusantium quaerat.</p>

          <mat-toolbar class="button_action">
            <button mat-button> view details</button>
            <button mat-button> add to quote</button>
          </mat-toolbar>
        </mat-card-content>
      </mat-card-content>
      <mat-card-content class="product_item">
        <mat-card-content class="productimage_wrapper">
          <img src="../../../../assets/images/HomeproductListImage4.jpg">
        </mat-card-content>

        <mat-card-content class="product_content">
          <mat-card-title class="product_name">Lorem, ipsum dolor.</mat-card-title>
          <p class="product_desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aperiam, error
            repellat ab accusantium quaerat.</p>

          <mat-toolbar class="button_action">
            <button mat-button> view details</button>
            <button mat-button> add to quote</button>
          </mat-toolbar>
        </mat-card-content>
      </mat-card-content>
      
    </mat-card-content>
  </mat-card-content>
</mat-card-content>

<app-frontend-footer></app-frontend-footer>