<app-frontend-header></app-frontend-header>

<!-- <mat-card-content class="images">
  <img src="/assets/images/hompage1.jpg">
  <button class="view_invntory" mat-button routerLink="/inventory"> View Inventory</button>
</mat-card-content> -->

<!-- slidder -->
<mat-card-content class="slideshow-container">

  <mat-card-content class="mySlides fade">
    <mat-card-content class="numbertext">1 / 3</mat-card-content>
    <img src="assets/images/homePageTopbanner.jpg" style="width:100%">
    <mat-card-content class="text">
      <mat-card-title class="title">Premium Medical & Hospital Equipment </mat-card-title>
      <p class="banner_paragraph">We make premium quality used medical equipment available, from Hospitals that are
        looking to replace them, to other hospitals that need them.
      </p>
      <button mat-button class="action_button" routerLink="/inventory">view inventory</button>
    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="mySlides fade">
    <mat-card-content class="numbertext">2 / 3</mat-card-content>
    <img src="assets/images/homePageTopbanner.jpg" style="width:100%">
    <mat-card-content class="text">
      <mat-card-title class="title">Premium Medical & Hospital Equipment </mat-card-title>
      <p class="banner_paragraph">We make premium quality used medical equipment available, from Hospitals that are
        looking to replace them, to other hospitals that need them.
      </p>
      <button mat-button class="action_button" routerLink="/inventory">view inventory</button>
    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="mySlides fade">
    <mat-card-content class="numbertext">3 / 3</mat-card-content>
    <img src="assets/images/homePageTopbanner.jpg" style="width:100%">
    <mat-card-content class="text">
      <mat-card-title class="title">Premium Medical & Hospital Equipment </mat-card-title>
      <p class="banner_paragraph">We make premium quality used medical equipment available, from Hospitals that are
        looking to replace them, to other hospitals that need them.
      </p>
      <button mat-button class="action_button" routerLink="/inventory">view inventory</button>
    </mat-card-content>
  </mat-card-content>

  <!-- dotted brother -->
  <mat-card-content style="text-align:center" class="dot_section">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </mat-card-content>
</mat-card-content>
<!-- end slider -->

<mat-card-content class="h_part2">
  <mat-card-content class="title_wrapper">
    <mat-card-title class="h_part2_title"> We Are The Medical Partners You Want </mat-card-title>
    <p class="h_part2_paragraph"><b>MD Stock International</b> is the brand you want to partner with for all your
      medical equipment and supplies requirements. If <b>QUALITY</b> is what you’re after, you’re in the right place!
    </p>
  </mat-card-content>
  <mat-card-content class="h_part2_content_wrapper">
    <mat-card-content class="inner_items">
      <span class="icon_wrapper">
          <img src="assets/images/home_buyfrom_icon1.png" class="icons">
      </span>


      <span class="inner_overflow_wrapper">
        <mat-card-title class="item_header"> buy from us</mat-card-title>
        <p class="item_paragraph">Source premium new and used equipment and machinery for hospitals and laboratories at
          competitive prices, unmatched anywhere in the industry, and elevate the quality of Healthcare services offered
          by your Medical Facility.
        </p>
        <button mat-button class="inner_action_button" routerLink="/buy-from-us">view more</button>
      </span>
    </mat-card-content>
    <mat-card-content class="inner_items">
        <span class="icon_wrapper">
            <img src="assets/images/home_buyfrom_icon2.png" class="icons">
        </span>

      <span class="inner_overflow_wrapper">
        <mat-card-title class="item_header">Manufacturer Direct</mat-card-title>
        <p class="item_paragraph">Buy premium quality on-demand equipment and supplies, directly from Manufacturers, for
          your hospitals and laboratories, at competitive retail prices, to improve the quality of your Healthcare
          Services without spending a Fortune.

        </p>
        <button mat-button class="inner_action_button" routerLink="/manufacturar-direct">learn more</button>
      </span>
    </mat-card-content>

    <mat-card-content class="inner_items">
        <span class="icon_wrapper">
            <img src="assets/images/home_buyfrom_icon3.png" class="icons">
        </span>

      <span class="inner_overflow_wrapper">
        <mat-card-title class="item_header">Inventory</mat-card-title>
        <p class="item_paragraph">List old equipment from your hospital or search for your hospital equipment needs from
          an expansive inventory listing thousands of premium machinery, and access multiple choices of top-quality
          medical equipment in one place.

        </p>
        <button mat-button class="inner_action_button" routerLink="/inventory">view inventory</button>
      </span>
    </mat-card-content>

  </mat-card-content>


  <mat-card-content class="h2_parthospital_wrapper">
    <mat-card-content class="h2_parthospital_content">

      <mat-card-content class="inner_content_wrapper">
        <mat-card-title class="h2_parthospital_header">Hospitals Love Our Prices </mat-card-title>
        <mat-card-title class="h2_parthospital_subheader">We want to be your number one supplier for all your hospital
          needs </mat-card-title>
        <p class="h2_parthospital_paragraph">
          We have millions of high quality supplies for your hospital from the brands you can trust without the high
          prices. We specialize in large orders and save hundreds to thousands of dollars for our hospital partners. Our
          pricing is the best in the industry because we have direct to manufacturer relationships. We can put together
          special orders for anything you may need from disposables to hard to find medical equipment.
          <br>
          We can also get you set up with monthly reorders so you can experience our incredible savings
          month after month!
        </p>
        <button mat-button class="h2_parthospital_action_button" routerLink="/contactus"> open an account with
          us</button>
      </mat-card-content>
    </mat-card-content>


    <mat-card-content class="h2_parthospital_content2">

      <mat-card-content class="inner_content_wrapper">
        <mat-card-title class="h2_parthospital_header">Medical Partners</mat-card-title>
        <mat-card-title class="h2_parthospital_subheader">List Your Hospital Equipment With Us</mat-card-title>
        <p class="h2_parthospital_paragraph">
            Want to replace the old equipment from your hospital? List your equipment with us and we will find buyers for you!! We will get the equipment off your hands at the earliest, helping you free up some much-needed space in your hospital for new equipment. As medical partners, we will help you get the best prices for your old equipment and machinery generating immense funds for the new machinery your hospital needs.
<br><br>
            Depending on the current condition of the machinery, we will obtain the best value for you upon sale. Our super-quick listing-and-sale model is catered towards reducing market-value depreciation, giving you the best sale values! We are the partner you want for sourcing and selling your medical equipment!!



        </p>
        <button mat-button class="h2_parthospital_action_button" routerLink="/contactus"> learn more</button>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>



</mat-card-content>


<mat-card-content class="home_aboutus_section">
  <mat-card-content class="home_aboutus_section_content">
    <mat-card-title class="home_aboutus_header">About MD Stock International</mat-card-title>
    <p class="home_about_paragraph">
      With a vision to become the key specialist resource partner to hospitals and healthcare centers, <span> Stock
        International</span> has been a pioneer in the provision of top-notch medical and laboratory equipment,
      supplies,
      pharmaceuticals, chemicals and consumables for two decades. We have the sound experience you can expect operating
      successfully in the space since 1999.
      <br><br>
      Although headquartered in Freeport, Trinidad and Tobago, we have been able to reach and cater to a large clientele
      in the Caribbean, Central America, South America, Europe, Asia and a number of other major countries around the
      globe. <span>Become a Hospital Partner to MD Stock International TODAY!!</span>


    </p>
    <button mat-button class="home_about_action_button"> learn more</button>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="home_blogsection">
  <mat-card-content class="home_content_wrapper">
    <mat-card-content class="header_group">
      <mat-card-title class="blog_header_title"> BLOG POSTS BY OUR TALENTED MEMBERS</mat-card-title>
      <p class="blog_paragraph">Learn about the latest developments, trends, news and other information on the Healthcare industry, from the viewpoint of our team of professionals and highly educated members. Regularly updated blog posts will always keep you up-to-date with everything that’s happening in the industry, from every corner of the globe, and how they impact Patient Care around the world.
      </p>
    </mat-card-content>

    <mat-card-content class="blog_item_wrapper">
      <mat-card-content class="blog_item">
        <mat-card-content class="image_Wrapper">
          <img src="assets/images/blog_image1.jpg">
        </mat-card-content>
        <mat-card-title class="blog_item_header">Lorem Ipsum Simply</mat-card-title>
        <mat-card-subtitle class="blog_item_subheader">july 15/2019</mat-card-subtitle>
        <p class="blog_item_paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero commodi nemo
          eligendi hic quas ipsam obcaecati asperiores iusto? Consequuntur quia exercitationem nesciunt excepturi, iure
          qui unde consequatur sunt minus atque optio impedit placeat nam corporis fuga a hic quo, quisquam magni quae
          culpa nemo numquam. Cum doloribus distinctio qui officia?</p><a class="readmore">read more</a>

        <mat-card-content class="social_wrapper">
          <button mat-button> <i class="fa fa-facebook" aria-hidden="true"></i> </button>
          <button mat-button> <i class="fa fa-twitter" aria-hidden="true"></i></button>
          <button mat-button> <i class="fa fa-pinterest-p" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-envelope-o" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
        </mat-card-content>
      </mat-card-content>
      <mat-card-content class="blog_item">
        <mat-card-content class="image_Wrapper">
          <img src="assets/images/blog_image2.jpg">
        </mat-card-content>
        <mat-card-title class="blog_item_header">Lorem Ipsum Simply</mat-card-title>
        <mat-card-subtitle class="blog_item_subheader">july 15/2019</mat-card-subtitle>
        <p class="blog_item_paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero commodi nemo
            eligendi hic quas ipsam obcaecati asperiores iusto? Consequuntur quia exercitationem nesciunt excepturi, iure
            qui unde consequatur sunt minus atque optio impedit placeat nam corporis fuga a hic quo, quisquam magni quae
            culpa nemo numquam. Cum doloribus distinctio qui officia?</p><a class="readmore">read more</a>

        <mat-card-content class="social_wrapper">
          <button mat-button> <i class="fa fa-facebook" aria-hidden="true"></i> </button>
          <button mat-button> <i class="fa fa-twitter" aria-hidden="true"></i></button>
          <button mat-button> <i class="fa fa-pinterest-p" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-envelope-o" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
        </mat-card-content>
      </mat-card-content>
      <mat-card-content class="blog_item">
        <mat-card-content class="image_Wrapper">
          <img src="assets/images/blog_image3.jpg">
        </mat-card-content>
        <mat-card-title class="blog_item_header">Lorem Ipsum Simply</mat-card-title>
        <mat-card-subtitle class="blog_item_subheader">july 15/2019</mat-card-subtitle>
        <p class="blog_item_paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero commodi nemo
            eligendi hic quas ipsam obcaecati asperiores iusto? Consequuntur quia exercitationem nesciunt excepturi, iure
            qui unde consequatur sunt minus atque optio impedit placeat nam corporis fuga a hic quo, quisquam magni quae
            culpa nemo numquam. Cum doloribus distinctio qui officia?</p><a class="readmore">read more</a>

        <mat-card-content class="social_wrapper">
          <button mat-button> <i class="fa fa-facebook" aria-hidden="true"></i> </button>
          <button mat-button> <i class="fa fa-twitter" aria-hidden="true"></i></button>
          <button mat-button> <i class="fa fa-pinterest-p" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-envelope-o" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
        </mat-card-content>
      </mat-card-content>
      <mat-card-content class="blog_item">
        <mat-card-content class="image_Wrapper">
          <img src="assets/images/blog_image4.jpg">
        </mat-card-content>
        <mat-card-title class="blog_item_header">Lorem Ipsum Simply</mat-card-title>
        <mat-card-subtitle class="blog_item_subheader">july 15/2019</mat-card-subtitle>
        <p class="blog_item_paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero commodi nemo
          eligendi hic quas ipsam obcaecati asperiores iusto? Consequuntur quia exercitationem nesciunt excepturi, iure
          qui unde consequatur sunt minus atque optio impedit placeat nam corporis fuga a hic quo, quisquam magni quae
          culpa nemo numquam. Cum doloribus distinctio qui officia?<a class="readmore">read more</a></p>

        <mat-card-content class="social_wrapper">
          <button mat-button> <i class="fa fa-facebook" aria-hidden="true"></i> </button>
          <button mat-button> <i class="fa fa-twitter" aria-hidden="true"></i></button>
          <button mat-button> <i class="fa fa-pinterest-p" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-envelope-o" aria-hidden="true"></i> </button>
          <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
        </mat-card-content>
      </mat-card-content>
    </mat-card-content>
    <mat-toolbar class="viewall_wrapper">
      <button mat-button class="blogview_all">view all</button>
    </mat-toolbar>

  </mat-card-content>
</mat-card-content>



<app-frontend-footer></app-frontend-footer>
