<app-adminheader>

  <mat-toolbar class="puschase_header">
    <span>Select Hospitals </span>
    <mat-form-field>
      <mat-label>Cars</mat-label>
      <mat-select matNativeControl required>
        <mat-option value="volvo">Volvo</mat-option>
        <mat-option value="saab">Saab</mat-option>
        <mat-option value="mercedes">Mercedes</mat-option>
        <mat-option value="audi">Audi</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>

  <mat-card-content class="main_prchase">
    <span class="header_wrapper">
      <mat-card-title class="header"> Hospital's previous purchase bill info</mat-card-title>
      <mat-card-title class="header">MD STock Purchase Quote</mat-card-title>
    </span>
    <mat-card-content class="purchageWrapper">

      <mat-card-content class="purchase_item">
        <!-- 50% section -->

        <span class="loop_class">
          <mat-list class="List_wrapper">
            <mat-list-item> <label>Product name : </label>
              <mat-form-field class="example-form-field">
                <input matInput type="text" placeholder="Enter Product Name" [(ngModel)]="productName">
                <button mat-button *ngIf="productName" matSuffix mat-icon-button aria-label="Clear"
                  (click)="productName=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item> <label>Price : </label>
              <mat-form-field class="example-form-field">
                <input matInput type="text" placeholder="Enter Price" [(ngModel)]="price">
                <button mat-button *ngIf="price" matSuffix mat-icon-button aria-label="Clear" (click)="price=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
            <span class="size_wrapper">
                <mat-list-item> <label>Size : </label>
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Enter Size" [(ngModel)]="size">
                    <button mat-button *ngIf="size" matSuffix mat-icon-button aria-label="Clear" (click)="size=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item> <label>Color : </label>
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Enter Color" [(ngModel)]="color">
                    <button mat-button *ngIf="color" matSuffix mat-icon-button aria-label="Clear" (click)="color=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </mat-list-item>
            </span>

            <mat-list-item> <label>Description: </label>
              <mat-form-field class="example-form-field">
                <textarea matInput type="text" placeholder="Enter Description" [(ngModel)]="description"></textarea>
                <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear"
                  (click)="description=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
          </mat-list>

          <mat-list class="List_wrapper">
            <mat-list-item> <label>Product name : </label>
              <mat-form-field class="example-form-field">
                <input matInput type="text" placeholder="Enter Product Name" [(ngModel)]="productName2">
                <button mat-button *ngIf="productName2" matSuffix mat-icon-button aria-label="Clear"
                  (click)="productName2=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item> <label>Price : </label>
              <mat-form-field class="example-form-field">
                <input matInput type="text" placeholder="Enter Price" [(ngModel)]="price2">
                <button mat-button *ngIf="price2" matSuffix mat-icon-button aria-label="Clear" (click)="price2=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
            <span class="size_wrapper">
                <mat-list-item> <label>Size : </label>
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Enter Size" [(ngModel)]="size">
                    <button mat-button *ngIf="size" matSuffix mat-icon-button aria-label="Clear" (click)="size=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item> <label>Color : </label>
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Enter Color" [(ngModel)]="color">
                    <button mat-button *ngIf="color" matSuffix mat-icon-button aria-label="Clear" (click)="color=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </mat-list-item>
            </span>
            <mat-list-item> <label>Description: </label>
              <mat-form-field class="example-form-field">
                <textarea matInput type="text" placeholder="Enter Description" [(ngModel)]="description2"></textarea>
                <button mat-button *ngIf="description2" matSuffix mat-icon-button aria-label="Clear"
                  (click)="description2=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
          <!-- </mat-card-content>
      <mat-card-content class="purchase_item"> -->
          <!-- 50% section -->
          <!-- <mat-card-title class="header">MD STock Purchase Quote</mat-card-title> -->


        </span>
      </mat-card-content>


    </mat-card-content>

    <mat-toolbar class="buttons_wrapper">
      <button mat-button color="primary">Add</button>
    </mat-toolbar>

  </mat-card-content>

  <mat-toolbar class="addToBiller">
    <button mat-button color="primary">send to biller</button>
  </mat-toolbar>
</app-adminheader>
