<app-myaccount>
    <mat-card-content class="my_details_wrapper">
        <mat-toolbar class="header_part">
            <h2>my details</h2>
            <p> personal information</p>
        </mat-toolbar>



        <mat-card-content class="mydetails_form_wrapper">
            <form [formGroup]="salesRepForm" autocomplete="off">
            <mat-card-content class="forms">
                <mat-label class="mydetails_ac_lebel">First Name</mat-label>
                <mat-form-field>
                    <input matInput formControlName="firstname" (blur)="inputBlur('firstname')">
                    <mat-error *ngIf="!salesRepForm.controls['firstname'].valid
          && salesRepForm.controls['firstname'].errors.required">First Name is required.</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content class="forms">
                <mat-label class="mydetails_ac_lebel">Last Name</mat-label>
                <mat-form-field>
                    <input matInput formControlName="lastname" (blur)="inputBlur('lastname')">
                    <mat-error *ngIf="!salesRepForm.controls['lastname'].valid
          && salesRepForm.controls['lastname'].errors.required">Last Name is required.</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content class="forms">
                <mat-label class="mydetails_ac_lebel">EMAIL ADDRESS </mat-label>
                <mat-form-field>
                    <input matInput formControlName="email" (blur)="inputBlur('email')">
                </mat-form-field>
            </mat-card-content>
           
                
          

            <mat-card-content class="forms">
                <mat-label class="mydetails_ac_lebel">STATE</mat-label>
            <mat-form-field class="parent_cat" appearance="fill">
     
                <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
                    <!-- <mat-option [value]=0>Select a category</mat-option> -->
                    <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>


           


        <mat-card-content class="forms">
            <mat-label class="mydetails_ac_lebel">CITY</mat-label>
            <mat-form-field>
                <mat-select formControlName="city">
                    <!-- <mat-option value=0 class="mydetails_ac_lebel">Select a city</mat-option> -->
                    <mat-option *ngFor="let city of cities;" value="{{ city }}">{{ city }}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>

       
            <mat-card-content class="forms">
                <mat-label class="mydetails_ac_lebel">ZIP CODE</mat-label>
                <mat-form-field>
                    <input matInput formControlName="zip" (blur)="inputBlur('zip')">
                    <mat-error *ngIf="!salesRepForm.controls['zip'].valid
          && salesRepForm.controls['zip'].errors.required">ZIP is required.</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content class="forms">
                <mat-label class="mydetails_ac_lebel">DATE JOINED</mat-label>
                <mat-form-field>
                    <input matInput formControlName="date">
                </mat-form-field>
            </mat-card-content>

            <mat-toolbar class="button_action">
                <button mat-button type="button" (click)="onUpdate()" >update</button>
                <button mat-button>cancel</button>
            </mat-toolbar>
            </form>

        </mat-card-content>
        <mat-card>
            <mat-label>SHARE LINK FOR HOSPITAL SIGN UP</mat-label><br>
            <mat-label>{{sharelink}}</mat-label>
            <button type="button" (click)="copytoclipboard()">copy</button>
        </mat-card>
        
    </mat-card-content>


    <!-- <mat-card-content class="images">
        <img src="/assets/images/sales_myaccount.jpg">
    </mat-card-content> -->
</app-myaccount>