<app-frontend-header></app-frontend-header>
<mat-card-content class="sh_buyfrmus_topblock">
    <mat-card-content class="sh_buyfrmus_content_wrapper">
        <h2 class="header">Manufacturer Direct</h2>
        <p class="sub_para">
            Buy premium quality on-demand equipment and supplies, directly from Manufacturers, for your hospitals and
            laboratories, at competitive retail prices, to improve the quality of your Healthcare Services without
            spending a Fortune.
        </p>

        <button mat-button class="manufac_action_btn" routerLink="/inventory"> view inventory</button>
    </mat-card-content>
</mat-card-content>
<!-- end one -->
<mat-card-content class="sh_hp_wrapper">
    <mat-card-content class="content_wrapper">
        <mat-card-content class="inner_image_wrapper">
            <img src="assets/images/manufac_direct_inner_image.jpg">
        </mat-card-content>
        <mat-card-content class="inner_content_wrapper">
            <mat-card-title class="header">Finest-Quality New Equipment & Supplies Sourced Directly From The Top Brands
                In
                The Industry</mat-card-title>
            <mat-card-subtitle class="subheader">Get top quality new medical equipment, machinery and medical supplies
                for your hospitals and laboratories directly sourced from manufacturers. You can literally save
                thousands of dollars in the process, and get your hands on the best equipment and machinery for your
                hospitals, laboratories and medical centres.
            </mat-card-subtitle>
            <p class="inner_paragraph">

                Buying new equipment and medical supplies for your hospital can often be as easy as going to a website,
                picking out the model and equipment, paying for it, and having it delivered to your medical facility.
                Why is it then so inconvenient on so many occasions? Why do so many medical facilities hesitate buying
                new hospital equipment and supplies online?
                <br><br>
                There could be a number of different reasons for this, chief among them being the exorbitant pricing of
                such equipment and medical supplies on third-party websites selling them. Dealing with such third-party
                websites can also be distressing and troublesome very often. As hospital management, you have more
                important matters to attend to, and ideally, would want the process of acquiring new equipment,
                machinery and medical supplies to be less troublesome. This is where MD Stock International can offer
                great value.

            </p>
            <button mat-button class="inner_action">view inventory</button>
        </mat-card-content>
    </mat-card-content>
</mat-card-content>

<mat-card-content class="sh_manu_compititive_pricing">
    <mat-card-content class="sh_manu_compititive_pricing_wrapper">
        <mat-card-title class="comp_header"> competitive pricing</mat-card-title>
        <mat-card-title class="comp_subheader"> Our marketing and sales model is based on inventory listing, offering
            you hundreds of choices to determine the equipment needs for your hospitals and medical centres.
        </mat-card-title>
        <p class="sh_comp_para">
            We are able to offer incredible competitive pricing on the new equipment and medical supplies on sale at our
            platform due to reduced inventory and warehouse-management expenses. Since we source new equipment and
            medical supplies directly from manufacturers,<span> and deliver them to your hospitals directly from
                manufacturer-warehouses, the purchase prices are, on most occasions, lesser than industry retail
                prices.</span>
            <br><br>
            We also deal with much of the troubles and nuances of delivering new equipment and medical supplies to your
            doorstep, leaving you with much less to worry. You are then able to focus better on the more important
            matters of your medical facilities, offering better healthcare services to your patients.

        </p>

        <button matbutton class="comp_action_button" mat-button>learn more</button>
    </mat-card-content>
</mat-card-content>

<mat-card-content class="manu_topPartner_wrapper">
    <mat-card-content class="manu_topPartner_content">
        <mat-card-title class="topPartner_header">Top Manufacturing Partners in the Industry</mat-card-title>
        <mat-card-title class="topPartner_subheader">Our medical equipment manufacturing partners include some of the
            top and most recognised brands in the United States as well as from around the globe.</mat-card-title>

        <p class="top_partner_para">
            <span> inventory houses new hospital equipment and machinery from renowned brands </span>like Baxter, GE
            Healthcare Technologies, TZ Medical, Soma Technology Inc. and several other medical equipment manufacturers
            in the country as well as from across the world.
            <br><br>
            Having such prominent names involved with us, we deliver the best quality medical and hospital equipment and
            medical supplies at the best prices. We make no compromises, whatsoever, in terms of quality of the
            machinery we supply so that you, as a hospital partner, are also able to deliver top-notch medical and
            healthcare services to your patients. Our primary focus is to enable you to improve your healthcare services
            to international standards, or set new standards in the Healthcare industry.

        </p>

        <button mat-button class="action_btn">learn more</button>
    </mat-card-content>
</mat-card-content>




<!-- <mat-card-content class="images">
    <img src="/assets/images/manufacturar-direct1.jpg">
    <button class="view_invntory" mat-button routerLink="/inventory"> View Inventory</button>
</mat-card-content> -->
<!-- <mat-card-content class="images">
    <img src="/assets/images/manufacturar-direct2.jpg">
</mat-card-content> -->
<!-- <mat-card-content class="images">
    <img src="/assets/images/manufacturar-direct3.jpg">
</mat-card-content> -->
<app-frontend-footer></app-frontend-footer>