.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.total_wrapper{ width: 100%; display: block; margin-bottom: 6px;  background: #f7f7f7; border: 1px solid #ddd; padding: 10px; box-sizing: border-box;}
.action{ height: auto; background: transparent; justify-content: flex-end; padding: 0;}
.action button{ font-family: "AvenirMedium"; font-size: 14px; text-transform: capitalize; color: #fff; background: #00294f; border-radius: 0; line-height: initial;
padding: 6px 10px;}

.form_new_wrapper .items_content .tab_item .inner_image{  width: 30%; max-height: 140px; margin-bottom: 0; text-align: center; background: #fff; border: 1px solid #e8e6e6;
  padding: 2px;}
.form_new_wrapper .items_content .tab_item .inner_image img{ max-width: 100%; height: auto; }

.package_wrapper{ display: flex; justify-content: center; flex-wrap: wrap;}
.package_wrapper .total_wrapper{ width: 32%; margin: .5%; }
.package_wrapper .total_wrapper .tab_item { display: flex; justify-content: space-between; margin-bottom: 0; max-height: 120px;  }
.package_wrapper .total_wrapper .tab_item .inner_image{ width: 30%; }
.package_wrapper .total_wrapper .tab_item .inner_content{ width: 70%; padding-left: 10px; box-sizing: border-box; }
.package_wrapper .total_wrapper .tab_item .inner_content table{ width: 100%;}
.package_wrapper .total_wrapper .tab_item .inner_content table .desc{  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 25;
  line-height: 1.8em;
} 