.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.total_wrapper{ width: 100%; display: block; margin-bottom: 6px;  background: #f7f7f7; border: 1px solid #ddd; padding: 10px; box-sizing: border-box;}
.action{ height: auto; background: transparent; justify-content:space-between; padding: 0; margin-top: 6px;}
.action button{ font-family: "AvenirMedium"; font-size: 14px; text-transform: capitalize; color: #fff; background: #00294f; border-radius: 0; line-height: initial;
padding: 6px 10px;}
.action .inc_dec{ border: 1px solid #a4a4a4; border-radius: 4px; padding: 0 10px;}
.action .inc_dec a{ cursor: pointer;}
.action .inc_dec label{ margin: 0 16px; }

.form_new_wrapper .items_content .tab_item .inner_image{ width: 30%; max-height: 140px; margin-bottom: 0; text-align: center; background: #fff; border: 1px solid #e8e6e6;
  padding: 2px;}
.form_new_wrapper .items_content .tab_item .inner_image img{ max-width: 100%; height: 100%; object-fit: fill; }

.package_wrapper{ display: flex; justify-content: center; flex-wrap: wrap;}
.package_wrapper .total_wrapper{ width: 32%; margin: .5%; }
.package_wrapper .total_wrapper .tab_item { display: flex; justify-content: space-between; margin-bottom: 0; max-height: 140px; min-height: 140px; }
.package_wrapper .total_wrapper .tab_item .inner_image{ width: 30%; display: flex; align-items: center; padding: 5px; box-sizing: border-box; }
.package_wrapper .total_wrapper .tab_item .inner_content{ width: 70%; padding-left: 10px; box-sizing: border-box; }
.package_wrapper .total_wrapper .tab_item .inner_content table{ width: 100%;}
.package_wrapper .total_wrapper .tab_item .inner_content table .desc{ word-break: break-word; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; line-height: 16px; max-height: 50px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.button_wrapper{ margin-top: 15px; display: block;}
.button_wrapper button{ margin-left: 10px;}
.button_wrapper button:first-child{ margin-left: 0px;}
