.purchageWrapper{ display: flex; justify-content: space-between; margin: 0;  }
.purchageWrapper .purchase_item{ box-sizing: border-box; width: 100%;  }
 .List_wrapper:last-child{ border-left: 2px solid #00294f; padding-left: 16px; margin-left: 16px; }
.purchageWrapper .purchase_item .header{ font-family: "RobotoBold"; font-size: 24px; justify-content: center; display: block; text-transform: uppercase; border-bottom: 1px solid #00294f;
  padding-bottom: 8px; margin-bottom: 20px; color: #00294f; }
.purchageWrapper .purchase_item .List_wrapper .mat-list-item { height: 60px;  }
.purchageWrapper .purchase_item .List_wrapper .mat-list-item label{ width: 150px; }
.purchageWrapper .purchase_item .List_wrapper .mat-list-item .mat-form-field{ width: 100%; }
.puschase_header { justify-content: center; background: #e6e6e6;  height: auto; padding: 5px;}
.puschase_header span { font-size: 20px; font-family: "RobotoMedium"; margin-right: 16px; color: #00294f;}
.buttons_wrapper{ justify-content: flex-end; background: transparent; height: auto; margin-top: 20px; }
.header{ width: 49%; display: inherit; font-family: "Roboto"; font-size: 26px; text-transform: uppercase; box-shadow: 1px 2px 8px 0px #cccccc; padding: 15px 10px; box-sizing: border-box;}
.header_wrapper{ display: flex; margin-bottom: 16px; width: auto; justify-content: space-between; }
.List_wrapper{ width: 49%; display: inline-flex; flex-wrap: wrap;  box-sizing: border-box;}
.size_wrapper{ display: inline-flex; width: 100%; }
.loop_class{ display: inline-flex;}
.buttons_wrapper button{ width: 160px; padding: 5px; font-size: 18px; text-transform: uppercase; font-family: "RobotoMedium"; color: #fff; background: #01498c; border-radius: 0;}
.main_prchase{ width: 90%; margin: 50px auto; background: #f1f1f1; display: block; box-shadow: -1px 5px 8px 0px #b1afaf; padding: 16px; box-sizing: border-box;}
.addToBiller { justify-content: center; margin-bottom: 50px;}
.addToBiller button{ width: 250px; padding: 5px; font-size: 24px; text-transform: uppercase; font-family: "RobotoMedium"; color: #fff; background: #01498c; border-radius: 0;}
.size_wrapper .mat-form-field{ width: auto!important; }
.size_wrapper label{ width: 120px!important; }


@media screen and (max-width: 1800px){
  .purchageWrapper .purchase_item .List_wrapper .mat-list-item .mat-form-field { width: 100%; }
  .size_wrapper  { display: inline-flex; width: auto; }
  .size_wrapper label  { width: 170px!important;}
  .purchageWrapper .purchase_item .List_wrapper .mat-list-item label { width: 140px; }

}

@media screen and (max-width: 1720px){
  .size_wrapper label { width: 114px!important; }
  .size_wrapper .mat-form-field{ width: 120px!important;}
}

@media screen and (max-width: 1600px){
  .size_wrapper  { width: auto; }
  .purchageWrapper .purchase_item .List_wrapper .mat-list-item .mat-form-field { width: 100%; }
}
@media screen and (max-width: 1366px){
  .header {  font-size: 20px; }
}
@media screen and (max-width: 1199px){
.size_wrapper { display: inline-flex; flex-direction: column; }
.size_wrapper .mat-form-field{ width: 100%!important; }
.purchageWrapper .purchase_item .List_wrapper .mat-list-item label { width: 160px; }
.size_wrapper label { width: 155px!important;}
.size_wrapper { display: inline-flex; width: 100%; }
}
@media screen and (max-width: 991px){
.purchageWrapper .purchase_item .List_wrapper .mat-list-item label { width: 120px; }
.purchageWrapper .purchase_item .List_wrapper .mat-list-item .mat-form-field { width: auto; }
.size_wrapper .mat-form-field{ width: auto!important; }
.size_wrapper label { width: 120px!important; }
.header { font-size: 18px; }
}
