<app-frontend-header></app-frontend-header>

<mat-card-content class="sh_buyfrmus_topblock">
    <mat-card-content class="sh_buyfrmus_content_wrapper">
        <h2 class="header">Blog Details</h2>
        <p class="paragraph">
            You can always continue to learn new information, methods and other developments taking place in the
            Healthcare industry, and blogs, articles, and medical journals happen to be the best source from where you
            can gather such information, or so we have found.

        </p>

        <button mat-button class="manufac_action_btn" routerLink="/inventory"> view inventory</button>
    </mat-card-content>
</mat-card-content>
<!-- end one -->

<mat-card-content class="sh_blog_content_wrapper">
    <mat-card-content class="sh_blog_content">
        <mat-card-title class="title">What’s Happening in the industry</mat-card-title>
        <!-- <mat-card-title class="subtitle">Lorem Ipsum is simply </mat-card-title> -->
        <p class="desc">The Healthcare and Medical Industry is an ever-changing one, with new developments,
            technological advancements and innovations, and new findings taking place every minute. Stay posted with the
            latest blogs and articles about everything happening in every area of the industry, which are written by
            talented, knowledgable and experienced members of our team. We also include the most popular articles and
            blogs circulating the internet in our collection in order to provide our members with the latest information
            about everything happening in the industry.
        </p>
    </mat-card-content>

    <mat-card-content class="sh_blog_content_bottom">
        <mat-card-content class="sh_blog_content_left">
            <!-- loop blogs  -->
            <mat-card-content class="blog_container">

                <mat-card-content class="image_wrapper">
                    <img src="https://images.pexels.com/photos/356054/pexels-photo-356054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="image is only for demo purpose">
                </mat-card-content>

                <mat-card-content class="content_wrapper">
                    <mat-card-title class="blog_inner_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </mat-card-title>

                    <p class="inner_blog_desc">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos iste non repudiandae libero, cum
                        sint voluptate! Sunt quisquam sit corrupti, officiis placeat, eos similique nemo quae laboriosam
                        iusto earum, quam esse rerum? Doloribus, beatae expedita assumenda blanditiis ex praesentium
                        soluta odit, harum similique mollitia adipisci! Natus, nihil? Reiciendis repellat magni rerum
                        dolores sed, corporis voluptatem, soluta dolorem quos reprehenderit officia et quaerat nihil
                        aperiam ullam facere voluptatum libero tempora sapiente nostrum? Labore error eius temporibus
                        vero ratione velit, quis libero, facere totam alias adipisci, ab nostrum? Odio quia aut
                        blanditiis fuga deleniti qui laborum aperiam repudiandae tenetur sit alias mollitia, molestiae
                        aliquid culpa laboriosam rerum, tempora corporis esse quasi commodi sed? Facere cumque assumenda
                        aliquam quidem, voluptatem blanditiis minima ab quasi sapiente! Reprehenderit sint quia atque
                        quos, sit, ipsum explicabo quod ab repudiandae id deleniti praesentium accusantium voluptatem
                        eligendi numquam, dolores esse earum aperiam quaerat. Magni, consequatur. Quos a sed blanditiis,
                        ut facere qui corporis, non dignissimos maxime tempora distinctio praesentium. Aperiam cum quam
                        doloremque cumque tenetur eius reiciendis culpa assumenda, omnis praesentium incidunt. Illum
                        autem labore quia eligendi velit consequatur dolor possimus, eius odio provident enim itaque
                        praesentium aliquid? Ducimus ut, reprehenderit earum reiciendis amet esse fugit inventore?
                        Placeat mollitia a magni unde, itaque explicabo officiis non officia voluptates minima! Nobis,
                        molestiae tempora pariatur eaque hic nesciunt quidem incidunt nisi dignissimos beatae sint rerum
                        ipsa numquam quibusdam corporis? Fugiat, tempore libero cumque culpa qui quam vero accusamus
                        illo rem praesentium et minus vitae velit excepturi iure enim. Saepe porro labore asperiores
                        eveniet alias, optio laborum, amet, quaerat at magni nam quae numquam fugit! Distinctio officia
                        minus facere corporis praesentium delectus, officiis reiciendis illo amet. Maiores tempora
                        explicabo minus, autem, eaque adipisci pariatur, quibusdam eveniet accusantium quo alias! Qui
                        natus expedita vel delectus deserunt sunt amet cum fuga repellendus incidunt enim eum ea sequi
                        dignissimos quos dolor aspernatur temporibus architecto nihil, vitae dicta aliquid libero sit?
                        Explicabo dolorem ea assumenda aliquid iure eius eveniet! Cupiditate, quasi sed. Voluptatem
                        molestias facilis deleniti earum illum eius quas magni quod ad ut porro, numquam quasi natus
                        architecto aliquid optio fugit, totam laudantium? Soluta, quisquam doloremque. Aliquam
                        accusantium suscipit expedita et, fuga maiores earum! Dolor, nobis asperiores? Deserunt
                        exercitationem maiores, illum ex consequatur pariatur omnis? Explicabo nesciunt officiis
                        adipisci magni distinctio rerum dicta dolore dolorum ex, inventore soluta itaque, libero, quos
                        ipsa eligendi nemo ea necessitatibus. Suscipit, eaque iure? Fugit quidem assumenda repudiandae
                        et vitae quasi est, iusto tempore quam mollitia non? Non magni ipsa tenetur quaerat architecto
                        voluptatibus, neque vero, sapiente eaque harum ex. Modi, accusantium deleniti possimus mollitia
                        facilis hic incidunt aut. Iusto nihil unde laudantium quos quia ullam commodi, fuga consectetur
                        repellendus incidunt quis libero illum veniam pariatur nulla laboriosam ea iste minima sapiente
                        optio? Animi natus hic reprehenderit placeat excepturi. Expedita deserunt quidem minus neque id
                        rerum eaque sequi voluptates tenetur nihil. Accusamus fugit quia beatae numquam. Inventore odit
                        quaerat autem dolorum fugiat possimus quas provident eos, est iure laboriosam ratione, obcaecati
                        impedit explicabo odio amet a veniam blanditiis laborum.
                    </p>


                    <mat-toolbar class="bottom_social">
                        <!-- <a routerLink="">read more</a> -->
                        <span class="social_report">
                            <p>Author Name: <span class="author"> tony</span></p>
                            <p class="date">july 15 2019</p>
                            <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="values"> 12</span></p>
                            <p><i class="fa fa-comment" aria-hidden="true"></i> <span class="values">&nbsp;6 comment
                                </span></p>
                        </span>

                        <span class="social_wrapper">
                            <button mat-button><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-comment" aria-hidden="true"></i></button>
                            <button mat-button><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </span>
                    </mat-toolbar>
                </mat-card-content>
            </mat-card-content>
            <!-- loopend blogs  -->



        </mat-card-content>
        <mat-card-content class="sh_blog_content_right">
            <mat-card-content class="searchbar">
                <input type="text" placeholder="Search Blogs">
                <button mat-button>Go</button>
            </mat-card-content>

            <mat-card-content class="other_blog_posts">
                <h2>other blog posts</h2>

                <mat-list class="other_listed_items">

                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>

                </mat-list>




            </mat-card-content>
            <mat-card-content class="other_blog_posts">
                <h2>other blog posts</h2>

                <mat-list class="other_listed_items">
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>
                    <mat-list-item> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor blanditiis,
                        beatae velit sit sed! </mat-list-item>

                </mat-list>




            </mat-card-content>
        </mat-card-content>
    </mat-card-content>
</mat-card-content>








<!-- <mat-card-content class="images">
    <img src="/assets/images/ourBlog1.jpg">

    <button class="view_invntory" mat-button routerLink="/inventory"> View Inventory</button>
</mat-card-content> -->
<!-- <mat-card-content class="images">
    <img src="/assets/images/ourBlog2.jpg">
</mat-card-content> -->
<app-frontend-footer></app-frontend-footer>