<app-adminheader>
    <mat-card class="main_wrapper">
        <mat-card-content class="bred_cram_wrapper">
            <!-- <a mat-list-item routerLinkActive="active"> Dashboard </a>
            <a mat-list-item routerLinkActive="active"> Price Markup Management List </a>
            <a mat-list-item routerLinkActive="active activebread" [routerLink]="'/inventory/price-markup-management-list/add'"> add
            </a> -->
        </mat-card-content>
<p>{{header_txt}}</p>
        <form [formGroup]="priceMarkupForm" autocomplete="off">
            <!--  Country name  -->
        <mat-form-field>
                <mat-label>Select Country</mat-label>
                <select matNativeControl formControlName="Country" >
                    <option value="0" >Default</option>
                    <option *ngFor="let Country of countryList" value="{{Country.code}}" >{{Country.name}}</option>
                </select>
            </mat-form-field><br>
            <!-- set value field  -->
            <mat-form-field>
                    <input matInput type="number" placeholder="Set Value" formControlName="setValue">
                </mat-form-field><br>

                <mat-form-field>
                    <textarea matInput  placeholder="Notes" formControlName="Notes"></textarea>
                </mat-form-field><br>

        <button mat-raised-button color="primary" type="reset">RESET</button> &nbsp;
        <button   mat-raised-button color="primary" type="button" (click)="onSubmit()">{{btn_text}} </button>

        </form>

</mat-card>

</app-adminheader>
