<app-adminheader>
    <mat-card class="main_wrapper">
        <mat-card-content class="bred_cram_wrapper">
            <a mat-list-item routerLinkActive="active" routerLink="/dashboard-admin"> Dashboard </a>
            <a mat-list-item routerLinkActive="active" routerLink="/admin/salesrep-management/list"> SalesRep list </a>
            <a mat-list-item routerLinkActive="active activebread" [routerLink]="'/admin/salesrep-management/add'"> add
            </a>
        </mat-card-content>


        <mat-card-content class="from_wrapper">

            <h1 class="form_header">{{ header_txt }}</h1>
            <form autocomplete="off" [formGroup]="salesRepForm">

                <!-- First Name  -->
                <mat-form-field>
                    <mat-label>First Name:</mat-label>
                    <input matInput formControlName="firstname">

                </mat-form-field><br>

                <!-- Last Name  -->
                <mat-form-field>
                    <mat-label>Last Name:</mat-label>
                    <input matInput formControlName="lastname">

                </mat-form-field><br>


                <!-- Email  -->
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput formControlName="email" [readonly]="flag==true?true:false">


                </mat-form-field><br>


                <!-- Password  -->
                <mat-form-field *ngIf="action=='add'">
                    <mat-label>Password:</mat-label>
                    <input matInput type="password" formControlName="password">

                </mat-form-field><br>


                <!-- Confirm Password  -->
                <mat-form-field *ngIf="action=='add'">
                    <mat-label>Confirm Password:</mat-label>
                    <input matInput type="password" formControlName="confirmpassword">

                </mat-form-field><br>


                <!-- Address  -->
                <mat-form-field>
                    <mat-label>Address:</mat-label>
                    <input matInput formControlName="address">

                </mat-form-field><br>


                <!-- State  -->
                <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
                        <mat-option [value]=0>Select a category</mat-option>
                        <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}</mat-option>
                    </mat-select>
                </mat-form-field><br>

                <!-- City  -->

                <mat-form-field>
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city">
                        <mat-option [value]=0>Select a category</mat-option>
                        <mat-option *ngFor="let city of cities;" value="{{ city }}">{{ city }}</mat-option>
                    </mat-select>
                </mat-form-field><br>




                <!-- ZIP  -->
                <mat-form-field>
                    <mat-label>ZIP:</mat-label>
                    <input matInput formControlName="zip">

                </mat-form-field><br>


                <!-- Phone  -->
                <mat-form-field>
                    <mat-label>Phone:</mat-label>
                    <input matInput formControlName="phone">


                </mat-form-field><br>


                <!-- Fax  -->
                <mat-form-field>
                    <mat-label>Fax:</mat-label>
                    <input matInput formControlName="fax">

                </mat-form-field><br>




                <!-- Status -->
                <mat-label>Status:</mat-label><br>
                <mat-checkbox formControlName="status">Active</mat-checkbox><br>

                <!-- Buttons  -->
                <span class="button_wrapper">
                    <button mat-flat-button type="reset" color="warn">RESET</button>
                    <button mat-flat-button type="button" (click)="onSubmit()" color="primary">{{btn_text}} </button>
                    <button mat-flat-button type="button" (click)="change_password()" *ngIf="action!='add'"
                        color="accent">CHANGE
                        PASSWORD</button>
                </span>
            </form>
        </mat-card-content>
    </mat-card>
</app-adminheader>