.main_wrapper {
  width: 1660px;
  margin: 45px auto;
}

.main_wrapper .my_account_header {
  background: linear-gradient(90deg, #137ad1, #1a90f4);
  padding: 5px 20px;
  position: relative;
}

.main_wrapper .my_account_header:after {
  content: '';
  position: absolute;
  background: #036ec9;
  clip-path: polygon(49% 0, 100% 0, 73% 100%, 0 100%);
  display: inline-block;
  height: 100%;
  z-index: 1;
  width: 240px;
  right: 0;
}

.main_wrapper .my_account_header span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main_wrapper .my_account_header span i {
  font-size: 40px;
  border: 1px solid #967474;
  border-radius: 50%;
}

.main_wrapper .my_account_header span h2 {
  font-size: 30px;
  margin: 0;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: "HelveticaBold";
}

.container {
  display: flex;
  justify-content: space-between;
  min-height: 550px;
  padding: 0;
  box-shadow: none;
}

.container .inner_wrapper_left {
  width: 420px;
  background: #ececec;
  display: block;
  padding: 10px;
  padding-top: 3px;
  box-sizing: border-box;
  margin: 12px 0;
}

.container .inner_wrapper_right {
  width: 100%;
  display: block;
  margin: 12px;
  margin-right: 0;
  background: #f5f5f5;
}

@media screen and (max-width: 1800px) {
  .main_wrapper {
    width: 94%;
  }
}

@media screen and (max-width: 1199px) {
  .container .inner_wrapper_left {
    width: 300px;
  }
}

@media screen and (max-width: 668px) {
  .container .inner_wrapper_left {
    width: 65px;
  }
  /* .container .inner_wrapper_left:hover { width: 255px; } */
  .main_wrapper .my_account_header:after {
    width: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main_wrapper .my_account_header:after {
    width: 70px;
  }
  .main_wrapper .my_account_header span i {
    font-size: 24px;
  }
  .main_wrapper .my_account_header span h2 {
    font-size: 22px;
  }
  .main_wrapper .my_account_header {
    padding: 5px 15px;
  }
}
