<app-frontend-header></app-frontend-header>
<mat-card-content class="sh_buyfrmus_topblock">
  <mat-card-content class="sh_buyfrmus_content_wrapper">
    <h2 class="header">Global Medical Partners</h2>
    <p class="sub_para">
        Global Medical Sales Management Group you want to partner with for the listing and sale of old Medical Equipment in your Hospital Premises at competitive prices. We don’t just list and sell used medical equipment. We build partnerships with hospitals and other medical facilities to help them raise the standards of their Healthcare services.

    </p>
  </mat-card-content>
</mat-card-content>
<!-- end one -->

<mat-card-content class="sh_hp_wrapper">
  <mat-card-content class="content_wrapper">
    <mat-card-content class="inner_image_wrapper">
      <img src="assets/images/med_partner_inner_image.jpg">
    </mat-card-content>
    <mat-card-content class="inner_content_wrapper">
      <mat-card-title class="header">Hospital Partners — Medical Partnerships That Have Much To Offer</mat-card-title>
      <mat-card-subtitle class="subheader">While most used-medical equipment sellers work to sell old equipment to or
        for your hospital and medical facility, we work towards building partnerships.</mat-card-subtitle>
      <p class="inner_paragraph">
          There is much to gain from a Medical Partnership with us at MD Stock International. While most used-medical equipment sellers work to sell old equipment to or for your hospital and medical facility, we work towards building partnerships.

      </p>
      <button mat-button class="inner_action" routerLink="/inventory">view inventory</button>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>
<!-- blok3 -->


<mat-card-content class="sh_agent_content_section">
  <mat-card-content class="sh_agent_content_wrapper">
    <mat-card-title class="agent_header">MD Stock International is the agent for and has partnerships With the following
      companies: </mat-card-title>
    <!-- wrapper section -->
    <mat-card-content class="agent_list_one">
      <mat-card-content class="inner_wrapper_left">
        <mat-list>
          <mat-list-item> United Hospital Supply Corporation – Design & Fabrication of Pharmacy & Laboratory Furniture
          </mat-list-item>
          <mat-list-item> J.T. Baker – Worldwide Producer of Laboratory, Biotechnology and Pharmaceuticals, Specialty
            Industrial and Microelectronic Chemicals </mat-list-item>
          <mat-list-item> Kimble / Kontes – World Class Laboratory Glassware (Reusable, Disposable and Specialty
            Glassware) </mat-list-item>
          <mat-list-item> Advanced Instrumentations Inc – First Class Medical Equipment </mat-list-item>
          <mat-list-item> Adam Equipment – Suppliers of Balances, Scales and Weighing Equipment for Laboratory Medical
            and Industrial Use </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-content class="inner_wrapper_right">
        <img src="assets/images/parner_image1.jpg">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="agent_list_one">

      <mat-card-content class="inner_wrapper_right">
        <img src="assets/images/parner_image2.jpg">
      </mat-card-content>
      <mat-card-content class="inner_wrapper_left">
        <mat-list>
          <mat-list-item>A J Cope & Sons Ltd – Suppliers of Labware, Laboratory Products, Laboratory Consumables and
            Scientific Equipment</mat-list-item>
          <mat-list-item> Pride Corporation – Over-the-counter Drugs and General Merchandize</mat-list-item>
          <mat-list-item> Genetics Pharmaceuticals – Manufacturers of Pharmaceuticals </mat-list-item>
          <mat-list-item>Dynarex Corp – Manufacturers and Distributors of Disposable Medical Supplies</mat-list-item>
          <mat-list-item>Macs Pharmaceuticals and Cosmetics – Manufacturers of Pharmaceutical and Cosmetic Supplies
          </mat-list-item>
          <mat-list-item>Harvard Drug Group - Manufacturers of Pharmaceuticals</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card-content>
    <!-- wrapper section end -->
    <!-- wrapper section -->
    <mat-card-content class="agent_list_one">
      <mat-card-content class="inner_wrapper_left">
        <mat-list>
          <mat-list-item> American Diagnostics Corporation – Supplier of Stethoscopes and Blood Pressure Instruments
          </mat-list-item>
          <mat-list-item> Pharmasupply – Manufacturers of Glucose Meters and Blood Pressures Instruments</mat-list-item>
          <mat-list-item>MD Science – Manufacturers of Multivitamins</mat-list-item>
          <mat-list-item> Bio Nuclear Diagnostic – Manufacturer and Distributor of Medical, Diagnostic and Laboratory
            Supplies</mat-list-item>
          <mat-list-item> Nalgene – Manufacturer and Distributor of durable, break-resistant, light weight Labware
            (Beakers, Bottles, Glass Carboys, filters …)</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-content class="inner_wrapper_right">
        <img src="assets/images/parner_image3.jpg">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="agent_list_one">

      <mat-card-content class="inner_wrapper_right">
        <img src="assets/images/parner_image4.jpg">
      </mat-card-content>
      <mat-card-content class="inner_wrapper_left">
        <mat-list>
          <mat-list-item>Ansell – Global Leader in Healthcare Barrier Protection Products (Condoms, Gloves, Aprons …)
          </mat-list-item>
          <mat-list-item>Hach – Global Company in Water Quality Testing and Analysis, Offers Portable Laboratory and
            Online Instrumentation. Manufacturer and Distributor of Reagents used to Test Water Quality and Other
            Aqueous Solutions </mat-list-item>
          <mat-list-item> Labconco – Provides Laboratory Equipment including Chemical Fume Hoods, HEPA Filtered Safety
            Cabinets, Carbon Filtered and Laboratory Animal Enclosures – Glassware Washers, Carts and Benches & Water
            Purification System</mat-list-item>
          <mat-list-item>Lab Safety Supplies (LSS) – Distributor of a Variety of Safety Products, Material Handling,
            Industrial and Laboratory Supplies</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card-content>
    <!-- wrapper section end -->

    <!-- wrapper section -->
    <mat-card-content class="agent_list_one">
      <mat-card-content class="inner_wrapper_left">
        <mat-list>
          <mat-list-item> Ben Meadows – Distributor of Forestry Supplies, Surveying Equipment, GPS Navigation etc.
          </mat-list-item>
          <mat-list-item> ThermoFisher Scientific – Fisher Scientific - Complete Portfolio of Laboratory Equipment,
            Chemicals, Supplies and Services for Research, Safety, Healthcare and Science Education </mat-list-item>
          <mat-list-item> Kimble / Kontes – World Class Laboratory Glassware (Reusable, Disposable and Specialty
            Glassware) </mat-list-item>
          <mat-list-item> VWR International – Manufacturer and Distributor of Laboratory Necessities, Chemicals,
            Furniture, Lifer Science, Bioscience, Safety Chromatography, Controlled Environment & Clinical Healthcare
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-content class="inner_wrapper_right">
        <img src="assets/images/parner_image5.jpg">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="agent_list_one">

      <mat-card-content class="inner_wrapper_right">
        <img src="assets/images/parner_image6.jpg">
      </mat-card-content>
      <mat-card-content class="inner_wrapper_left">
        <mat-list>
          <mat-list-item>Cole Parmer – A Leading Global Source of Laboratory and Industrial Fluid Handling Products,
            Instrumentation, Equipment and Supplies. Proven Experts in the Fields of Temperature Measurement and
            Control, Electrochemistry, and Fluid Handling</mat-list-item>
          <mat-list-item> Phillips Avent- Manufacturers of a Full Range of Baby Products </mat-list-item>
          <mat-list-item> Genthics Pharmaceuticals- Manufactures Over-the-counter Drugs and Prescription drugs
          </mat-list-item>
          <mat-list-item>Nipro Diagnostic (Formerly Home Diagnostic Ltd)- Manufacturers of Glucometers and Diabetic Care
            Products</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card-content>
    <!-- wrapper section end -->
    <mat-card-content class="agent_list_one">
      <mat-card-content class="inner_wrapper_left">
        <mat-list>
          <mat-list-item> Invacare- Manufacturers and Distributors of Medical Supplies, Instruments and Equipment
          </mat-list-item>
          <mat-list-item> Welch Allyn- Manufacturers of Diagnostics, Equipments and Instruments</mat-list-item>
          <mat-list-item> Hi Media- Manufacturers of Microbiology Laboratory Products</mat-list-item>
          <mat-list-item> Polyscience- Manufacturers of Chillers and Circulators </mat-list-item>
          <mat-list-item> Harvard Drug Group- Manufacturers and Distributors of a Comprehensive Range of Pharmaceuticals
            Including Over-the-counter Drugs, Prescription Drugs, Dermatology and Ophthalmology</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-content class="inner_wrapper_right">
        <img src="assets/images/parner_image7.jpg">
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>



<mat-card-content class="sh_key_client_wrapper">
  <mat-card-content class="sh_key_content_wrapper">
    <mat-card-title class="sh_key_title">MD STOCK INTERNATIONAL HAS SEVERAL KEY CLIENTS THAT WE SOURCE FROM AND WORK
      DIRECTLY WITH. WE BUILD STRONG MUTUALLY BENEFICIAL RELATIONSHIPS AND WANT
      TO ADD YOU TO OUR LIST!
    </mat-card-title>

    <mat-card-content class="content_wrapper">
      <mat-card-content class="key_left_wrapper">
        <img src="assets/images/key_sec_image.jpg">
      </mat-card-content>
      <mat-card-content class="key_right_wrapper">
        <mat-list class="lists">
          <mat-list-item> Missions Pharmaceuticals </mat-list-item>
          <mat-list-item> CARIRI </mat-list-item>
          <mat-list-item> University Of The West Indies </mat-list-item>
          <mat-list-item> Antigua General Hospital </mat-list-item>
          <mat-list-item> VH Marketing Limited </mat-list-item>
          <mat-list-item> K.D. Enterprise </mat-list-item>
          <mat-list-item> St Jude’s Hospital, St Lucia </mat-list-item>
          <mat-list-item> International Pharmaceutical Agency, Guyana </mat-list-item>
          <mat-list-item> Makro-Medic LLC </mat-list-item>
          <mat-list-item> Bermuda Hospitals Board </mat-list-item>
          <mat-list-item> Matrix Distributors </mat-list-item>
          <mat-list-item>ITX Medical Supply </mat-list-item>
          <mat-list-item> MJL Positive Meds (Aruba) </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>




<mat-card-content class="sh_hospital_equipment_wrapper">
  <mat-card-content class="sh_hospital_content_wrapper">
    <mat-card-title class="sh_equipment_title">List you old hospital equipment with us TODAY!!</mat-card-title>
    <mat-card-title class="sh_equipment_subtitle">We Find Buyers For The Equipment And Geth Them Off Your Hands And Get You Paid For Them </mat-card-title>
    <p class="sh_hospital_para">
        List old and used equipment within your hospital premises or medical facilities in our inventory right away and we will sell them for you. We will look for buyers immediately and get the equipment sold at the best prices for you at the earliest. We will help you free up some much-needed space and generate loads of funds in the process. With hundreds of Hospitals around the globe as our Medical Partners, we are able to locate buyers for your used medical equipment that you list in our inventory, easily and quickly.
      <br><br>
      This way, you are able to get the equipment off your hands quickly and get paid great value for them based on current market rates. Sometimes, we may decide to buy the equipment instantaneously if we already have buyers waiting for the equipment. This way, you can get the equipment replaced and also have the money in your hands right away, without having to wait for days until the equipment gets sold.

    </p>

    <button class="hospital_action_button" mat-button>learn more</button>
  </mat-card-content>
</mat-card-content>
<!--
<mat-card-content class="images">
  <img src="/assets/images/medicalPartners4.jpg">
</mat-card-content> -->
<!-- <mat-card-content class="images">
  <img src="/assets/images/medicalPartners5.jpg">
</mat-card-content>  -->
<app-frontend-footer></app-frontend-footer>
