<app-myaccount>
    <mat-card-content class="my_details_wrapper">
        <mat-toolbar class="header_part">
            <h2>hospital details</h2>
            <p> hospital information</p>
        </mat-toolbar>



        <mat-card-content class="mydetails_form_wrapper">
            <form [formGroup]="hospitalAccountForm" autocomplete="off">
                <mat-card-content class="forms">

                    <mat-label class="mydetails_ac_lebel">Hospital Name</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="hospitalname" (blur)="inputBlur('hospitalname')">
                        <mat-error *ngIf="!hospitalAccountForm.controls['hospitalname'].valid
          && hospitalAccountForm.controls['hospitalname'].errors.required">Hospital Name is required.</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-content class="forms">
                    <mat-label class="mydetails_ac_lebel">Primary Email</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="email">
                    </mat-form-field>
                </mat-card-content>
                <span class="address_wrapper">
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">Phone(s) </mat-label>
                        <mat-form-field>
                            <input matInput formControlName="contactphones" (keyup)="addMultiplePhones($event)">
                        </mat-form-field>

                        <mat-chip-list>
                            <mat-chip *ngFor="let item of contactphonesarray;let i = index">{{ item }}<mat-icon
                                    class="clickable" (click)="deletephones(i)">close</mat-icon>
                            </mat-chip>
                        </mat-chip-list>

                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">EMAIL(s)</mat-label>

                        <mat-form-field>
                            <input matInput type="email" formControlName="contactemails"
                                (keyup)="addMultipleEmails($event)">
                        </mat-form-field>
                        <mat-chip-list>
                            <mat-chip *ngFor="let item of contactemailarray;let i = index">{{ item }}<mat-icon
                                    class="clickable" (click)="deleteemails(i)">close</mat-icon>
                            </mat-chip>
                        </mat-chip-list>

                    </mat-card-content>


                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">Contact Person</mat-label>
                        <mat-form-field>
                            <input matInput formControlName="contactperson" (blur)="inputBlur('contactperson')">
                            <mat-error *ngIf="!hospitalAccountForm.controls['contactperson'].valid
                            && hospitalAccountForm.controls['contactperson'].errors.required">Contact Person is required.
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                </span>
                <span class="address_wrapper">
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">STATE</mat-label>
                        <mat-form-field class="parent_cat" appearance="fill">

                            <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
                                <!-- <mat-option [value]=0>Select a category</mat-option> -->
                                <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-card-content>





                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">CITY</mat-label>
                        <mat-form-field>
                            <mat-select formControlName="city">
                                <!-- <mat-option value=0 class="mydetails_ac_lebel">Select a city</mat-option> -->
                                <mat-option *ngFor="let city of cities;" value="{{ city }}">{{ city }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-card-content>

                </span>
                <span class="doctors_stuff">
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">Speciality</mat-label>
                        <mat-form-field>
                            <input matInput formControlName="speciality" (blur)="inputBlur('speciality')">
                            <mat-error *ngIf="!hospitalAccountForm.controls['speciality'].valid
          && hospitalAccountForm.controls['speciality'].errors.required">Speciality is required.</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">No of Doctors </mat-label>

                        <mat-form-field>
                            <input matInput formControlName="noofdoctors" (blur)="inputBlur('noofdoctors')"> 
                            <mat-error *ngIf="!hospitalAccountForm.controls['noofdoctors'].valid
                            && hospitalAccountForm.controls['noofdoctors'].errors.required">Number of doctors are required.
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">No of Beds </mat-label>
                        <mat-form-field>
                            <input matInput formControlName="noofbeds" (blur)="inputBlur('noofbeds')">
                            <mat-error *ngIf="!hospitalAccountForm.controls['noofbeds'].valid
          && hospitalAccountForm.controls['noofbeds'].errors.required">Number of beds are required.</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">No of Staffs </mat-label>
                        <mat-form-field>
                            <input matInput formControlName="noofstaffs" (blur)="inputBlur('noofstaffs')">
                            <mat-error *ngIf="!hospitalAccountForm.controls['noofstaffs'].valid
          && hospitalAccountForm.controls['noofstaffs'].errors.required">Number of staffs are required.</mat-error>
                        </mat-form-field>
                    </mat-card-content>

                </span>
                <mat-card-content class="file_uploader">
                    <mat-label class="mydetails_ac_lebel">Image</mat-label>

                    <mat-card-content class="inner_wrapper">
                        <mat-card-content class="upoader">
                            <img [src]="fullpath">
                        </mat-card-content>

                        <input type="file" #trigger hidden>
                        <button type="button" class="change_image" mat-button (click)="trigger.click()">change
                            image</button>
                    </mat-card-content>
                </mat-card-content>

                <mat-toolbar class="button_action">
                    <button mat-button type="button" (click)="onUpdate()">update</button>
                    <button mat-button type="button" (click)="onCancel()">cancel</button>
                </mat-toolbar>

            </form>
        </mat-card-content>
    </mat-card-content>



    <!-- <mat-card-content class="images">
        <img src="/assets/images/hospitalMyaccount.jpg">
    </mat-card-content> -->

</app-myaccount>