body {
    overflow: overlay;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts//Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/Helvetica-Bold.woff2') format('woff2'), url('../fonts/bold/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/Helvetica.woff2') format('woff2'), url('..fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratSemibold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratSemibold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  /* new avenir font */



@font-face {
    font-family: 'AvenirMedium';
    src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirBlack';
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AvenirRoman';
  src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBook';
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


  /* font end */


.login_wrapper {
    background: url("../images/background.jpg") no-repeat!important;
    /* background: url("../../../../assets/images/background.jpg") no-repeat; */
    background-position: center center!important;
    background-size: cover!important;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.logowrapper {
    margin: 0 auto;
    display: block;
    text-align: center;
    /* background: #12c3e3; */
    background: #f5f5f5;
    border-bottom-right-radius: 150px;
}

.from {
    width: auto!important;
    margin: 0 auto;
}

.login_lib_wrapper {
    width: 533px;
}

.from {
    width: 100%!important;
    margin: 0 auto;
    text-align: center;
}

.content_wrapper .example-container button {
    background: linear-gradient(45deg, #1f6dc1, #15538a)!important;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
}

.login_lib_wrapper .from h2 {
    color: #12c3e3!important;
    background: transparent!important;
    font-family: "RobotoBold";
    font-size: 30px;
    margin: 0px 0;
    border-bottom: 2px solid #12c3e3;
    margin-bottom: 30px;
    display: inline-block;
}
.login_lib_wrapper .example-container {
    display: flex;
    flex-direction: column;
    box-shadow: -1px 4px 7px 2px #bfbfbf;
    padding: 16px;
}
.login_lib_wrapper .example-container button {
    background: #073769!important;
    margin-top: 30px;
    font-family: "RobotoBold";
    text-transform: uppercase;
    font-size: 30px;
    padding: 7px;
    border-radius: 0;
}

.main_wrapper{ padding: 0!important; box-shadow: none!important;}

.bred_cram_wrapper{ background: #dde2e5; display: flex!important;  padding: 8px; }
.bred_cram_wrapper a{ background: #b5bdbf;
  background: #b5bdbf;
  display: flex!important;
  color: #252525;
  padding: 8px 20px;
  text-decoration: none;
  margin: 0;
  justify-content: stretch;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "HelveticaRegular";
}


.activebread{
  background: #fff!important;

  color: #000!important;
  position: relative;
}

.activebread::before{
  content: '';
  width: 15px;
  height: 100%;
  background: #b5bdbf;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.activebread::after{
  content: '';
  width: 15px;
  height: 100%;
  background: #ffffff;
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 54%);
}

/* table structure */

tr.mat-header-row { background: #566075; }
.mat-sort-header-button {  color: #fff!important; text-transform: uppercase; }
th.mat-header-cell { color: #ffffff; text-transform: uppercase;  font-family: "AvenirRoman"; font-size: 16px; }
tr td br{ display: none; }
/* tr.mat-row:nth-child(even) { background: #dde2e5; } */
td.mat-cell  { color:#465157; font-family: "AvenirLight";  }
.mat-paginator {
  background: #105d9f!important;
  color: #fff!important; }
.mat-button.mat-accent[disabled], .mat-button.mat-primary[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled], .mat-stroked-button.mat-accent[disabled], .mat-stroked-button.mat-primary[disabled], .mat-stroked-button.mat-warn[disabled], .mat-stroked-button[disabled][disabled]{
    color: #fff!important;
}
  /* hiding icon from price markup table */
.priceMark .searchdiv:last-child,
.priceMark .cursor:last-child,
.priceMark .cursor:nth-of-type(3){ display: none;}

/* end table */

.mat-paginator-page-size-select {

    /* background: #fff; */
    color: #fff;
}

.content_header_wrapper{ background: #2c3439!important;  justify-content: space-between;  }
 .content_header_wrapper .toolbar_header{
  font-family: "HelveticaBold"; font-size: 30px; text-transform: uppercase; color: #fff; margin-bottom: 0; }

  .content_header_wrapper  .singleButton{ min-width: 185px; background: #f7462e; color: #fff; font-family: "HelveticaRegular"; border-radius: 0; font-size: 20px; }



  /* front end css */


  @font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts//Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/Helvetica-Bold.woff2') format('woff2'), url('../fonts/bold/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/Helvetica.woff2') format('woff2'), url('..fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratSemibold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'MontserratSemibold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }




  .images {
    position: relative; margin-bottom: 0!important;
  }

  .images img {
    max-width: 100%;
  }

  .tab_pannel {
    width: 165px;
    position: fixed;
    right: 0;
    top: 20%;
    display: block;
    background: #1bdcff;
    box-shadow: -1px 1px 7px 2px #4a3131;
  }

  .tab_pannel .mat-list-base {
    padding: 0;
  }

  .tab_pannel .mat-list-base .mat-list-item, .tab_pannel .mat-list-base .mat-list-option {
    display: block;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
    background: #01b2d3;
    margin: 5px 0;
    color: #fff;
  }

  .language_container1 {
    max-width: 300px;
    width: 180px!important;
    background: #00376b!important;
  }

  .language_container1 button:nth-child(3) {
    border-bottom: none;
  }

  .language_container1 button {
    color: #fff;
    height: auto;
    line-height: inherit;
    padding: 8px;
    border-bottom: 1px solid #fff;
  }
  .pro_menu{
    /* background: #114575!important; */
    background: linear-gradient(10deg, #1a62b1, #002750)!important;
  }
  .pro_menu .mat-menu-item {
    display: flex;
    justify-content: left;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
    border-bottom: 1px solid #d6d6d6;
  }

  .pro_menu .mat-menu-item:nth-last-child(1) {
    border: none;
  }

  .pro_menu .mat-menu-item i {
    margin-right: 5px;
    font-size: 24px;
  }
  .pro_menu .mat-menu-item-highlighted:not([disabled]), .pro_menu .mat-menu-item.cdk-keyboard-focused:not([disabled]),
  .pro_menu .mat-menu-item.cdk-program-focused:not([disabled]), .pro_menu .mat-menu-item:hover:not([disabled]) {
    background: #1580da;
  }
  .pro_menu .active{  background: #1580da!important; }
  /* loader css */
  .spinner_rotate{
    position: fixed!important;
    top: 50%;
    left: 50%;
    z-index: 999;
  }
  .spinner_rotate .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #fff!important;
  }

  .hospital_items .hospital_right .item_list .mat-list-item .mat-list-item-content { padding: 0!important; align-items: baseline;}
  .my_details_wrapper .mat_paginator .mat-button.mat-accent[disabled], .mat-button.mat-primary[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled], .mat-stroked-button.mat-accent[disabled], .mat-stroked-button.mat-primary[disabled], .mat-stroked-button.mat-warn[disabled], .mat-stroked-button[disabled][disabled] {
    color: #fff!important;
  }
  /* .my_details_wrapper .mat-select-value-text { color: #fff!important; } */
  .my_details_wrapper .mat-select-arrow { color: #fff!important; }
  .my_details_wrapper .mydetails_form_wrapper .forms .mat-form-field .mat-form-field-flex { padding: 0 10px!important; }
  .hospital_details_wrapper .details_description .mat-list-item .mat-list-item-content{ align-items: inherit!important; padding: 0;}

  .brand_group .mat-tab-label { background: #0bb4e5;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: "HelveticaBold";
    opacity: 1;
    min-width: 240px;

}

    .brand_group .mat-tab-label-active {
      background-color: #000!important;
      color: #fff;
      opacity: 1; border-bottom: 2px solid #f7462e;
  }

  .admin_submenu{ background: linear-gradient(-6deg, #053f75, #379fff)!important;}
  .admin_submenu button{ color: #fff; border-bottom: 2px solid #ddd;}
  .admin_submenu button:last-child{ color: #fff; border: none;}

  .quotation .mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {
    background: #3193ee!important;
}
.contact_form_banner .contactus_wrapper .form_section .example-container{ display:inherit; flex-direction: inherit; }
.contact_form_banner .contactus_wrapper .form_section .example-container .mat-form-field{ background: #15365c!important; margin-bottom: 10px; width: 100%; padding: 0 10px; box-sizing: border-box; }
.contact_form_banner .contactus_wrapper .form_section .example-container .fromClass:nth-of-type(1){width: 32%; display: inline-block; }
.contact_form_banner .contactus_wrapper .form_section .example-container .fromClass:nth-of-type(2){width: 33%; display: inline-block;  margin: 0 15px; }
.contact_form_banner .contactus_wrapper .form_section .example-container .fromClass:nth-of-type(3){width: 33%; display: inline-block }
.contact_form_banner .contactus_wrapper .form_section .example-container .fromClass:nth-of-type(4){width: 100%; }
.contact_form_banner .contactus_wrapper .form_section .example-container .fromClass:nth-of-type(5){width: 100%; }
.contact_form_banner .contactus_wrapper .form_section .from button {text-transform: uppercase; width: auto; height: auto; text-align: center; margin-top: 10px;  float: right;
  background: #111214; min-width: 210px; border-radius: 0; font-size: 28px; font-family: "RobotoMedium"; padding: 6px;}

  .contact_form_banner .contactus_wrapper .form_section .example-container .mat-form-field-label { color: #fff !important; }
  .contact_form_banner .contactus_wrapper .form_section .example-container .mat-form-field-infix {  color: #fff !important; }
  @media screen and (max-width: 1400px) {
    .frontend_nav .listing_container .mat-list-item .mat-list-item-content { padding: 0 10px!important; }
  }
  @media screen and (max-width: 1300px){
  .frontend_nav .listing_container .mat-list-item .mat-list-item-content { padding: 0 6px!important; }
}
/* for moodal */
.cdk-global-scrollblock{top: 0!important;}
.modal_wrapper{  width: 680px; overflow: auto; }
.modal_wrapper .mat-dialog-container  { padding: 0; }
/* for header */
.frontend_nav .listing_container .mat-list-item .mat-list-item-content { justify-content: center; padding: 0 10px;}

.purchageWrapper .purchase_item .List_wrapper .mat-list-item  .mat-list-item-content{  padding: 0!important;  }
/* contact us misc */
.cursor{ cursor: pointer;}
.contactus_misc .cursor:first-child{ display: none; }
.contactus_misc .cursor:last-child{ display: none; }
.contact_form_banner .form_section .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #fff;
}
.contact_form_banner .form_section  .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}

.comparisonModal { overflow: auto; }
.comparisonModal .mat-dialog-container{ padding: 0; }

.searchmainwrapper .mat-form-field .mat-form-field-wrapper { padding-bottom: 0; }




/* ------------------------------- avijit css start----------------------------------- */
.searchwrapper .mat-form-field-infix button{
  background: no-repeat;
  border: 0;
  border-left: 1px solid #566075;
}
.searchwrapper .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label{
  transition: inherit;
    transform: inherit !important;
    padding-left: 5px;
}
.searchwrapper .mat-form-field-infix {
  display: flex;
    width: 324px;
    border: 1px solid #d6d6d6;
    padding: 0 5px !important;
    align-items: center;
    border-radius: 5px;
}
.searchwrapper .mat-form-field-infix input{height: 35px;}
.searchwrapper .mat-form-field-flex .mat-datepicker-toggle{position: absolute;right: 7px;top: 2px;}
.searchwrapper .mat-form-field-appearance-legacy .mat-form-field-underline{display: none;}
.mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty{display: block !important;}
.searchwrapper .mat-form-field-label.ng-star-inserted{display: none !important;}
.block2content .mat-list-item .mat-list-item-content{padding: 0 !important;align-items: stretch !important;height: 100% !important;}
.dashboardcontainer{width: 1400px; margin: 0 auto; display: block;}

/* ----------------- list view css start ------------------ */

.aslist_view .mat-form-field-infix {
  display: flex;
  width: 272px;
  border: 1px solid #d6d6d6;
  padding: 0 5px !important;
  align-items: center;
  border-radius: 5px;
}
.aslist_view .liblisitin_wrapper .mat-paginator-container .mat-form-field-infix {
 border: 0;
}
.aslist_view  .mat-form-field-infix input, .aslist_view  .mat-form-field-infix mat-select{height: 35px;}
.aslist_view .mat-paginator-container mat-select{height: auto !important;}

.aslist_view  .mat-form-field-flex .mat-datepicker-toggle{position: absolute;right: 7px;top: -15px;}
.aslist_view  .mat-form-field-appearance-legacy .mat-form-field-underline{display: none;}
.mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty{display: block !important;}
.aslist_view .liblisitin_wrapper .inputfilter{display: none;}
.aslist_view .liblisitin_wrapper .mat-form-field-flex{position: relative;}
.aslist_view .liblisitin_wrapper mat-toolbar-row{padding: 0;}
.aslist_view .liblisitin_wrapper .mat-form-field-flex .mat-form-field-prefix.ng-tns-c12-2.ng-star-inserted{
  position: absolute;
    right: 1px;
    top: 5px;
    border-left: 1px solid #2c3439;
    padding-left: 5px;
}
.viewcontainer .col-1-2 .mat-list-item-content{padding: 0 !important;height: 100% !important;}

.formmainwrapper .file_uploader .inner_wrapper .imageupload .uploadfilecontainer {
  height: 100%;
  width: 100%;
}
.formmainwrapper .my_details_wrapper .mydetails_form_wrapper .forms .mat-form-field .mat-form-field-flex {
  background:none;padding: 0 0px!important;
}

.inputstyle .mat-form-field-appearance-legacy .mat-form-field-underline{display: none !important;}
.inputstyle .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  transform: inherit;
    top: -8px;
}
.inputstyle .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty{
  display: block !important;
    transition: none;
    transform: inherit !important;
    margin-top: 0;
    padding: initial;
    top: -8px;
    left: 0;
}
.inputstyle .mat-form-field-label-wrapper{
  overflow: inherit;
}
.inputstyle  .mat-form-field-infix input, .inputstyle  .mat-form-field-infix mat-select{
  height: 35px;
    border: 1px solid #ddd;
    padding: 0 1%;
    width: 98%;background: #fff;
}
.inputstyle  .mat-form-field-infix textarea{
  border: 1px solid #ddd;
  width: 99%;
  padding: .5%;
}
.inputstyle .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}
.inputstyle .mat-form-field-appearance-legacy .mat-form-field-infix, .inputstyle .mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 5px 0;
  border: 0;
  margin: 0 0;
  margin-top: 20px;
  position: relative;padding-bottom: 15px;
}
.inputstyle .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex{
  background: none;
    position: relative;
    top: -10px;
}
.inputstyle .mat-radio-button{margin-right: 10px;}
.inputstyle .mat-form-field-underline{display: none;}
.inputstyle .mat-form-field-wrapper {
  position: relative;padding-bottom: 0;
}
.col-1-1{width: 99%;padding: 0 .5%;display: inline-block;}
.col-1-2{width: 49%; padding: 0 .5%;display: inline-block;}
.col-1-3{width: 32.3%; padding: 0 .5%;display: inline-block;}
.col-1-4{width: 24%;padding: 0 .5%;display: inline-block;}
.formstylemainwrapper .mat-list-item{height: auto !important;}
.formstylemainwrapper .formbody{
  border: 1px solid #d6d6d6;
  padding: 20px 15px !important;
  /* width: inherit !important; */
  width: auto!important;
}
.formstylemainwrapper .mat-list-item .mat-list-item-content{ padding: 0 !important;}
.formstylemainwrapper .mat-list-item form{ width: 100%;}

.inputstyle.from_wrapper{border-radius: 5px;}

.formtitle{
  font-family: 'AvenirLight';
  font-size: 24px !important;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 1px solid #566075;
  margin-bottom: 25px !important;
  text-transform: capitalize;
}
.inputstyle .mat-form-field{display: block !important;}
.inputstyle mat-label, .inputstyle .mat-form-field-label {
  font-family: 'AvenirMedium' !important;
    font-size: 16px !important;
    color: #535353 !important
}
.inputstyle a{color: #0fa6d2;cursor: pointer;width: fit-content;}
.cpass{
  text-transform: uppercase;
  text-decoration: underline;
  top: -8px;
  display: block;
  position: relative;
  line-height: 21px;
}
/* .inputstyle .mat-checkbox-checkmark {
  fill: #ffffff;
  background: #0fce26;
  height: 6px;
  width: 6px !important;
  border-radius: 50%;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}
.inputstyle .mat-checkbox-checkmark-path {
  stroke: #ffffff00!important;
  height: 2px;
  width: 2px;
  background: white;
  display: inline-block;
  stroke-width: 2px !important;
  stroke-dasharray: 2px !important;
} */
/* .inputstyle .mat-checkbox-checked.mat-accent .mat-checkbox-background, .inputstyle .mat-checkbox-background{
  background-color: #ffffff;
    border: 2px solid #bababa;
    border-radius: 50%;
    height: 20px;
    width: 20px;
} */
/* .inputstyle .mat-checkbox-checked .mat-checkbox-checkmark{opacity: 0;}
.inputstyle .mat-checkbox-inner-container{height: 20px;}
.inputstyle .mat-checkbox-frame{display: none;} */

.checktitle{display: block;}
.checkwrapper{display: inline-block; padding-right: 10px;padding-top: 5px;}
.checkwrapper .mat-checkbox-label{text-transform: uppercase;}
.formfooter .button_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  width: 100%;
}
.button_wrapper button{min-width: 145px; color: #fff; text-transform: uppercase; font-size: 18px;font-family: 'AvenirMedium' !important; text-align: center;text-shadow: 0 2px 0 rgba(0,0,0,.30);}
.bluebutton{background-color: #013265 !important;}
.skybutton{background-color: #09c5fb !important;}
.inputstyle .mat-form-field-appearance-fill .mat-form-field-flex{padding: 0;}
/* .inputstyle .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0;
  background: none;
  border: 0;
} */
.inputstyle .mat-select-trigger{
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.inputstyle .mat-form-field-appearance-fill .mat-form-field-underline::before{display: none;}
.inputstyle .mat-select-value{overflow: inherit;}
.checkradiotitle{display: block;}
.inputstyle .mat-radio-button.mat-accent .mat-radio-inner-circle{background-color: #0fce26;}

.inputstyle .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #757575;
}
.inputstyle .checkradiowrapper mat-radio-button{margin-right: 10px;margin-top: 7px;}
/* .m_emailwrapper{display: flex;} */

.inputstyle .uploadfilecontainer{width: 100% !important;}
.inputstyle .pb-20{padding-bottom: 20px;}


.blogaddeditwrapper .inputstyle .mat-form-field{
  background: none !important;
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
}


.blogaddeditwrapper .inputstyle .ck.ck-editor__main>.ck-editor__editable {
  border-color: var(--ck-color-base-border);
  min-height: 160px;
  margin-bottom: 20px;
}


.blogaddeditwrapper .inputstyle .mat-toolbar.mat-primary h2{
  font-family: 'AvenirLight';
  font-size: 24px !important;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #566075;
  margin-bottom: 25px !important;
  text-transform: capitalize;
}
.blogaddeditwrapper .inputstyle .mat-toolbar.mat-primary {
  background: #ffffff;
  color: #000;    padding: 0;
}

.blogaddeditwrapper .inputstyle .formspan .example-container {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 0;
  background: none;
}
.blogaddeditwrapper .inputstyle .formspan {
  background-color: #ffffff;
  width: 100%;
  position: relative;
  margin: 0;
  border: 0;
  z-index: 9;
}
.blogaddeditwrapper .inputstyle .mat-checkbox{display: block;}

.listingnewstyle{display: block; background-color: #edf1f4; width: 100%; overflow: hidden;padding: 50px 0;}
.listingnewstyle .main_wrapper{
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,.30) !important;
  padding: 20px !important;
}
.listingnewstyle .main_wrapper table{ width: 100%;}

/* purchase quotes list */
.listingnewstyle .main_wrapper .purchase_quotes td.mat-cell:last-of-type{ text-align: inherit;}
.listingnewstyle .main_wrapper .purchase_quotes td button{ background: #00294f;
  padding: 4px;
  line-height: inherit;
  margin: 0;
  color: #fff;
  font-family: "AvenirMedium";
  text-transform: capitalize; border-radius: 0; }
  .listingnewstyle .main_wrapper .purchase_quotes td button:last-child{ background: #f7452e; margin-left: 5px;}
  .listingnewstyle .main_wrapper .purchase_quotes th.mat-header-cell:last-of-type,
  .listingnewstyle .main_wrapper .purchase_quotes td.mat-cell:last-of-type{ text-align: center;}
  .puchase_quotes .mat-form-field-infix { display: flex; width: 324px; border: 1px solid #d6d6d6; margin: 0 3px !important; align-items: center; border-radius: 5px; }
/* end purchase quotes list */

.listingnewstyle .content_header_wrapper .toolbar_header{
  font-family: 'AvenirLight';
  font-size: 24px !important;
  text-transform: capitalize;
  color: #535353;
}
.listingnewstyle .content_header_wrapper {
  background: none!important;
  padding-bottom: 0;
  width: 100%;
  border-bottom: 1px solid #566075;
  margin-bottom: 15px !important;
  padding-left: 0;
  padding-right: 0;
}
.listingnewstyle .container .mat-card{
  padding: 0;
  box-shadow: none;
  padding: 7px;
  border: 1px solid #d6d6d6;
  border-radius: 0;
}
.listingnewstyle table.mat-table{
  box-shadow: none;
}
.listingnewstyle .container br{display: none;}
.listingnewstyle tr.mat-row:nth-child(even) {
  background: #ffffff;
}
.listingnewstyle .mat-paginator .mat-select-value-text{color: #fff;}
.listingnewstyle .mat-paginator .mat-select-arrow{color: #fff;}
.listingnewstyle .mat-paginator {
  background: #566075!important;
  color: #fff!important;
}
.listingnewstyle .mat-paginator .mat-paginator-range-label {
  margin: 0 5px 0 5px;font-family: 'AvenirLight';
}

.listingnewstyle .mat-paginator-container{justify-content: center;align-items: center;}
.listingnewstyle .mat-paginator-page-size-select{margin: 0px 4px 0 4px;}
.listingnewstyle tr.mat-header-row {
  background: #566075;
}
/* .listingnewstyle .mat-paginator-outer-container {
  padding: 12px 0;
} */

.listingnewstyle .mat-sort-header-button, .listingnewstyle th.mat-header-cell:last-of-type{
  font-family: 'AvenirRoman';
  font-size: 16px;
  /* text-transform: capitalize; */
}

.listingnewstyle .mat-table{
  font-family: 'AvenirLight';
  font-size: 14px;
  color: #465157;
}
.listingnewstyle .ng-star-inserted .cursor{display: none;}
.listingnewstyle .ng-star-inserted .cursor:nth-child(1){display: inline-block;background: #00294f;padding: 5px;color: #fff;margin-right: 5px;}
.listingnewstyle .ng-star-inserted .cursor:nth-child(1):after{content: 'View Details';}
.listingnewstyle .ng-star-inserted .cursor:nth-child(1) i{display: none;}

.listingnewstyle .ng-star-inserted .cursor:nth-child(2){display: inline-block;background: #f7452e;padding: 5px;color: #fff;margin-right: 5px;}
.listingnewstyle .ng-star-inserted .cursor:nth-child(2):after{content: 'Delete';}
.listingnewstyle .ng-star-inserted .cursor:nth-child(2) i{display: none;}

.listingnewstyle td.mat-cell:last-of-type{padding-right: 0px;text-align: right;}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-infix{
  background: white;border-radius: 0; border-top: 0;
}
.listingnewstyle mat-toolbar-row.searchbar .ng-star-inserted mat-form-field .mat-form-field-infix{
  width: 262px;
}
.listingnewstyle mat-toolbar-row.searchbar .ng-star-inserted mat-form-field{
  margin-right: 5px;
}
.listingnewstyle mat-toolbar-row.searchbar {
  background: #00294f;
  padding: 13px;
}
.listingnewstyle mat-toolbar-row.searchbar .mat-raised-button.mat-primary{
  margin: 0 !important;
  border-radius: 0;
  background-color: #369ff3;
  text-transform: capitalize;
  font-family: 'AvenirMedium' !important;
}
.listingnewstyle .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {
  display: block !important;
  width: 98%;
  padding: 0 1%;
  transition: none !important;
  transform: inherit !important;
  text-transform: capitalize;
  font-family: 'AvenirMedium' !important;
}
.listingnewstyle .mat-paginator-page-size{font-family: 'AvenirLight' !important; text-transform: capitalize;}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-label.ng-tns-c12-2.ng-star-inserted{display: none !important;}
.listingnewstyle mat-toolbar-row.searchbar .mat-select-trigger{height: 100%;}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-label.ng-tns-c12-3.ng-star-inserted{display: none !important;}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{display: none !important;}
.listingnewstyle mat-toolbar-row.searchbar .mat-select-value{vertical-align: middle;}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-prefix{
  position: absolute;
    right: 0;
    top: 50% !important;
    z-index: 9;
    transform: translate(0%, -50%);
    border-left: 1px solid #00294f;
    padding-left: 5px;
}
.listingnewstyle .content_header_wrapper .singleButton{
  min-width: 102px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'AvenirMedium' !important;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,.30);
  background: #369ff3;
  text-align: center;
}

.medicalpartnerlistingnewstyle.listingnewstyle mat-toolbar-row.searchbar .ng-star-inserted mat-form-field .mat-form-field-infix {
  width: 184px;
}

.listingnewstyle .mat-form-field-appearance-legacy .mat-form-field-underline{display: none;}
.medicalpartnerlistingnewstyle.listingnewstyle .mat-form-field-suffix {
  white-space: nowrap;
  flex: none;
  position: absolute;
  right: 3px;
  top: 4px;
}
.medicalpartnerlistingnewstyle.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-infix input{height: 25px; }
/* .medicalpartnerlistingnewstyle.listingnewstyle .mat-paginator-container{justify-content: center;align-items: stretch;} */
.medicalpartnerlistingnewstyle.listingnewstyle .mat-paginator .mat-form-field-appearance-legacy .mat-form-field-infix{border: 0;}
/* .listingnewstyle .ng-star-inserted{display: inline-block;text-align: right;width: 100%;} */


.salesreplistingnewstyle.listingnewstyle .mat-paginator .mat-form-field-appearance-legacy .mat-form-field-infix{border: 0;}

.listingnewstyle .mat-form-field-prefix, .mat-form-field-suffix {
  position: absolute !important;
  right: 0;
  top: 4px;
}

.listingnewstyle .aslist_view .mat-form-field-flex .mat-datepicker-toggle {
  position: inherit;
  right: inherit;
  top: inherit;
}
.salesreplistingnewstyle.listingnewstyle mat-toolbar-row.searchbar .ng-star-inserted mat-form-field .mat-form-field-infix {
  width: 233px;
}


/* inventory login modal css */
.Login_confirm{ width: 600px;}
.Login_confirm .mat-dialog-container{ background: #f2f9ff;
  border: 4px solid #40a2f5;  padding: 0;}



/*-------------- modal css start ---------------- */
.changepassword .cdk-overlay-pane{width: 33% !important;}
.changepassword .mat-dialog-container{border: 7px solid #1a8eec;}
/*-------------- modal css end ---------------- */

/* quote cart css */
.top_quotesection .mat-form-field-flex { display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  border: 1px solid #cecece;
  background: #fff;
  width: 280px;
  padding: 0px 10px 6px;
  border-radius: 2px;}
.top_quotesection .mat-form-field-appearance-legacy .mat-form-field-underline { background-color: inherit; }
/* end quote cart css */
/* ----------------- list view css end -------------------- */


@media screen and (max-width: 1560px) {
  .dashboardcontainer {width: 85%;}
}

@media screen and (max-width: 1300px){
  .dashboardcontainer {width: 94%;}
}
@media screen and (max-width: 991px){
  .block2content .mat-list-item .mat-list-item-content {
    justify-content: center;
    flex-wrap: wrap;
}
}
/* ------------------------------- avijit css end ------------------------------------ */


.formmainwrapper .file_uploader .uploadtextwrapper {font-family: 'AvenirMedium'; }








