.quote_cart_wrapper{ width: 1400px; margin: 20px auto;}

.top_logo_wrapper{ border: 1px solid #d6d6d6; padding: 16px; }

.top_logo_wrapper .top_wr1{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;}
.top_logo_wrapper .top_wr1 .inner_items {margin-bottom: 0;}
.top_logo_wrapper .top_wr1 .inner_items_top  { width: 300px; margin: 0;}
.top_logo_wrapper .top_wr1 .details{ border-left: 1px solid #d2d2d2; padding: 0; margin-top: 0px; padding-left: 10px; }
.top_logo_wrapper .top_wr1 .details p{ margin: 5px 0; font-family: "AvenirBook"; font-size: 16px; color: #535353;}
.top_logo_wrapper .top_wr1 .details p span{ font-family: "AvenirMedium";}
.top_logo_wrapper .top_wr1 .details .mat-list-item{ height: auto; padding: 3px 0; font-family: 'AvenirBook'; color: #465157; }
.top_logo_wrapper .inner_items_top_bottom { display: flex; justify-content: space-between; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper { margin-bottom: 0; width: 49.5%; border: 1px solid #d2d2d2; padding-bottom: 8px; box-sizing: border-box; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper .header { font-family: 'AvenirBlack'; text-transform: uppercase; font-size: 20px; background: #013265;  color: #fff;
  padding: 10px; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper  .mat-list{ padding: 0; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper p{ font-family: "AvenirBook"; font-size: 18px; color: #535353; height: auto; word-break: break-word;
  padding: 5px 12px; display: flex; margin:0; width: auto;}
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper p span{  min-width: max-content; text-transform: uppercase; margin-right: 6px; }

/* table */
.quote_table_wrapper{ margin-bottom: 0;}
.quote_table_wrapper .name_header{ font-family: 'AvenirBlack'; color: #000; font-size: 16px; }
.quote_table_wrapper table{width: 100%; }
.quote_table_wrapper table th.mat-header-cell{background: #1b66b5; }
.quote_table_wrapper table th.mat-header-cell { color: #ffffff; text-transform: uppercase; font-family: "AvenirRoman"; font-size: 18px;}
.quote_table_wrapper .text_with_span { display: inline-flex; align-items: center;  }
.quote_table_wrapper .text_with_span textarea {border: 1px solid #ddd; resize: none; text-align: center;}
.quote_table_wrapper .text_with_span textarea:focus { outline: none;}
.quote_table_wrapper .text_with_span .action_button { display: inline-flex; flex-direction: column;  }
.quote_table_wrapper .text_with_span .action_button button {line-height: inherit; padding: 3px; background:#e73a38; border-radius: 0; color:#fff; text-transform: capitalize; font-size: 12px; font-family: "AvenirMedium";  }
.quote_table_wrapper .text_with_span .action_button button:last-child { background:#013265;  margin-top: 1px; }
.quote_table_wrapper .bottom_action { justify-content: flex-end; margin-top: 24px; align-items: center; height: auto; display: flex;}
.quote_table_wrapper .bottom_action button{ font-family: 'AvenirRoman'; font-size: 18px; text-transform: uppercase; background: #013265; color: #fff; min-width: 120px; border-radius: 0;}
.quote_table_wrapper .bottom_action button:last-child{ margin-left: 10px; background:#09c5fb;}
.quote_table_wrapper table td.mat-cell { border: .2px solid #dadada; padding: 8px;}
.quote_table_wrapper table td.mat-cell .viewDetails { background: #09c5fb; color: #fff; font-family: 'AvenirMedium';
  line-height: inherit; padding: 5px 10px; font-size: 16px;}
.quote_table_wrapper table .cdk-column-price{ width: 8%;}
.quote_table_wrapper table td.mat-footer-cell{ border: 1px solid #d2d2d2; padding: 8px; }
.quote_table_wrapper table td.mat-footer-cell:last-child{ border: 1px solid #d2d2d2; }
.quote_table_wrapper table td.mat-footer-cell:nth-child(6){ border: 1px solid #d2d2d2; text-align: center; }

.quote_table_wrapper table td.mat-cell { color: #465157; font-family: "AvenirMedium"; }
.quote_table_wrapper table td.mat-cell:first-of-type  { padding-left: 24px; }
.quote_table_wrapper table th:first-of-type{ width: 35%;}
.quote_table_wrapper table th:last-of-type{ width: 18%;}
.quote_table_wrapper table .descriptionquoteview{ margin: 0; margin-top: 10px; font-family: 'AvenirMedium';}
.quote_table_wrapper table .descriptionquoteview span{  font-family: 'AvenirBlack'; color: #000; font-size: 16px; }

.hidecls{display: none !important;}
.quote_table_wrapper table td.mat-footer-cell:first-child{ padding-left: 24px;}
.quotemodalvew h1{font-family: "AvenirMedium"; font-size: 20px; color: #000; margin: 0; margin-bottom: 10px; background: #fff; padding: 10px; border: 0.5px solid #d6d6d6;
  border-radius: 2px;}
.quotemodalvew h1 span{ color: #564c4c; margin: 0; min-width: 150px; display: inline-block;}
.quotemodalvew .image_wrapper{ display: flex; justify-content: center; border: 1px solid #01c7ff; padding: 10px; box-sizing: border-box; background: #fff; align-items: center;
}
.quotemodalvew .image_wrapper img{ max-width: 100%;}
.quotemodalvew{ margin-bottom: 0; padding: 24px; background: #e4e4e4; border: 5px solid #164e84; box-sizing: border-box; display: flex; flex-direction: column; }
.quotemodalvew button{ background: #12457b; min-width: 120px; color: #fff; text-transform: uppercase; font-family: 'Avenirmedium'; margin-left: auto; border-radius: 0;
  margin-top: 16px;}

@media screen and ( max-width:1540px){ 
  .quote_cart_wrapper { width: 88%; }
}
@media screen and ( max-width:992px){
  .top_logo_wrapper .top_wr1 .inner_items{ width: 50%; }
  .top_logo_wrapper .top_wr1 .inner_items img{ max-width: 100%; }
  .top_logo_wrapper .top_wr1 .inner_items_top { width: 48%; }
}
@media screen and ( max-width:960px){
.quote_table_wrapper table .cdk-column-price { width: auto; }
.quote_table_wrapper table td.mat-footer-cell:nth-child(2),
.quote_table_wrapper table td.mat-footer-cell:nth-child(3),
.quote_table_wrapper table td.mat-footer-cell:nth-child(6),
.quote_table_wrapper table td.mat-footer-cell:last-child{ display: none;}
.quote_table_wrapper table td.mat-cell:first-of-type  { padding-left: 8px; }
}

@media screen and ( max-width: 840px){
.top_logo_wrapper .inner_items_top_bottom { display: flex; flex-wrap: wrap; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper { width: 100%; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper:first-child { margin-bottom: 16px; }
.top_logo_wrapper .top_wr1 .details .mat-list-item{ padding: 0; line-height: 18px; }
}
@media screen and ( max-width: 668px){
.top_logo_wrapper .top_wr1 .details { margin-top: 0; }
}
