.quote_cart_wrapper{ width: 1400px; margin: 20px auto;}

.top_logo_wrapper{ border: 1px solid #d6d6d6; padding: 16px; }

.top_logo_wrapper .top_wr1{ display: flex; justify-content: space-between; align-items: center;}
.top_logo_wrapper .top_wr1 .inner_items {margin-bottom: 0;}
.top_logo_wrapper .top_wr1 .details{ border-left: 1px solid #d2d2d2; padding: 0; margin-top: 10px; }
.top_logo_wrapper .inner_items_top_bottom { display: flex; justify-content: space-between; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper { margin-bottom: 0; width: 48%; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper .header { font-family: 'AvenirBlack'; text-transform: uppercase; font-size: 20px; background: #013265;  color: #fff;
  padding: 10px; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper  .mat-list{ padding: 0; }
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper p{ font-family: "AvenirBook"; font-size: 18px; color: #535353; height: auto; word-break: break-word;
  padding: 5px 0; display: flex; margin:0;}
.top_logo_wrapper .inner_items_top_bottom .rep_wrapper p span{  min-width: max-content; text-transform: uppercase; margin-right: 6px; }

/* table */
.quote_table_wrapper{ margin-bottom: 0;}
.quote_table_wrapper table{width: 100%; }
.quote_table_wrapper table th.mat-header-cell{background: #1b66b5; }
.quote_table_wrapper table th.mat-header-cell {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "AvenirRoman";
  font-size: 20px; }
  .quote_table_wrapper .text_with_span { display: inline-flex; align-items: center;  }
  .quote_table_wrapper .text_with_span textarea {border: none; resize: none;}
  .quote_table_wrapper .text_with_span textarea:focus { outline: none;}
  .quote_table_wrapper .text_with_span .action_button { display: inline-flex; flex-direction: column;  }
  .quote_table_wrapper .text_with_span .action_button button {line-height: inherit; padding: 3px; background:#e73a38; border-radius: 0; color:#fff; text-transform: capitalize; font-size: 12px; font-family: "AvenirMedium";  }
  .quote_table_wrapper .text_with_span .action_button button:last-child { background:#013265;  margin-top: 1px; }
  .quote_table_wrapper  .bottom_action { justify-content: flex-end; margin-top: 24px; align-items: center; height: auto; display: flex;}
  .quote_table_wrapper  .bottom_action button{ font-family: 'AvenirRoman'; font-size: 18px; text-transform: uppercase; background: #013265; color: #fff; min-width: 120px;
    border-radius: 0;}
    .quote_table_wrapper  .bottom_action button:last-child{ margin-left: 10px; background:#09c5fb;}
    .quote_table_wrapper table td.mat-cell {
      border: .2px solid #dadada;
      padding: 8px;
  }
  .quote_table_wrapper table .cdk-column-price{    width: 8%;}
  .quote_table_wrapper table td.mat-footer-cell{border-bottom-color:none; }
  .quote_table_wrapper table td.mat-footer-cell:last-child{ border: 1px solid #d2d2d2; text-align: center;}
  .quote_table_wrapper table td.mat-footer-cell:nth-child(6){ border: 1px solid #d2d2d2; text-align: center; }

  .quote_table_wrapper table td.mat-cell {
    color: #465157;
    font-family: "AvenirMedium";
}
