<app-adminheader>
  <mat-card class="main_wrapper">
    <mat-card-content class="bred_cram_wrapper">
      <a mat-list-item routerLinkActive="active"> Dashboard </a>
      <a mat-list-item routerLinkActive="active" routerLink="/inventory/manage-inventory/inventory-category/list">
        inventory category list </a>
      <a mat-list-item routerLinkActive="active activebread"> {{header_text}}
      </a>

    </mat-card-content>


    <mat-card-content class="from_wrapper">
      <h3 class="form_header">{{ header_txt }}</h3>
      <form [formGroup]="inventoryCategoryForm" autocomplete="off">

        <!-- Category name  -->
        <mat-form-field>
          <input matInput placeholder="Category name" formControlName="category_name">
        </mat-form-field><br>

        <!-- Parent Category  -->
        <mat-form-field>
          <mat-label>Parent Category</mat-label>
          <mat-select matNativeControl formControlName="parent_category">
            <mat-option value="0">Select a category</mat-option>
            <mat-option value="{{ item._id }}" *ngFor="let item of parentcat_array">{{ item.category_name }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>

        <!-- Description  -->
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field><br>


        <!-- Priority -->
        <mat-form-field>
          <input matInput placeholder="Priority" formControlName="priority">
        </mat-form-field><br>

        <!-- Status  -->
        <mat-label>Status</mat-label><br>
        <mat-checkbox formControlName="status">Active</mat-checkbox><br>


        <!-- Buttons  -->
        <span class="button_wrapper">
          <button mat-flat-button type="reset" color="warn">RESET</button>
          <button mat-flat-button type="button" (click)="onSubmit()" color="primary">{{btn_text}} </button>
        </span>
      </form>
    </mat-card-content>
  </mat-card>
</app-adminheader>
