<app-adminheader>
    <span class="dashboardcontainer">
  <mat-card class="main_wrapper">
    <!-- <mat-card-content class="bred_cram_wrapper ">
      <a mat-list-item routerLinkActive="active"> Dashboard </a>
      <a mat-list-item routerLinkActive="active" routerLink="/inventory/manage-inventory/inventory-category/list">
        inventory category list </a>
      <a mat-list-item routerLinkActive="active activebread"> {{header_text}}
      </a>

    </mat-card-content> -->
    <mat-card-content class="from_wrapper inputstyle">
    <mat-list class="formstylemainwrapper">
       
      <mat-list-item class="formheader"> <mat-card-title class="formtitle">{{ header_txt }}</mat-card-title></mat-list-item>
      <mat-list-item class="formbody">
          <form [formGroup]="inventoryCategoryForm" autocomplete="off">
              <span class="col-1-2">
              <!-- Category name  -->
              <mat-form-field>
                <input matInput placeholder="Category name" formControlName="category_name"
                  (blur)="inputBlur('category_name')">
                <mat-error *ngIf="!inventoryCategoryForm.controls['category_name'].valid
                && inventoryCategoryForm.controls['category_name'].errors.required">Category Name is required.</mat-error>
              </mat-form-field>
              </span>
              <span class="col-1-2">      
              <!-- Parent Category  -->
              <mat-form-field>
                <mat-label>Parent Category</mat-label>
                <mat-select matNativeControl formControlName="parent_category">
                  <mat-option value="0">Select a category</mat-option>
                  <mat-option value="{{ item._id }}" *ngFor="let item of parentcat_array">{{ item.category_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </span>
              <span class="col-1-1 pb-20">    
      
              <!-- Select Brand -->
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Select Brands" aria-label="Number" matInput [formControl]="myControl"
                  [matAutocomplete]="auto" formControlName="brand_id" (keyup)="collect_brands($event)"
                  (blur)="inputBlur('brand_id')">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" (click)="collect_brands_onclick(option.brand_id)"
                    [value]="option.brand_id" [id]="option.brand_id">
                    {{option.brand_name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="errCode==true">Brand is required.</mat-error>
                <div class="mat-error ng-star-inserted error" *ngIf="errCode==true">Brand is required.</div>
              </mat-form-field>
              
              <div>
                <mat-chip-list>
                  <mat-chip *ngFor="let ba of brand_array;let i = index">{{ ba }}
                    <mat-icon matSuffix class="clickable" (click)="clearBrand(i,ba)">clear</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </span>
      
            <span class="col-1-1 pb-20"> 
              <!-- Description  -->
              <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="description" rows="5"
                  (blur)="inputBlur('description')"></textarea>
                <mat-error *ngIf="!inventoryCategoryForm.controls['description'].valid
                && inventoryCategoryForm.controls['description'].errors.required">Description is required.</mat-error>
              </mat-form-field>
      </span>
      <span class="col-1-1"> 
              <!-- Priority -->
              <mat-form-field>
                <input matInput placeholder="Priority" formControlName="priority" (blur)="inputBlur('priority')">
                <mat-error *ngIf="!inventoryCategoryForm.controls['priority'].valid
                && inventoryCategoryForm.controls['priority'].errors.required">Priority is required.</mat-error>
              </mat-form-field>
              </span>
              <span class="col-1-1"> 
      
              <!-- Status  -->
              <mat-label>Status</mat-label><br>
              <mat-checkbox formControlName="status">Active</mat-checkbox><br>
      </span>
      
              <!-- Buttons  -->
             
            </form>
      </mat-list-item>
      <mat-list-item class="formfooter">
          <span class="button_wrapper">
              <button mat-flat-button type="reset" color="warn">RESET</button>
              <button mat-flat-button type="button" (click)="onSubmit()" color="primary">{{btn_text}} </button>
            </span>
      </mat-list-item>     
    </mat-list>
   </mat-card-content>

    
      <!-- <h3 class="form_header">{{ header_txt }}</h3> -->
 
  </mat-card>
  </span>
</app-adminheader>