<app-adminheader>
    <mat-card class="main_wrapper">
        <mat-card-content class="bred_cram_wrapper">
            <a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard-admin'"> Dashboard </a>
            <a mat-list-item routerLinkActive="active"  [routerLink]="'/inventory/inventory-list/list'"> inventory-list </a>
            <a mat-list-item routerLinkActive="active activebread" [routerLink]="'/inventory/inventory-list/add'"> add
            </a>
        </mat-card-content>


        <mat-card-content class="from_wrapper">

            <h1 class="form_header">{{ header_txt }}</h1>
            <form autocomplete="off" [formGroup]="inventoryForm">


                <!-- Inventory Name  -->
                <mat-form-field>
                    <mat-label class="label">Inventory Name</mat-label>
                    <input matInput formControlName="inventory_name">
                </mat-form-field><br>


                <!-- Brand mat-selection -->
                <mat-form-field>

                    <mat-label class="label">select Brand</mat-label>

                    <mat-select matNativeControl required formControlName="brand_name">
                        <mat-option value="0">select a brand</mat-option>
                        <mat-option value="{{ item._id }}" *ngFor="let item of brand_name_array">{{ item.brand_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field><br>


                <!-- Inventory Category mat-selection  -->
                <mat-form-field>

                    <mat-label class="label">select Category</mat-label>

                    <mat-select matNativeControl required formControlName="inventory_category">
                        <mat-option value="0">select a category</mat-option>
                        <mat-option value="{{ item._id }}" *ngFor="let item of inventory_category_array">
                            {{ item.category_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field><br>


                <!-- Model -->


                <mat-form-field>
                    <mat-label class="label">Model</mat-label>
                    <input matInput formControlName="model">
                </mat-form-field><br>


                <!-- Description  -->
                <mat-form-field>
                    <mat-label class="label">Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field><br>



                <!-- image upload -->
                <h3>Inventory Image :</h3>
                <lib-file-upload [config]="configData"></lib-file-upload><br>
                <mat-error *ngIf="ErrCode==true">Please add just one service image.</mat-error>

                <!-- Card view for Image  -->
                <mat-card-content class="files-view" *ngIf="img_flag==true">
                    <mat-card class="example-card">
                        <img mat-card-image [src]="fullImagePath">
                        <mat-card-title>{{ imageName }}</mat-card-title>
                        <mat-card-subtitle>{{ imageType }}</mat-card-subtitle>
                        <span class="closecard" (click)="clear_image()"><i class="material-icons">clear</i></span>

                    </mat-card>
                </mat-card-content>



                <!-- Condition -->
                <mat-label class="label">Condition:</mat-label>
                <mat-radio-group formControlName="condition">
                    <mat-radio-button value="New" (click)="yom_flag=false"> New</mat-radio-button>
                    <mat-radio-button value="Used" (click)="yom_flag=true">Used</mat-radio-button>
                </mat-radio-group><br>



                <!-- Year of manufacture -->

                <mat-form-field *ngIf="yom_flag==true">
                    <mat-label class="label">Year of manufacture</mat-label>
                    <input matInput type="number" formControlName="yom">
                </mat-form-field>
                <br>

                <!-- Availability -->
                <mat-form-field>
                    <mat-label class="label">Availabiity:</mat-label>
                    <mat-select matNativeControl required formControlName="availabiity">
                        <mat-option value="Not Available">Not Available</mat-option>
                        <mat-option value="Available">Available</mat-option>
                    </mat-select>
                </mat-form-field><br>


                <!-- In Stock  -->
                <mat-form-field>
                    <mat-label class="label">In Stock</mat-label>
                    <input matInput type="number" formControlName="instock">
                </mat-form-field><br>
                <!-- Status -->

                <mat-label class="label">Status</mat-label><br>
                <mat-checkbox formControlName="status">Active</mat-checkbox><br>

                <span class="button_wrapper">
                    <!-- Dynamic form fields  -->
                    <button mat-flat-button type="button" (click)="create_field()" color="primary">Add field </button>

                    <!-- Buttons  -->
                    <button mat-flat-button type="reset" color="warn">RESET</button>
                    <button mat-flat-button type="button" (click)="onSubmit()" color="accent">{{btn_text}} </button>
                </span>
            </form>
        </mat-card-content>

    </mat-card>
</app-adminheader>