<app-frontend-header></app-frontend-header>
<mat-card-content class="sh_buyfrmus_topblock">
  <mat-card-content class="sh_buyfrmus_content_wrapper">
    <h2 class="header">About MD Stock International</h2>
    <p class="paragraph">
      With a vision to become the key specialist resource partner to hospitals and healthcare centers, MD Stock
      International has been a pioneer in the provision of top-notch medical and laboratory equipment, supplies,
      pharmaceuticals, chemicals and consumables for two decades.

    </p>


  </mat-card-content>
</mat-card-content>
<!-- end one -->


<mat-card-content class="sh_hp_wrapper">
  <mat-card-content class="content_wrapper">
    <mat-card-content class="inner_image_wrapper">
      <img src="assets/images/aboutusInnerimage.jpg">
    </mat-card-content>
    <mat-card-content class="inner_content_wrapper">
      <mat-card-title class="header">Setting New Standards In The Industry Of Buying & Selling Hospital Equipment For
        Two Decades </mat-card-title>
      <mat-card-subtitle class="subheader">MD Stock International is an industry leader in the provision of medical,
        surgical supplies, laboratory chemicals, laboratory consumables, diagnostic equipment, dental consumables,
        microbiology, clinical chemistry, instruments, pharmaceuticals, and industrial products.
      </mat-card-subtitle>
      <p class="inner_paragraph">
        Founded in the year 1999, we have been supplying premier quality hospital and laboratory equipment, machinery
        and supplies to our Hospital Partners for almost two decades. From our headquarters in Freeport, Trinidad and
        Tobago, we reach out to a massive clientele based in the Caribbean, Central America, South America, Europe, Asia
        and a number of other major countries around the globe.
      </p>
      <p class="inner_paragraph">
        We offer reliable and unparalleled customer service and an expansive inventory of laboratory equipment and
        supplies, medical equipment, medical instruments, orthopedic equipment and safety supplies. Our exclusive
        listing services offer competitive pricing for all listed items, to offer the best quality of equipment at the
        best prices for our clients and partners.<span> Take a look at our inventory listing to purchase your hospital
          equipment needs TODAY!!</span>

      </p>
      <button mat-button class="inner_action" routerLink="/inventory">view inventory</button>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>

<!-- start blog 3 -->
<mat-card-content class="sh_about_medical_consultancy">
  <mat-card-content class="content_wrapper">
    <mat-card-content class="top_header">
      Medical Supplies<br> Consultancy Service for Medical Institutions
    </mat-card-content>


    <mat-card-content class="sh_medical_content_type1">
      <mat-card-title class="heading">We offer sales support in :</mat-card-title>
      <mat-list class="list1">
        <mat-list-item>Lab Design and Furnishing</mat-list-item>
        <mat-list-item>Laboratory Supplies, Chemicals and Equipment</mat-list-item>
        <mat-list-item>Pharmaceutical Products</mat-list-item>
        <mat-list-item>Clinical Lab Instruments</mat-list-item>
        <mat-list-item>Diagnostic Kits and Controls</mat-list-item>
        <mat-list-item>Personal Protection Equipment</mat-list-item>
        <mat-list-item>Organic and Custom Synthesis Products</mat-list-item>
        <mat-list-item>Cell Culture Supplies, Protein Assay Kits and Reagents</mat-list-item>
        <mat-list-item>Field Service, Technical Services, Procurement Solutions</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-content class="sh_medical_content_type2 ">
      <mat-card-title class="heading">What we offer before, during and after the sale:</mat-card-title>
      <mat-list class="list1">
        <mat-list-item>In-house services including warranty and field repair services, check up, and installation
          calibration.
        </mat-list-item>
        <mat-list-item>On-site services including warranty and field repair work, start up, and installation
        </mat-list-item>
        <mat-list-item>services and preventative maintenance plans.</mat-list-item>
        <mat-list-item>Custom programs to meet your unique requirements.</mat-list-item>
        <mat-list-item>Rental and lease programs.</mat-list-item>
        <mat-list-item>For consumables and supplies that we have ex-stock, we deliver in twenty four (24) hours.
        </mat-list-item>
        <mat-list-item>Organic and Custom Synthesis Products</mat-list-item>
        <mat-list-item>Consultancy programs for laboratory designs and equipment.</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>

<!-- start last blog -->
<mat-card-content class="sh_medical_ourvision">
  <mat-card-content class="sh_ourvision_content">
    <mat-card-content class="sh_ourvision_content_wrapper">
      <mat-card-title class="title">our vision</mat-card-title>
      <mat-card-title class="subtitle">Improving Healthcare Standards Of Medical Facilities Through The Best Equipment. </mat-card-title>
      <p class="description">
        Our aim is to become the key specialist resource partner to hospitals, healthcare centers and territories for
        the provision of top-notch medical and laboratory equipment, supplies, pharmaceuticals, chemicals and
        consumables, as well as to contribute to the development of an enabling environment, so that everybody has
        access to healthcare services with international standards of excellence.
        <br><br>
        Through our services, we create unique partnerships with our customers by catering to their medical,
        pharmaceuticals and laboratory needs. We contribute to the personal growth and commercial success of our
        hospital partners, transforming them into leaders in the Healthcare industry!

      </p>
      <button mat-button class="action_buttons">learn more</button>
    </mat-card-content>
    <mat-card-content class="sh_ourvision_image_wrapper">
        <img src="../../../../assets/images/vision_block_image.jpg">
    </mat-card-content>
  </mat-card-content>
</mat-card-content>

<app-frontend-footer></app-frontend-footer>
