.my_details_wrapper{
  background: #f5f5f5; border: 1px solid #dddd; padding-bottom: 20px;    margin-top: 30px;
}
.my_details_wrapper .header_part{ display: block; height: auto; background: url("../../../../../assets/images/mydetails_hospitalicon.png") no-repeat 98%;  background-size: 70px;
  padding-right: 50px; border-bottom: 1px solid #d6d2d2; padding: 16px;
}
.my_details_wrapper .header_part h2{ color: #1480db; font-family: "HelveticaBold"; text-transform: capitalize; font-size: 24px;}
.my_details_wrapper .header_part p{ color: #393939; font-family: "HelveticaRegular"; text-transform: capitalize; font-size: 18px; margin: 0;}

.my_details_wrapper .button_wrapper .manage_button{  width: 190px; border-radius: 0; text-transform: capitalize; background: #111214; color: #fff; font-family: "RobotoMedium"; font-size: 18px; padding: 5px;
  margin-left: auto;}

.hospital_items { display: flex; justify-content: space-between; padding: 20px; border: 1px solid #ddd; background: #fff; margin: 5px; }
.hospital_items .hospital_left {
  width: 378px;
  margin-bottom: 0;
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  box-sizing: border-box;
  display: flex;
}
.hospital_items .hospital_left img{ 
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;

}
.hospital_items .hospital_right  { padding-left: 20px; width: 100%; box-sizing: border-box; }
.hospital_items .hospital_right .title { font-size: 20px; font-family: "HelveticaBold"; color: #137fdb; text-transform: uppercase;}
.hospital_items .hospital_right .item_list{ width: 100%; display: inline-block; box-sizing: border-box;}
.hospital_items .hospital_right .item_list:last-child{ border-left: 2px solid #ddd; padding-left: 16px;}

.hospital_items .hospital_right .item_list .mat-list-item {
   height: auto; font-size: 14px;
    font-family: "Helvetica"; 
    color: #30373d; text-transform: uppercase;
    padding: 5px 0; 
    word-break: break-word;
  }
.hospital_items .hospital_right .item_list .mat-list-item span{font-family: "HelveticaBold"; }
.hospital_items .hospital_right .item_list .mat-list-item span {
  min-width: auto;
  height: auto;
  align-items: inherit;
  margin-right: 10px;
}
.hospital_items .hospital_right .item_list .mat-list-base .mat-list-item .mat-list-item-content { padding: 0; }
.my_details_wrapper .mat_paginator{ background: #105d9f; color: #fff; display: flex; justify-content: center; align-items: center; margin: 0 16px; }


.hospitallistmainwrapper{
  display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    cursor: pointer;
}

.hospitallistmainwrapper .hospital_items{
  width: 45.5%;
    position: relative;
}
.buttonwrapper {
  display: inline-block;
    width: 100%;
    margin-left: -5px;padding-top: 10px;
}
.btnblue{background: #09c5fb; color: #fff; border-radius: 0;margin: 0 5px;}
.btnred{background: red; color: #fff; border-radius: 0; margin: 0 5px;}
.shareLinkWrapper { border: 1px solid #1787e6; }
.shareLinkWrapper .link_title{ color: #1480db; font-family: "HelveticaBold"; font-size: 24px; text-transform: capitalize; }
.share_linkBar{ display: flex; justify-content: space-between; align-items: center; height: auto; background: #0673df; padding: 5px; margin-top: 5px; }
   
 
.share_linkBar .share_LL{ 
    background: #002950;
    margin-bottom: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: "HelveticaRegular";
}

.share_linkBar .copyLinkWrappr{ min-height: 32px; background: #fff; width: 100%; padding: 3px 5px; display: inline-flex; justify-content: flex-start; align-items: center; position: relative; margin: 0; padding-right: 67px;}
.share_linkBar .copyLinkWrappr  button{ background: #ee210d; position: absolute; color: #fff; font-size: 22px; padding: 0; width: auto; border-radius: 0; right: 0; height: 100%;    
    }
.share_linkBar .share_link{ line-height: 16px; font-size: 16px; font-family: "MontserratSemibold"; word-break: break-all; white-space: normal; }
.social_media_wrapper{ margin:0; border: 1px solid #fff; display: flex; width: 160px;}
.social_media_wrapper a{ font-size: 18px; font-family: "MontserratBold"; color: #fff; border-radius: 0; min-width: 40px; padding: 2px 10px; box-sizing: border-box; }
.social_media_wrapper a:nth-child(1){background: #3b5998;}
.social_media_wrapper a:nth-child(2){background: #0e76a8;}
.social_media_wrapper a:nth-child(3){background: #00acee;}
.social_media_wrapper a:nth-child(4){background: #34526f;}

@media screen and (max-width: 1500px){
  .hospital_items .hospital_right .title { font-size: 18px; }
}
@media screen and (max-width: 991px){
.my_details_wrapper .mydetails_form_wrapper{ padding: 16px;}
.my_details_wrapper .mydetails_form_wrapper .forms { width: 100%; margin: 1% 0; }
}
@media screen and (max-width:840px){
.my_details_wrapper .mydetails_form_wrapper .button_action button { width: 49%; }
}
