.my_details_wrapper{
  background: #ffffff;
  border: 1px solid #dddd;
  padding-bottom: 20px;
  width: 770px;
  margin: 35px auto;
  box-shadow: 0 5px 10px #b2b2b2;    padding: 0;
}
.mydetails_form_wrapper { padding: 8px;  }
.my_details_wrapper .header_part{ display: block; height: auto; background: url("../../../../../assets/images/mydetails_hospitalicon.png") no-repeat 98%;  background-size: 75px;
  padding: 16px; padding-right: 50px; border-bottom: 1px solid #d6d2d2; }
.my_details_wrapper .header_part h2{ color: #1480db; font-family: "HelveticaBold"; text-transform: capitalize; font-size: 24px;}
.my_details_wrapper .header_part p{ color: #393939; font-family: "HelveticaRegular"; text-transform: capitalize; font-size: 18px; margin: 0;}
.my_details_wrapper .mydetails_form_wrapper .forms{ display: flex; flex-direction: column; margin-bottom: 0; width: 100%; margin: 0; }
  .my_details_wrapper .mydetails_form_wrapper  .address_wrapper{ display: flex; justify-content: space-between;     flex-wrap: wrap;}
  .my_details_wrapper .mydetails_form_wrapper  .doctors_stuff{ display: flex; justify-content: space-between; }
.my_details_wrapper .mydetails_form_wrapper .forms .mat-form-field {
   background: none!important; border: 0px solid #ddd; height: 30px;
  padding: 10px 0;    border-radius: 2px; }


.my_details_wrapper .mydetails_form_wrapper .forms .mydetails_ac_lebel{ font-size: 16px; text-transform: uppercase; font-family: "HelveticaRegular"; color: #111214; margin-bottom: 6px;}

.my_details_wrapper .mydetails_form_wrapper .button_action button{ width:290px; font-family: "RobotoMedium"; font-size: 30px; text-transform: uppercase; padding: 8px;
  margin-left: 6px; color: #fff; border-radius: 0; }
.my_details_wrapper .mydetails_form_wrapper .button_action { 
  justify-content: center;
    margin-top: 20px;
    background: none;
}
.my_details_wrapper .mydetails_form_wrapper .button_action button:nth-child(1){ background: #137fda; margin-left: 0; }
.my_details_wrapper .mydetails_form_wrapper .button_action button:nth-child(2){ background: #111214; }

.my_details_wrapper .mydetails_form_wrapper  .file_uploader { padding: 0 10px; }
.my_details_wrapper .mydetails_form_wrapper  .file_uploader .mydetails_ac_lebel { font-size: 16px;
  text-transform: uppercase;
  font-family: "HelveticaRegular";
  color: #111214;
  margin: 10px 0;
  display: block;}
.my_details_wrapper .mydetails_form_wrapper  .file_uploader .inner_wrapper{ display: flex; align-items: center; background: none; border: 0px solid #ddd; padding: 10px;}
.my_details_wrapper .mydetails_form_wrapper  .file_uploader .inner_wrapper .upoader{ width: 85px; height: 85px; border: 1px solid #ddd; border-radius: 2px; padding: 5px; margin-bottom: 0; }
.my_details_wrapper .mydetails_form_wrapper  .file_uploader .inner_wrapper .upoader img{ max-width:100%; }
.my_details_wrapper .mydetails_form_wrapper  .file_uploader .inner_wrapper .change_image{ font-size: 18px; font-family: "HelveticaBold"; color: #00163a; text-transform: capitalize;
width: 170px; padding: 3px; background: linear-gradient(180deg, #80d7ff, #0081de); margin-left: 20px;}
.my_details_wrapper .mydetails_form_wrapper .large_view {width: auto;}
.my_details_wrapper .mydetails_form_wrapper  .file_uploader .inner_wrapper .change_image i{ color: #fff; margin-left: 10px; }
.imageupload{width: 100%;}
.formmainwrapper{background-color: #fff;}


@media screen and (max-width: 991px){
.my_details_wrapper .mydetails_form_wrapper{ padding: 16px;}
.my_details_wrapper .mydetails_form_wrapper .forms { width: 100%; margin: 1% 0; }
}
  @media screen and (max-width:840px){
.my_details_wrapper .mydetails_form_wrapper .button_action button { width: 49%; }
}
