<!-- <app-myaccount>
  <mat-card-content class="images">
      <img src="/assets/images/sales_hospital_management.jpg">

  </mat-card-content>
</app-myaccount> -->
<app-adminheader>
        <span class="dashboardcontainer"> 
            <span class="formmainwrapper">
    <mat-card-content class="my_details_wrapper">
        <mat-toolbar class="header_part">
            <h2>Manage Hospital </h2>
            <p>Manage Hospital Information</p>
        </mat-toolbar>


        <form autocomplete="off" [formGroup]="manageHospitalForm">
            <mat-card-content class="mydetails_form_wrapper">
                <mat-card-content class="forms large_view">
                    <!-- <mat-label class="mydetails_ac_lebel">Hospital Name</mat-label> -->
                    <mat-form-field>
                        <input matInput formControlName="hospitalname" placeholder="Hospital Name">
                    </mat-form-field>
                </mat-card-content>

                <mat-card-content class="forms large_view">
                    <!-- <mat-label class="mydetails_ac_lebel">Email</mat-label> -->
                    <mat-form-field>
                        <input matInput formControlName="email" placeholder="Email">
                    </mat-form-field>
                </mat-card-content>

                <mat-card-content class="file_uploader">
                    <mat-label class="mydetails_ac_lebel">image</mat-label>

                    <mat-card-content class="inner_wrapper">
                       
                        <lib-file-upload class="imageupload" [config]="configData"></lib-file-upload><br>
                        <mat-error *ngIf="ErrCode==true">Please add just one service image.</mat-error>

                    </mat-card-content>
                </mat-card-content>

                <span class="address_wrapper">
                    <mat-card-content class="forms">
                        <!-- <mat-label class="mydetails_ac_lebel"></mat-label> -->
                        <mat-form-field>
                            <input matInput formControlName="contactperson" placeholder="Contact Person">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <!-- <mat-label class="mydetails_ac_lebel"> </mat-label> -->
                        <mat-form-field>
                            <input matInput formControlName="contactphones" (keyup)="collect_phones($event)" placeholder="Phone(s)">
                        </mat-form-field>
                        <div>
                            <mat-chip-list>
                                <mat-chip *ngFor="let cpa of collect_phone_array;let i = index">{{ cpa }}
                                    <mat-icon matSuffix class="clickable" (click)="clearPhones(i)">clear</mat-icon>
                                </mat-chip>

                            </mat-chip-list>
                        </div>

                    </mat-card-content>
                    <mat-card-content class="forms">
                        <!-- <mat-label class="mydetails_ac_lebel">(s) </mat-label> -->
                        <mat-form-field>
                            <input matInput formControlName="contactemails" (keyup)="collect_email($event)" placeholder="EMAIL">
                        </mat-form-field>
                        <div>
                            <mat-chip-list>
                                <mat-chip *ngFor="let cma of collect_email_array;let i = index">{{ cma }}
                                    <mat-icon matSuffix class="clickable" (click)="clearEmail(i)">clear</mat-icon>
                                </mat-chip>

                            </mat-chip-list>
                        </div>
                    </mat-card-content>

                </span>


                <mat-card-content class="forms">
                    <!-- <mat-label class="mydetails_ac_lebel">STATE</mat-label> -->
                    <mat-form-field appearance="fill">
                            <mat-label>State</mat-label>
                        <!-- <mat-label>State</mat-label> -->
                        <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
                            <mat-option [value]=0>Select a category</mat-option>
                            <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>

                <span class="address_wrapper">
                    <mat-card-content class="forms">
                        <!-- <mat-label class="mydetails_ac_lebel">City</mat-label> -->
                        <mat-form-field appearance="fill">
                            <mat-label>City</mat-label>
                            <mat-select formControlName="city">
                                <mat-option [value]=0>Select a category</mat-option>
                                <mat-option *ngFor="let city of cities;" value="{{ city }}">{{ city }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-card-content>


                    <mat-card-content class="forms">
                        <!-- <mat-label class="mydetails_ac_lebel">ZIP</mat-label> -->
                        <mat-form-field>
                            <input matInput formControlName="zip" placeholder="ZIP">
                        </mat-form-field>
                    </mat-card-content>
                </span>
                <!-- <span class="doctors_stuff">
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">Speciality</mat-label>
                        <mat-form-field>
                            <input matInput formControlName="speciality">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">No of Doctors </mat-label>
                        <mat-form-field>
                            <input matInput type="number" formControlName="noofdoctors">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">No of Beds </mat-label>
                        <mat-form-field>
                            <input matInput type="number" formControlName="noofbeds">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">No of Staffs </mat-label>
                        <mat-form-field>
                            <input matInput type="number" formControlName="noofstaffs">
                        </mat-form-field>
                    </mat-card-content>

                </span> -->

                <mat-toolbar class="button_action">
                    <button type="button" mat-button (click)="onSubmit()">{{ btn_text }}</button>
                    <button type="button" mat-button>cancel</button>
                </mat-toolbar>


            </mat-card-content>
        </form>
    </mat-card-content>



    <!-- <mat-card-content class="images">
        <img src="/assets/images/hospitalMyaccount.jpg">
    </mat-card-content> -->
</span>
</span>
</app-adminheader>