<app-adminheader>
    <mat-card>
        <mat-card>
            <mat-card-title class="Header">{{packageDetails.package_name}}</mat-card-title> 
            <!-- <span>Department:<span>{{packageDetails.department}}</span></span> -->
            <span>Description:<span>{{packageDetails.package_description}}</span></span>
        </mat-card>

        <mat-card>
            <mat-card-title class="Header">Medical Device</mat-card-title> 
            <mat-card-content class="cart_item" *ngFor="let item of medicaldevice;let i=index;">

                <table>
                  <tr>
                    <th>Product:</th>
                    <td>
                      <ng-container *ngIf="item.brandname==null">
                        {{item.brandName}}{{item.identifiers.identifier.deviceId}}
                      </ng-container>
      
                      <ng-container *ngIf="item.brandname!=null">
                        {{item.device_name}}
                      </ng-container>
      
                    </td>
                  </tr>
                  <tr>
                    <th>Company Name :</th>
                    <td>
                      <ng-container *ngIf="item.brandname==null">
                        {{item.companyName}}
                      </ng-container>
      
                      <ng-container *ngIf="item.brandname!=null">
                        {{item.companyName}}
                      </ng-container>
      
                    </td>
                  </tr>
                  <tr>
                    <th>Brand : </th>
                    <td>
                      <ng-container *ngIf="item.brandname==null">
                        {{item.brandName}}
                      </ng-container>
                      <ng-container *ngIf="item.brandname!=null">
                        {{item.brandname}}
                      </ng-container>
                    </td>
                  </tr>
                  <tr>
                    <th>Version/Model:</th>
                    <td>
                      <ng-container *ngIf="item.brandname==null">
                        {{item.versionModelNumber}}
                      </ng-container>
      
                      <ng-container *ngIf="item.version!=null">
                        {{item.version}}
                      </ng-container>
      
      
                    </td>
                  </tr>
                  <tr>
                    <th>Device ID :</th>
                    <td>
                      <ng-container *ngIf="item.brandname==null">
                        {{item.identifiers.identifier.deviceId}}
                      </ng-container>
                      <ng-container *ngIf="item.brandname!=null">
                        {{item.device_id}}
                      </ng-container>
                    </td>
                  </tr>
      
                  <tr>
                    <th>Description</th>
                    <td>
      
                      <ng-container *ngIf="item.brandname==null">
                        <span class="device_descc">
                          {{item.deviceDescription}}
                        </span>
                      </ng-container>
      
                      <ng-container *ngIf="item.brandname!=null">
                        {{item.version}}
                      </ng-container>
      
                    </td>
                  </tr>
      
                  <tr>
                    <th>Quantity :</th>
                    <td>
                      {{item.quantity}}
                    </td>
                  </tr>
                  <tr>
                    <td>Bed</td>
                    <td>{{item.tied_to_bed}}</td>
                  </tr>
                </table>      
              </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title class="Header">Disposal Device details</mat-card-title> 
            <mat-card-content *ngFor="let item of disposalDevice;let i=index;" class="dispo_wrapper">
                <mat-card-content class="inner_image">
                  <img src="{{item.image}}">
                </mat-card-content>
                <mat-card-content class="inner_content">

                  <table>
                    <tr>
                      <td colspan="2"> {{item.inventory_name}}</td>
                    </tr>
                    <tr>
                      <td>Brand:</td>
                      <td>{{item.brand}}</td>
                    </tr>

                    <tr>
                      <td>Description:</td>
                      <td class="desc">{{item.description}}</td>
                    </tr>
                    <tr>
                      <td>Quantity</td>
                      <td>{{item.quantity}}</td>
                    </tr>
                    <tr>
                      <td>Bed</td>
                      <td>{{item.tied_to_bed}}</td>
                    </tr>
                  </table>
                </mat-card-content>
              </mat-card-content>
        </mat-card>
        <button mat-button type="button" (click)="buildPackageNow()">Build package Now</button>
        <button mat-button type="button" (click)="cancel()">Cancel</button>
    </mat-card>
</app-adminheader>
