<h4>add condition</h4>
<h4><input type="number" [(ngModel)]="data.alldata.purchaseyear" placeholder="Purchase year"></h4>
<h4><input type="text" [(ngModel)]="data.alldata.cosmetic_condition" placeholder="Cosmetic Condition"></h4>
<h4><input type="number" [(ngModel)]="data.alldata.original_cost" placeholder="Original Cost"></h4>
<h4><input type="number" [(ngModel)]="data.alldata.selling_timeframe" placeholder="Selling Timeframe"></h4>
<h4><input type="text" [(ngModel)]="data.alldata.addditional_information" placeholder="Additional Information"></h4>