.Product_wrapper{ width: 1400px; margin:30px auto;}
.Product_wrapper .product_list_wrapper{ margin-bottom: 0; width: 100%; background: #f3f3f3; display: flex; justify-content: space-between; padding: 16px; box-sizing: border-box;}
.Product_wrapper .product_list_wrapper .left_inner {  width: 70%; margin-bottom: 0;}
.Product_wrapper .product_list_wrapper .left_inner form { background: #fff; padding: 6px 10px; box-sizing: border-box; border-radius: 40px; box-shadow: 0px 1px 4px 0px #00294f; }
.Product_wrapper .product_list_wrapper .left_inner form .search_input { width: 100%; border: none; padding: 10px 0; }
.Product_wrapper .product_list_wrapper .left_inner form .search_input:focus { outline: none; }
.Product_wrapper .product_list_wrapper .itens_wrapper{background: #fff; box-sizing: border-box; padding: 10px; box-shadow: 0px 2px 3px 0px #656565; margin-bottom: 0;
  margin-top: 16px; display: flex; justify-content: space-between;}

  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner span{ display: block; margin-bottom: 10px; display: flex; }
  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner span i{ color: #08ccc3; font-size: 20px; vertical-align: top; margin-right: 5px;}
  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner { width: 100%; margin-bottom: 0; box-sizing: border-box; }
  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner:last-child{ width: 42%; padding-left: 20px;}
  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .name{ font-family: 'AvenirBlack'; font-size: 20px; color:#2e3031;  }
  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .desc{ font-family: 'AvenirMedium'; margin-bottom: 0; font-size: 16px; color: #353535; }
  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .pro_wrapper{ margin-bottom: 0;  }
  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .pro_wrapper button{ background: #08ccc3;
    color: #fff;
    font-family: 'AvenirMedium';
    font-size: 18px;
    text-transform: capitalize; }
  .Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .pro_wrapper button:last-child{margin-left: 10px; background: #ff6959;}
.Product_wrapper .product_list_wrapper .right_inner{  width: 29%; background: #fff; margin-bottom: 0; padding: 10px 16px;
  box-sizing: border-box;}
.Product_wrapper .product_list_wrapper .right_inner .Header{ color: #00adff; font-family: 'AvenirBlack'; font-size: 22px; text-transform: capitalize;}
.Product_wrapper .proList_title{ background: #01d0ff; color: #fff; padding: 12px; text-align: center; font-size: 28px; font-family: 'AvenirMedium'; text-transform: uppercase;
  margin-bottom: 0;}
.deviceName{ margin: 0; padding: 10px;
  border-bottom: 3px solid #00667d;
  font-family: 'AvenirRoman';
  color: #00667d;
  font-size: 22px;
  background: #effcff;}