<app-adminheader>
  <mat-card-content class="Product_wrapper">
    <mat-card-content class="product_list_wrapper">
      <mat-card-content class="left_inner">
        <form autocomplete="off" [formGroup]="inventoryfromApiForm">
          <!-- inventoery search -->
          <mat-form-field>
            <mat-label class="label">Search by Product</mat-label>
            <input matInput placeholder="Inventory Search" formControlName="inventory_name" (keyup)="searchproduct()">
          </mat-form-field>

          <!-- brand Search -->
          <!-- <mat-form-field>
            <mat-label class="label">Search by Brand</mat-label>
              <input matInput placeholder="Inventory Search" [matAutocomplete]="autoGroup" formControlName="brand_name">
              <mat-autocomplete #autoGroup="matAutocomplete" >
                <ng-container *ngIf="inven!=null ">
                <mat-option *ngFor="let inventory of inven | async" [value]="inventory.inventory_name" (click)="inventoryAdd(inventory)" >
                  <img *ngIf="inventory.image!=null" class="example-option-img" aria-hidden [src]="inventory.image" height="25">
                  <span *ngIf="inventory.inventory_name!=null">|| {{inventory.inventory_name}} ||</span>
                  <small *ngIf="inventory.sku!=null">{{inventory.sku}}</small>
                </mat-option>
              </ng-container>
              </mat-autocomplete>
          </mat-form-field> -->
        </form>
        <ng-container *ngIf="inven!=null ">
          <mat-card-content class="itens_wrapper" *ngFor="let inventory of inven" (click)="inventoryAdd(inventory)">
            <mat-card-content class="itenms_inner">
              <span class="name" *ngIf="inventory._source.brandName!=null"> {{inventory._source.brandName}}({{inventory._source.identifiers.identifier.deviceId}})</span>
              <span class="desc"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                {{inventory._source.deviceDescription}}</span>
            </mat-card-content>
            <mat-card-content class="itenms_inner">
              <span class="compName"><i class="fa fa-building-o" aria-hidden="true"></i>
                {{inventory._source.companyName}}</span>
              <span class="version"><i class="fa fa-diamond" aria-hidden="true"></i>{{inventory._source.versionModelNumber}}</span>
              <span class="pro_wrapper">
              <button mat-button>Add to List</button>
              <button mat-button (click)="viewDetails(inventory._id)">View Details </button>
            </span>
            </mat-card-content>
          </mat-card-content>
        </ng-container>
      </mat-card-content>
      <mat-card-content class="right_inner">
        <mat-card-title class="Header">Selected Cart items</mat-card-title>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</app-adminheader>
