<mat-card-content class="modal_content">


    <h4 class="deviceName"><span>Device Name </span>:
        <ng-container *ngIf="data.alldata._source!=null">
            {{data.alldata._source.brandName}}({{data.alldata._source.identifiers.identifier.deviceId}})
        </ng-container>
        <ng-container *ngIf="data.alldata.brandName!=null">
            {{data.alldata.brandName}}({{data.alldata.identifiers.identifier.deviceId}})
        </ng-container>
        </h4>
<br>
    <mat-accordion class="accordians">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>DEVICE IDENTIFIER (DI) INFORMATION</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card-content>
                <table>
                    <tr>
                        <th>Company Name</th>
                        <td> <ng-container *ngIf="data.alldata._source!=null">
                            {{data.alldata._source.companyName}}
                             </ng-container>
                             <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.companyName}}
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th>Brand</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                            {{data.alldata._source.brandName}}
                          </ng-container>
                          <ng-container *ngIf="data.alldata.brandName!=null">
                            {{data.alldata.brandName}}
                          </ng-container>
                            
                        </td>
                    </tr>
                    <tr>
                        <th>Version or Model</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.versionModelNumber}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.versionModelNumber}}
                            </ng-container>
                        </td>
                    </tr>

                    <tr>
                        <th>Comercial Distribution State</th>
                        <td> 
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.deviceCommDistributionStatus}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.deviceCommDistributionStatus}}
                            </ng-container>
                             </td>
                    </tr>
                    <tr>
                        <th>Catalog No</th>
                        <td> 
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.catalogNumber}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.catalogNumber}}
                            </ng-container>
                             </td>
                    </tr>
                    <tr>
                        <th>UID</th>
                        <td> 
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.identifiers.identifier.deviceId}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.identifiers.identifier.deviceId}}
                            </ng-container>
                             </td>
                    </tr>
                    <tr>
                        <th>Issuing Agency</th>
                        <td> 
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.identifiers.identifier.primaryDeviceIdIssuingAgency}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.identifiers.identifier.primaryDeviceIdIssuingAgency}}
                            </ng-container>
                             </td>
                    </tr>
                    <tr>
                        <th>Labeler D-U-N-S No</th>
                        <td> 
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.dunsNumber}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.dunsNumber}}
                            </ng-container>
                             </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="uper">Description:</span> <br> 
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.productCodes.fdaProductCode.productCode}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.deviceDescription}}
                            </ng-container>
                            </td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-expansion-panel>

         <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>DEVICE Charecteristics</span>
                </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-card-content>
                <table>
                    <tr>
                        <th>What MRI safety information does the labeling contain?</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.MRISafetyStatus}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.MRISafetyStatus}}
                            </ng-container>
                            </td>
                    </tr>
                    <tr>
                        <th>Device required to be labeled as containing natural rubber latex or dry natural rubber (21
                            CFR
                            801.437)</th>
                        <td>
                            
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.productCodes.fdaProductCode.productCode}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.deviceDescription}}
                            </ng-container>
                        </td>
                    </tr>

                    <tr>
                        <th>Device labeled as "Not made with natural rubber latex</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                <ng-container *ngIf="data.alldata._source.labeledNoNRL==true">Yes</ng-container>
                            <ng-container *ngIf="data.alldata._source.labeledNoNRL==false">No</ng-container>
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                <ng-container *ngIf="data.alldata.labeledNoNRL==true">Yes</ng-container>
                            <ng-container *ngIf="data.alldata.labeledNoNRL==false">No</ng-container>
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th>For Single-Use</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                <ng-container *ngIf="data.alldata._source.singleUse==true">Yes</ng-container>
                                <ng-container *ngIf="data.alldata._source.singleUse==false">No</ng-container>
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                <ng-container *ngIf="data.alldata.singleUse==true">Yes</ng-container>
                                <ng-container *ngIf="data.alldata.singleUse==false">No</ng-container>
                            </ng-container>
                          
                        </td>
                    </tr>
                    <tr>
                        <th>Prescription Use (Rx)</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                <ng-container *ngIf="data.alldata._source.rx==true">Yes</ng-container>
                            <ng-container *ngIf="data.alldata._source.rx==false">No</ng-container>
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                <ng-container *ngIf="data.alldata.rx==true">Yes</ng-container>
                                <ng-container *ngIf="data.alldata.rx==false">No</ng-container>
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th>POver the Counter (OTC)</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                <ng-container *ngIf="data.alldata._source.otc==true">Yes</ng-container>
                                <ng-container *ngIf="data.alldata._source.otc==false">No</ng-container>
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                <ng-container *ngIf="data.alldata.otc==true">Yes</ng-container>
                            <ng-container *ngIf="data.alldata.otc==false">No</ng-container>
                            </ng-container>

                        </td>
                    </tr>
                    <tr>
                        <th>Kit</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                <ng-container *ngIf="data.alldata._source.deviceKit==true">Yes</ng-container>
                            <ng-container *ngIf="data.alldata._source.deviceKit==false">No</ng-container>
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                <ng-container *ngIf="data.alldata.deviceKit==true">Yes</ng-container>
                                <ng-container *ngIf="data.alldata.deviceKit==false">No</ng-container>
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th>Combination Product</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                <ng-container *ngIf="data.alldata._source.deviceCombinationProduct==true">Yes</ng-container>
                            <ng-container *ngIf="data.alldata._source.deviceCombinationProduct==false">No</ng-container>
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                <ng-container *ngIf="data.alldata.deviceCombinationProduct==true">Yes</ng-container>
                                <ng-container *ngIf="data.alldata.deviceCombinationProduct==false">No</ng-container>
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th>Human Cell, Tissue or Cellular or Tissue-Based Product (HCT/P)</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                <ng-container *ngIf="data.alldata._source.deviceHCTP==true">Yes</ng-container>
                            <ng-container *ngIf="data.alldata._source.deviceHCTP==false">No</ng-container>
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                <ng-container *ngIf="data.alldata.deviceHCTP==true">Yes</ng-container>
                                <ng-container *ngIf="data.alldata.deviceHCTP==false">No</ng-container>
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th>FDA Product Code</th>
                        <td>
                            <span>Product Code</span>:
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.productCodes.fdaProductCode.productCode}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.productCodes.fdaProductCode.productCode}}
                            </ng-container>
                            <span>Product Code
                                Name</span>:
                                <ng-container *ngIf="data.alldata._source!=null">
                                    {{data.alldata._source.productCodes.fdaProductCode.productCodeName}}
                                </ng-container>
                                <ng-container *ngIf="data.alldata.brandName!=null">
                                    {{data.alldata.productCodes.fdaProductCode.productCodeName}}
                                </ng-container>
                                
                        </td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-expansion-panel>  

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>FDA Product Code</span>
                </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-card-content>
                <table>
                    <tr>
                        <th>Product Code</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.productCodes.fdaProductCode.productCode}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.productCodes.fdaProductCode.productCode}}
                            </ng-container>
                            
                            </td>
                    </tr>
                    <tr>
                        <th>Product Code Name</th>
                        <td>
                            <ng-container *ngIf="data.alldata._source!=null">
                                {{data.alldata._source.productCodes.fdaProductCode.productCodeName}}
                            </ng-container>
                            <ng-container *ngIf="data.alldata.brandName!=null">
                                {{data.alldata.productCodes.fdaProductCode.productCodeName}}
                            </ng-container>
                            
                            </td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-expansion-panel>
    </mat-accordion>

    <button class="action_button" mat-button mat-button [mat-dialog-close]="true" cdkFocusInitial><i
            class="material-icons"> clear </i></button>
</mat-card-content>