<app-adminheader>
  <mat-card-content class="Product_wrapper">
    <mat-card-title class="proList_title">Product List Category</mat-card-title>
    <mat-card-content class="product_list_wrapper">
      <mat-card-content class="left_inner">

        <form autocomplete="off" [formGroup]="packageHospitalForm">
          <span class="col-1-4">
            <mat-form-field>
              <mat-label>Package Name:</mat-label>
              <input matInput type="text" formControlName="package_name" (blur)="inputBlur('package_name')">
              <mat-error *ngIf="!packageHospitalForm.controls['package_name'].valid
                && packageHospitalForm.controls['package_name'].errors.required">
                Department Name is required.
              </mat-error>
            </mat-form-field>

          </span>

          <!-- Department  -->
          <span class="col-1-4">
            <mat-form-field>
              <mat-label>Department:</mat-label>
              <mat-select formControlName="department">
                <mat-option *ngFor="let food of deplist" [value]="food._id">
                  {{food.department_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </span>


          <!-- Description  -->
          <span class="col-1-4">
            <mat-form-field>
              <mat-label>Description:</mat-label>
              <textarea matInput formControlName="package_description"
                (blur)="inputBlur('package_description')"></textarea>
              <mat-error *ngIf="!packageHospitalForm.controls['package_description'].valid
                                            && packageHospitalForm.controls['package_description'].errors.required">
                Description is required.
              </mat-error>
            </mat-form-field>

          </span>



          <button mat-button type="button" class="skybutton" (click)="onSubmit()" color="primary">Submit</button>
        </form>

        <!-- search medical device -->
        <mat-lebal>Search Medical Device</mat-lebal>
        <input type="text" value="Sydney" [(ngModel)]="medicalDevice" />
        <button (click)="medicalDeviceSearch(medicalDevice)">click</button><br>
        <!-- search medical device -->



        <!-- search medical device -->
        <mat-lebal>Search Disposable Inventory</mat-lebal>
        <input type="text" value="Sydney" [(ngModel)]="disInventory" />
        <button (click)="inventorySearch(disInventory)">click</button>
        <!-- search medical device -->



        <ng-container *ngIf="medDevice!=null">
          <mat-card-content class="itens_wrapper" *ngFor="let inventory of medDevice">
            <mat-card-content class="itenms_inner">
              <span class="name" *ngIf="inventory._source.brandName!=null">
                {{inventory._source.brandName}}({{inventory._source.identifiers.identifier.deviceId}})</span>

              <span class="ineer_wr">
                <span class="items"><i matTooltip="Company Name" matTooltipPosition="above" class="fa fa-building-o"
                    aria-hidden="true"></i>
                  <p>{{inventory._source.companyName}}</p>
                </span>

                <span class="items"><i matTooltip="Version or Model" matTooltipPosition="above" class="fa fa-diamond"
                    aria-hidden="true"></i>
                  <p>{{inventory._source.versionModelNumber}}</p>
                </span>

                <span class="items"><i matTooltip="Device ID" matTooltipPosition="above" class="fa fa-desktop"
                    aria-hidden="true"></i>
                  <p> {{inventory._source.identifiers.identifier.deviceId}}</p>
                </span>


                <span class="items"><i matTooltip="GMDN Terms" matTooltipPosition="above" class="fa fa-sign-language"
                    aria-hidden="true"></i>
                  <p>{{inventory._source.gmdnTerms.gmdn.gmdnPTName}}</p>
                </span>
              </span>

              <span class="desc"><i matTooltip="Description" matTooltipPosition="above" class="fa fa-newspaper-o"
                  aria-hidden="true"></i>
                <p> {{inventory._source.deviceDescription}}</p>
              </span>
            </mat-card-content>
            <mat-card-content class="action_wrapper">
              <button mat-button (click)="inventoryAdd(inventory)">Add to List</button>
              <button mat-button (click)="viewDetails(inventory)">View Details </button>
            </mat-card-content>
          </mat-card-content>
        </ng-container>



        <!-- inventory search result -->

        <mat-card *ngIf="PackageInventoryDetails!=null && PackageInventoryDetails.length > 0">
          <mat-card-content class="package_wrapper">
            <span class="total_wrapper" *ngFor="let item of PackageInventoryDetails;let i=index;">
              <mat-card-content class="tab_item">
                <mat-card-content class="inner_image">
                  <img src="{{item.image}}">
                </mat-card-content>
                <mat-card-content class="inner_content">

                  <table>
                    <tr>
                      <td>Inventory Name:</td>
                      <td class="invName">{{item.inventory_name}}</td>
                    </tr>
                    <tr>
                      <td>Brand:</td>
                      <td>{{item.brand}}</td>
                    </tr>
                    <tr>
                      <td>SKU#:</td>
                      <td>{{item.sku}}</td>
                    </tr>
                    <tr>
                      <td>Description:</td>
                      <td class="desc">{{item.description}}</td>
                    </tr>
                  </table>
                </mat-card-content>

              </mat-card-content>
              <mat-toolbar class="action">
                <span class="inc_dec">
                  <a *ngIf="item.quantity!=1" (click)="removeItem(item)">-</a>
                  <label>{{item.quantity}}</label><a (click)="addToqty(item)"> + </a>
                </span>
                <button mat-button (click)="remove(i)" class="remove">Remove</button>
              </mat-toolbar>
            </span>
          </mat-card-content>

        </mat-card>
      </mat-card-content>
    

    <!-- add to list for medical device -->
    <mat-card-content class="right_inner">
      <mat-card-title class="Header">Selected Cart items</mat-card-title>
    <mat-card-content class="tab_item" *ngFor="let item of APiInventoeryListDetails;let i=index;">

      <table>
        <tr>
          <th>Product:</th>
          <td>
            <ng-container *ngIf="item.brandname==null">
              {{item.brandName}}{{item.identifiers.identifier.deviceId}}
            </ng-container>

            <ng-container *ngIf="item.brandname!=null">
              {{item.device_name}}
            </ng-container>

          </td>
        </tr>
        <tr>
          <th>Company Name :</th>
          <td>
            <ng-container *ngIf="item.brandname==null">
              {{item.companyName}}
            </ng-container>

            <ng-container *ngIf="item.brandname!=null">
              {{item.companyName}}
            </ng-container>

          </td>
        </tr>
        <!-- <tr>
            <th>Brand : </th>
            <td>
              <ng-container *ngIf="item.brandname==null">
                {{item._source.brandName}}
              </ng-container>
              <ng-container *ngIf="item.brandname!=null">
                {{item.brandname}}
              </ng-container>
             </td>
          </tr> -->
        <tr>
          <th>Version/Model:</th>
          <td>
            <ng-container *ngIf="item.brandname==null">
              {{item.versionModelNumber}}
            </ng-container>

            <ng-container *ngIf="item.version!=null">
              {{item.version}}
            </ng-container>


          </td>
        </tr>
        <tr>
          <th>Device ID :</th>
          <td>
            <ng-container *ngIf="item.brandname==null">
              {{item.identifiers.identifier.deviceId}}
            </ng-container>
            <ng-container *ngIf="item.brandname!=null">
              {{item.device_id}}
            </ng-container>
          </td>
        </tr>

        <tr>
          <th>Description</th>
          <td>

            <ng-container *ngIf="item.brandname==null">
              <span class="device_descc">
                {{item.deviceDescription}}
              </span>
            </ng-container>

            <ng-container *ngIf="item.brandname!=null">
              {{item.version}}
            </ng-container>

          </td>
        </tr>

        <tr>
          <th>Quantity :</th>
          <td>
            <input name='awesome' type="number" [(ngModel)]="item.quantity" value="{{item.quantity}}"
              placeholder="{{item.quantity}}" />
          </td>
        </tr>
        <!-- <tr>
            <th>Sell Price :</th>
            <td>
              <input name='awesome' type="number" [(ngModel)]="item.saleprice" value="{{item.saleprice}}"
                placeholder="{{item.saleprice}}" />
            </td>
          </tr> -->
      </table>
      <mat-toolbar class="action">
        <a (click)="addCondition(item)">Add Condition Info</a>
        <button mat-button (click)="viewDetails(item)">Device Details</button>
        <button mat-button (click)="delete(i)">Remove</button>
      </mat-toolbar>

    </mat-card-content>
   
  </mat-card-content>
  </mat-card-content>
  </mat-card-content>
</app-adminheader>