.Product_wrapper{ width: 1400px; margin:30px auto;}
.Product_wrapper .product_list_wrapper{ margin-bottom: 0; width: 100%; background: #f3f3f3; display: flex; justify-content: space-between; padding: 16px; box-sizing: border-box;}
.Product_wrapper .product_list_wrapper .left_inner { width: 70%; margin-bottom: 0;}
.Product_wrapper .product_list_wrapper .left_inner form {background: #f3f3f3; padding: 10px; box-sizing: border-box; border-radius: 0; box-shadow: 0px 1px 4px 0px #c5c5c5;
  display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-pack: center; justify-content: center;
  -webkit-box-align: center; align-items: center; }
.Product_wrapper .product_list_wrapper .left_inner .s_wrp textarea{ min-height: 80px; resize: none; }
.Product_wrapper .product_list_wrapper .left_inner .s_wrp .form_label{ color: #1a0e4e; font-family: 'AvenirMedium'; font-size: 16px; text-transform: capitalize;
  display: block; margin-bottom: 5px; }
.Product_wrapper .product_list_wrapper .left_inner form .mat-form-field{ width: 100%; }
.Product_wrapper .product_list_wrapper .left_inner form .mat-form-field .mat-form-field-infinix{ background: #fff; }
.Product_wrapper .product_list_wrapper .left_inner form .search_input { width: 100%; border: none; padding: 10px; }
.Product_wrapper .product_list_wrapper .left_inner form .search_input:focus { outline: none; }
.Product_wrapper .product_list_wrapper .itens_wrapper{background: #fff; box-sizing: border-box; padding: 10px; box-shadow: 0px 2px 3px 0px #cdcdcd; margin-bottom: 0;
  margin-top: 16px; display: flex; justify-content: space-between; border-radius: 10px;}

.Product_wrapper .product_list_wrapper .left_inner form .search_wrapper{ display: flex; justify-content: space-between; align-items: center; } 
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner span i{ color: #08ccc3; font-size: 20px; vertical-align: top; margin-right: 5px;}
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner { width: 100%; margin-bottom: 0; box-sizing: border-box; } 
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .name{ font-family: 'AvenirBlack'; font-size: 20px; color:#2e3031; margin-bottom: 10px; display: block; }
 
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .desc p{ margin: 0; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;  /* Number of lines displayed before it truncate */  overflow: hidden; }

.Product_wrapper .product_list_wrapper .left_inner .s_wrp{ width: 100%; }
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .pro_wrapper{ margin-bottom: 0;  }

.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .ineer_wr{ display: flex; justify-content: space-between; flex-wrap: wrap; }
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .ineer_wr .items{ width: 50%; margin-bottom: 10px; display: flex;}
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .ineer_wr .items p{ margin: 0; display: inline; font-size: 15px; font-family: 'AvenirMedium';  }
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .desc { display: inline-flex; }
.Product_wrapper .product_list_wrapper .itens_wrapper .itenms_inner .desc p { margin: 0; font-size: 15px; font-family: 'AvenirMedium'; }
.Product_wrapper .product_list_wrapper .itens_wrapper .action_wrapper{ display: flex; flex-direction: column; width: 160px; box-sizing: border-box; align-items: center; justify-content: center;}
.Product_wrapper .product_list_wrapper .itens_wrapper .action_wrapper button{ background: #08ccc3; color: #fff; font-family: 'AvenirMedium';
  font-size: 18px; text-transform: capitalize; width: 100%; }
  .Product_wrapper .product_list_wrapper .itens_wrapper .action_wrapper button:last-child{ background: #ff6959; margin-top: 10px;} 
.Product_wrapper .product_list_wrapper .right_inner{ width: 29%; background: #fff; margin-bottom: 0; padding: 10px 16px; box-sizing: border-box;}
.Product_wrapper .product_list_wrapper .right_inner .Header{ color: #fff; background: #00294f; font-family: 'AvenirRoman'; font-size: 22px; text-transform: capitalize; padding: 8px; text-align: center; }
.Product_wrapper .proList_title{ background: linear-gradient(45deg, #08ccc3, #03cff3); color: #fff; padding: 12px; text-align: center; font-size: 28px; font-family: 'AvenirMedium'; text-transform: uppercase; margin-bottom: 0;}
.deviceName{ margin: 0; padding: 10px; border-bottom: 3px solid #00667d; font-family: 'AvenirRoman'; color: #00667d; font-size: 22px; background: #effcff; }
.hints_wrapper{ border: 1px solid #00cfff; background: #fff; margin-top: 30px;}
.hints_wrapper h2{ font-family: 'AvenirBlack'; font-size: 20px; margin: 0; padding: 12px 16px; background: #edfcff; color: #01d0ff; }
.hints_wrapper .hints_suggestion{ font-family: 'AvenirMedium'; font-size:18px; padding: 0 16px; color: #f0220a; margin: 0; box-sizing: border-box;}
.suggest_list{ padding: 8px 8px 16px; box-sizing: border-box; }
.suggest_list .mat-list-item{ height: auto; position: relative; padding: 4px 10px; box-sizing: border-box;}
.suggest_list .mat-list-item::before{  content: ''; width: 8px; height: 8px; background: #00cfff; position: absolute; top: 8px; border-radius: 50%; box-sizing: border-box;}
.suggest_list .mat-list-item:last-child::before{ content: '\21D2'; width: 0px; height: 0px; background: none; position: absolute; top: 4px; border-radius: 50%; box-sizing: border-box; color: #00dff6; font-family: 'AvenirBlack';}
.modal_content .mat-expansion-panel-header { background: linear-gradient(2deg, #02b3ad, #07d1f4)!important;}
.modal_content .mat-expansion-panel-header .mat-expansion-panel-header-title{ color: #fff; }
.modal_content .mat-expansion-panel-spacing{ margin: 0; }
.modal_content .mat-expansion-panel-body { border: 1px solid #c6fffe;}
.modal_content .action_button { position: absolute; right: 0px; top: 0px; background: #ff6959; border-radius: 50%; min-width: inherit; width: 40px; height: 40px; padding: 0;color: #fff; box-shadow: 0px 0px 2px 0px #084350; }

.modal_content .mat-card-content { margin-top: 30px;}
.modal_content .mat-card-content table{ border-collapse: collapse; width: 100%;}
.modal_content .mat-card-content table,
.modal_content .mat-card-content tr,
.modal_content .mat-card-content th,
.modal_content .mat-card-content td{ border: 1px solid #d3d3d3; padding: 8px; text-align: left; box-sizing: border-box;}
.modal_content .mat-card-content th{ font-family: 'AvenirRoman'; color: #000000; width: 50%;}
.modal_content .mat-card-content td{ color: #1e1e1e; font-family: 'AvenirMedium'; word-break: break-word; }
.modal_content .mat-card-content table .uper{ font-family: 'AvenirBlack'; display: block; }
.tab_item{ box-shadow: 0px 0px 3px 0px #b0b0b0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;}
.tab_item table{ width: 100%; }
.tab_item table th{ width:37%; padding: 5px; font-family: 'AvenirBlack'; text-align: left; vertical-align: text-bottom;}
.tab_item table td{ width: 50%; padding: 5px; font-family: 'AvenirMedium'; word-break: break-word;}
.tab_item table td input{ width: 100%; } 
 .package_wrapper .tab_item .action{ display: flex; padding: 0; flex-direction: column;}
 .package_wrapper .tab_item .action button{ background: #09cad6; font-family: 'AvenirMedium'; color: #fff; line-height: 22px; padding: 2px 10px; min-width: inherit; border-radius: 0; 
}
 .package_wrapper .tab_item .action button:last-child{
   background: #ed4735; margin-top: 10px;
 }

 .tab_item .action a{ font-family: 'AvenirMedium';
  font-size: 16px;
  color: #ff4081;
  cursor: pointer;}
 
.notes_wrapper .note_h{ display: block; font-family: 'AvenirMedium'; }
.notes_wrapper .form_control{ display: block; width: 100%; padding: 10px; box-sizing: border-box; resize: none; border-radius: 3px; font-family: 'AvenirMedium';  min-height: 90px; }
.form_field .mat-form-field{ width: 100%;}
.quote_action{ display: flex; justify-content: flex-end;}
.quote_action button{ background: #08ccc3; font-family: 'AvenirMedium'; color: #fff; }
.quote_action button:last-child{  background: #ff6959; margin-left: 10px;} 
.search_result{ display: block; margin: 20px 10px 10px; font-family: 'AvenirMedium'; font-size: 20px; }
.search_result p{ color: #ff6959; display: inline; margin: 0 10px; text-transform: uppercase;}
.search_result a{ color: #646363; font-size: 16px;}
/* new package wrapper */
.search_inner_wrapper{ display: flex;
  justify-content: space-between;
  background: #e8e8e8;
  padding: 6px;
  margin-top: 16px; }
.search_inner_wrapper .input_index{width: 49%; margin-bottom: 0; }
.search_inner_wrapper .input_index .mat-lebal{width: 49%; }
.search_inner_wrapper .input_index .input_w_btn{ display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center;
  background: #fff; box-sizing: border-box; border: 1px solid #ddd; border-radius: 3px;}
.search_inner_wrapper .input_index .input_w_btn button{ background: none; padding: 0 8px; min-width: inherit; }
.search_inner_wrapper .input_index .input_w_btn .input_form{ background: transparent; border: none; width: 100%; padding: 10px 5px; }
.search_inner_wrapper .input_index .input_w_btn .input_form:focus{ outline: none;}
.search_inner_wrapper .input_index .label{ color: #1a0e4e; font-family: 'AvenirMedium'; font-size: 16px; text-transform: capitalize; display: block; margin-bottom: 5px;}

.package_wrapper .tab_item .inner_image{ width: 20%; margin-bottom: 0; border: 1px solid #ddd; display: flex; align-items: center; justify-content: center; }
.package_wrapper .tab_item .inner_image img{ max-width: 100%; }
.package_wrapper .inner_content { margin-bottom: 0; width: 66%; }
.package_wrapper .inner_content table .desc{ 
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
 }
 .right_inner .cart_item{ box-shadow: -1px 3px 5px 0px #838383; padding: 10px; box-sizing: border-box; background: #e8edf1; }
 .right_inner .cart_item table{ width: 100%; text-align: left; vertical-align: top;  }
 .right_inner .cart_item table th{ width: 35%; font-family: 'Avenirmedium'  }
 .right_inner .cart_item table td{ width: 65%; font-family: 'Avenirmedium'  }
 

.package_wrapper .dispo_wrapper { box-shadow: 0px 2px 6px 4px #ddd; padding: 10px; box-sizing: border-box;}
.package_wrapper .dispo_wrapper .inner_image img{ max-width: 100%;  }

@media screen and (max-width: 1600px){
  .Product_wrapper{ width: 90%; }
}
@media screen and (max-width: 1440px){
  .Product_wrapper .product_list_wrapper .right_inner { width: 33%; }
  .Product_wrapper .product_list_wrapper .left_inner { width: 66%; }
}

