<app-adminheader>
    <form autocomplete="off" [formGroup]="packageHospitalForm">
        <span class="col-1-4">
            <mat-form-field>
                <mat-label>Package Name:</mat-label>
                <input matInput type="text" formControlName="package_name" (blur)="inputBlur('package_name')">
                <mat-error *ngIf="!packageHospitalForm.controls['package_name'].valid
                && packageHospitalForm.controls['package_name'].errors.required">
                    Department Name is required.
                </mat-error>
            </mat-form-field>

        </span>

          <!-- Department  -->
          <span class="col-1-4">
            <mat-form-field>
                <mat-label>Department:</mat-label>
                <mat-select formControlName="department">
                    <mat-option *ngFor="let food of deplist"  [value]="food._id">
                      {{food.department_name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>

        </span>


        <!-- Description  -->
        <span class="col-1-4">
            <mat-form-field>
                <mat-label>Description:</mat-label>
                <textarea matInput formControlName="package_description" (blur)="inputBlur('package_description')"></textarea>
                <mat-error *ngIf="!packageHospitalForm.controls['package_description'].valid
                                            && packageHospitalForm.controls['package_description'].errors.required">
                    Description is required.
                </mat-error>
            </mat-form-field>

        </span>

       

        <button mat-button type="button" class="skybutton" (click)="onSubmit()" color="primary">Submit</button>
        </form>

        <!-- search medical device -->
        <mat-lebal>Search Medical Device</mat-lebal>
        <input type="text" value="Sydney" [(ngModel)]="medicalDevice" />
        <button (click)="medicalDeviceSearch(medicalDevice)">click</button>
        <!-- search medical device -->

         <!-- search medical device -->
         <mat-lebal>Search Disposable Inventory</mat-lebal>
         <input type="text" value="Sydney" [(ngModel)]="disInventory" />
         <button (click)="inventorySearch(disInventory)">click</button>
         <!-- search medical device -->

        <ng-container *ngIf="medDevice!=null">
            <mat-card-content class="itens_wrapper" *ngFor="let inventory of medDevice">
              <mat-card-content class="itenms_inner">
                <span class="name" *ngIf="inventory._source.brandName!=null">
                  {{inventory._source.brandName}}({{inventory._source.identifiers.identifier.deviceId}})</span>
  
                <span class="ineer_wr">
                  <span class="items"><i matTooltip="Company Name" matTooltipPosition="above" class="fa fa-building-o"
                      aria-hidden="true"></i>
                    <p>{{inventory._source.companyName}}</p>
                  </span>
  
                  <span class="items"><i matTooltip="Version or Model" matTooltipPosition="above" class="fa fa-diamond"
                      aria-hidden="true"></i>
                    <p>{{inventory._source.versionModelNumber}}</p>
                  </span>
  
                  <span class="items"><i matTooltip="Device ID" matTooltipPosition="above" class="fa fa-desktop"
                      aria-hidden="true"></i>
                    <p> {{inventory._source.identifiers.identifier.deviceId}}</p>
                  </span>
  
  
                  <span class="items"><i matTooltip="GMDN Terms" matTooltipPosition="above" class="fa fa-sign-language"
                      aria-hidden="true"></i>
                    <p>{{inventory._source.gmdnTerms.gmdn.gmdnPTName}}</p>
                  </span>
                </span>
  
                <span class="desc"><i matTooltip="Description" matTooltipPosition="above" class="fa fa-newspaper-o"
                    aria-hidden="true"></i>
                  <p> {{inventory._source.deviceDescription}}</p>
                </span>
              </mat-card-content>
              <mat-card-content class="action_wrapper">
                <button mat-button (click)="inventoryAdd(inventory)">Add to List</button>
                <button mat-button (click)="viewDetails(inventory)">View Details </button>
              </mat-card-content>
            </mat-card-content>
          </ng-container>
</app-adminheader>

