<app-frontend-header></app-frontend-header>
<mat-card-content class="sh_buyfrmus_topblock">
    <mat-card-content class="sh_buyfrmus_content_wrapper">
        <h2 class="header">inventory details</h2>

        <p class="paragraph"> Expansive Inventory Listing For An One-Stop-Shop For All Your Hospital Equipment Needs
        </p>
        <p class="sub_para">
            Get access to a vast inventory of hundreds and thousands of premium medical equipment and supplies. Check
            out
            multiple options and choose the best machinery that precisely fits the needs and requirements of your
            medical
            facility. What’s more? You get absolutely the <span> BEST PRICES </span> for top-quality equipment — prices
            that
            are extremely competitive, prices that would be impossible for you to get anywhere else in the industry!

        </p>

    </mat-card-content>
</mat-card-content>
<mat-card-content class="inventory_details_wrapper">
    <mat-card-content class="sh_inventory_content">
        <!-- Loop start -->
        <mat-card-content class="sh_inventory_content_item">
            <mat-card-content class="inner_top_wrapper">
                <mat-card-content class="image_wrapper">
                    <img src="../../../../assets/images/invItemimage1.jpg">
                </mat-card-content>
                <mat-card-content class="content_wrapper">
                    <h1>Lorem Ipsum is simply dummy text</h1>
                    <span class="rating_star">
                            <i class="material-icons"> star</i>
                            <i class="material-icons"> star</i>
                            <i class="material-icons"> star</i>
                            <i class="material-icons"> star</i>
                            <i class="material-icons"> star</i>
                        </span>
                    <table>
                        <tr>
                            <th>Band :</th>
                            <td>Lorem ipsum dolor sit amet.</td>
                        </tr>
                        <tr>
                            <th>Model : </th>
                            <td>Lorem ipsum dolor sit amet.</td>
                        </tr>
                        <tr>
                            <th>Category :</th>
                            <td>Desktop displays Lorem Ipsum is simply</td>
                        </tr>
                        <tr>
                            <th>Condition :</th>
                            <td>New</td>
                        </tr>
                        <tr>
                            <th>Shipping from : </th>
                            <td>Usa</td>
                        </tr>
                        <tr>
                            <th>Seller :</th>
                            <td> Lorem Ipsum is simply d u mmy</td>
                        </tr>
                        <tr>
                                <th>Description :</th>
                                <td> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur qui natus reiciendis, earum sapiente non eaque consequatur aspernatur dolorem? Sed ex natus excepturi ipsam, dolor voluptas consectetur reprehenderit ab sit exercitationem repellendus dolorem reiciendis id praesentium non eligendi? Eligendi laborum distinctio molestias nostrum. Sint, iusto, quod asperiores omnis possimus nihil, atque provident excepturi aperiam adipisci aliquam corrupti ullam aliquid molestias eaque repudiandae modi cupiditate nemo. Voluptas iusto recusandae quas. Laudantium neque cum, sed id quibusdam voluptate nam, quisquam, consequatur quia iusto voluptatum sit quod. Quaerat ipsam molestias cupiditate ducimus accusantium. Non in perferendis repellat impedit dolore sequi rerum quo?</td>
                            </tr>
                    </table>
                    

                </mat-card-content>
            </mat-card-content>
            <mat-toolbar class="action_buttons">
                <span class="quotes">
                    <button mat-button>Add to Quote List</button>
                    <button mat-button>Get Quote</button>
                </span>
                <!-- <button mat-button class="view_more">View More</button> -->
            </mat-toolbar>
        </mat-card-content>
    </mat-card-content>
</mat-card-content>

<app-frontend-footer></app-frontend-footer>