
<app-myaccount>
    <mat-card-content class="my_details_wrapper">
        <mat-toolbar class="header_part">
            <h2>change password</h2>
            <!-- <p> personal information</p> -->
        </mat-toolbar>

        <mat-card-content class="changepass_wrapper">

            <mat-card-content class="mydetails_form_wrapper">
                <form [formGroup]="changePwdForm" autocomplete="off">
                    <mat-card-content class="forms">

                        <mat-label class="mydetails_ac_lebel">current password</mat-label>
                        <mat-form-field>
                            <input matInput formControlName="old_pwd" type="password" (blur)="inputBlur('old_pwd')">
                            <mat-error *ngIf="!changePwdForm.controls['old_pwd'].valid
                && changePwdForm.controls['old_pwd'].errors.required">Old Password is required.</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">new password</mat-label>

                        <mat-form-field>
                            <input matInput formControlName="new_pwd" type="password" (blur)="inputBlur('new_pwd')">
                            <mat-error *ngIf="!changePwdForm.controls['new_pwd'].valid
                && changePwdForm.controls['new_pwd'].errors.required">New Password is required.</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="forms">
                        <mat-label class="mydetails_ac_lebel">confirm password</mat-label>
                        <mat-form-field>
                            <input matInput formControlName="confirm_new_pwd" type="password"
                                (blur)="inputBlur('confirm_new_pwd')">
                            <mat-error *ngIf="!changePwdForm.controls['confirm_new_pwd'].valid
                            ">Password do no match.</mat-error>
                        </mat-form-field>
                    </mat-card-content>

                    <mat-toolbar class="button_action">
                        <button mat-button type="submit" (click)="changePassword()">update</button>
                        <button mat-button type="button" (click)="onCancel()">cancel</button>
                    </mat-toolbar>

                </form>
            </mat-card-content>
 
        </mat-card-content>

    </mat-card-content>


</app-myaccount>