<app-myaccount>
    <mat-card-content class="images" >
        <img  src="/assets/images/hospitalViewQuotes1.jpg">
    </mat-card-content>
    <mat-card-content class="images">
      <img routerLink="/hospital/view-quotes/details" src="/assets/images/hospitalViewQuotes2.jpg">
  </mat-card-content>
  <mat-card-content class="images">
    <img routerLink="/hospital/view-quotes/details" src="/assets/images/hospitalViewQuotes3.jpg">
</mat-card-content>
<mat-card-content class="images" >
  <img routerLink="/hospital/view-quotes/details" src="/assets/images/hospitalViewQuotes4.jpg">
</mat-card-content>
</app-myaccount>
