<app-myaccount>
  <!-- <mat-card-content class="images">
    <img src="/assets/images/sales_inventory_details.jpg">
  </mat-card-content> -->

  <mat-card-content class="my_details_wrapper">
    <mat-toolbar class="header_part">
      <h2>Inventory Details</h2>
      <!-- <p> Hospital Information </p> -->
    </mat-toolbar>
    <!-- item wrapper for looping too-->
    <mat-card-content class="hospital_details_wrapper">
    <mat-card-content class="hospital_items">
      <mat-card-content class="hospital_left">
        <mat-card-content class="hospital_left_image">
          <img src="../../../../../assets/images/add_inventory_image.jpg">
        </mat-card-content>

      </mat-card-content>
      <mat-card-content class="hospital_right">
        <mat-card-title class="title">Lorem Ipsum is simply dummy text of the printing and typesetting </mat-card-title>

        <mat-list class="item_list">
          <mat-list-item> <span>Brand </span>:&nbsp; lorem khuro </mat-list-item>
          <mat-list-item> <span>Date </span>:&nbsp; 10.11.19 </mat-list-item>
          <mat-list-item> <span>Model</span>:&nbsp; dh1256 </mat-list-item>
          <mat-list-item> <span>Category</span>:&nbsp; BMD </mat-list-item>
          <mat-list-item> <span>Condition </span>:&nbsp; New </mat-list-item>
          <mat-list-item> <span>Year of Manufacture</span>:&nbsp; 2008 </mat-list-item>

        </mat-list>

      </mat-card-content>


    </mat-card-content>

    <mat-list class="details_description">
        <mat-list-item> <span>Description :</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
          dignissimos magnam labore facilis esse iste sapiente sint adipisci autem beatae debitis animi nemo
          voluptatum suscipit rem ab eum qui aliquam optio est, libero necessitatibus doloribus! Quasi, asperiores
          earum. Nisi accusantium a eius, repellat error maiores nostrum voluptatum modi veritatis tempora!
        </mat-list-item>
      </mat-list>

    </mat-card-content>
    <!-- end item wrapper -->

    <mat-toolbar class="button_action">
      <button mat-button>update</button>
      <button mat-button>cancel</button>
  </mat-toolbar>



  </mat-card-content>
</app-myaccount>
