<app-adminheader>
<h1>{{ header_txt }}</h1>
<form  autocomplete="off" [formGroup]="adminForm" (ngSubmit)="onSubmit()">



    <!-- First Name  -->
       <mat-form-field>
           <mat-label>First Name</mat-label>
           <input matInput placeholder="Adam" formControlName="firstname"  (blur)="inputBlur('firstname')">
           <mat-error *ngIf="!adminForm.controls['firstname'].valid
          && adminForm.controls['firstname'].errors.required">First Name is required.</mat-error>
          <mat-error *ngIf="!adminForm.controls['firstname'].valid && !adminForm.controls['firstname'].errors.required">
            Name is not valid</mat-error>
       </mat-form-field>
       <br>

       <!-- Last Name  -->
       <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Stewart" formControlName="lastname" (blur)="inputBlur('lastname')">
            <mat-error *ngIf="!adminForm.controls['lastname'].valid && adminForm.controls['lastname'].errors.required">Last Name is required.</mat-error>
            <mat-error *ngIf="!adminForm.controls['lastname'].valid && !adminForm.controls['lastname'].errors.required">
              Name is not valid</mat-error>
        </mat-form-field>
        <br>


        <!-- Phone  -->
       <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput placeholder="9874122558" formControlName="phone" (blur)="inputBlur('phone')">
             <mat-error *ngIf="!adminForm.controls['phone'].valid && adminForm.controls['phone'].errors.required">Phone is required.</mat-error>
        <mat-error *ngIf="!adminForm.controls['phone'].valid && !adminForm.controls['phone'].errors.required">Phone must be only 10 digit integers</mat-error>
        </mat-form-field>
        <br>



        <!-- Email  -->
       <mat-form-field>
            <mat-label>Email</mat-label>
            <input  matInput placeholder="adam123@gmail.com" formControlName="email" (blur)="inputBlur('email')" [disabled]="isDisabled"> 
            <mat-error *ngIf="!adminForm.controls['email'].valid && adminForm.controls['email'].errors.required">Email is required.</mat-error>
            <mat-error *ngIf="!adminForm.controls['email'].valid && !adminForm.controls['email'].errors.required">
              Email
              is not valid</mat-error>
        </mat-form-field>
        <br>



        <!-- Password  -->
       <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="***********" formControlName="password" (blur)="inputBlur('password')">
            <mat-error *ngIf="adminForm.controls['password']?.touched || adminForm.controls['password'].errors 
            && adminForm.controls['password'].errors.required">Password is required.</mat-error>
        </mat-form-field>
        <br>




         <!-- Confirm Password  -->
       <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="***********" formControlName="confirmpassword" (blur)="inputBlur('confirmpassword')">
            <mat-error *ngIf="adminForm.controls['confirmpassword']?.touched || adminForm.controls['confirmpassword'].errors 
            && adminForm.controls['confirmpassword'].errors.required">Password do not match</mat-error>
        </mat-form-field>
        <br>




        <!-- Status -->
        <mat-label>Status</mat-label><br>
        <mat-checkbox formControlName="status">Active</mat-checkbox><br>


        <!-- Buttons  -->
        <button mat-flat-button type="reset">RESET</button>
        <button mat-flat-button type="submit">{{btn_text}} </button>

</form>
</app-adminheader>