<mat-card class="front_main">
  <mat-toolbar class="top_toolbar">

    <span class="wrapper">
      <mat-nav-list class="top_toolbar_navigation">

        <a *ngIf="type != ''" [routerLink]="'/cart'">
          <mat-icon matBadge="{{CartCount}}" matBadgeColor="warn">shopping_cart</mat-icon>
         <!-- /<mat-icon>shopping_cart</mat-icon> -->
        </a>
        <a *ngIf="type == ''" [routerLink]="'/login'">Login</a>
        <a href="https://dev-hospital-signup.mdstockinternational.com" *ngIf="type == ''">Register</a>
        <a *ngIf="type != ''" (click)="logout();">Logout</a>
      </mat-nav-list>
    </span>
  </mat-toolbar>


  <mat-toolbar class="frontend_nav">

    <!-- go to salesrep dashborad -->
    <ng-container *ngIf="type=='salesrep'">

      <a matTooltip="Go to Dashboard" class="floating_button" matTooltipPosition="left" routerLink="/dashboard-salesrep">
        <img src="../../../../assets/images/dashboard.png">
      </a>
    </ng-container>

    <!-- go to hospital dashboard -->
    <ng-container *ngIf="type=='hospital'">

        <a matTooltip="Go to Dashboard" class="floating_button" matTooltipPosition="left" routerLink="/dashboard-medical-partner">
          <img src="../../../../assets/images/dashboard.png">
        </a>

    </ng-container>

    <!-- go to admin dashboard -->
    <ng-container *ngIf="type=='admin'">
      <a matTooltip="Go to Dashboard" class="floating_button" matTooltipPosition="left" routerLink="/dashboard-admin">
        <img src="../../../../assets/images/dashboard.png">
      </a>
    </ng-container>


    <mat-card-content class="logo_wrapper">
      <img src="assets/images/logo.png">

    </mat-card-content>
    <button class="toggle_button" mat-button (click)="mobileView()">
      <i class="material-icons"> menu </i>
    </button>
    <mat-nav-list class="listing_container" [ngClass]="status ? 'hide' : 'show'">
      <a mat-list-item [routerLink]="'/home'" routerLinkActive="active"> Home </a>
      <a mat-list-item [routerLink]="'/buy-from-us'" routerLinkActive="active"> Buy From Us </a>
      <a mat-list-item [routerLink]="'/inventory'" routerLinkActive="active"> Inventory </a>
      <!-- <a mat-list-item [routerLink]="'/package'" routerLinkActive="active"> Package </a> -->
      <a mat-list-item [routerLink]="'/medical-partners'" routerLinkActive="active"> Medical Partners</a>
      <a mat-list-item [routerLink]="'/manufacturar-direct'" routerLinkActive="active"> Manufacturar Direct</a>
      <a mat-list-item [routerLink]="'/our-team'" routerLinkActive="active"> Our Team</a>
      <a mat-list-item [routerLink]="'/blog'" routerLinkActive="active">Blog</a>
      <a mat-list-item [routerLink]="'/about-us'" routerLinkActive="active"> About Us</a>
      <a mat-list-item [routerLink]="'/contactus'" routerLinkActive="active"> Contact Us</a>
      
      
      <mat-card-content class="a_pro" *ngIf="type != ''">
      
        <i class="material-icons" [matMenuTriggerFor]="repmenu"> more_vert </i>
      </mat-card-content>

      <mat-menu #repmenu="matMenu" class="pro_menu">
        <ng-container *ngIf="type == 'salesrep'">
          <button mat-menu-item [routerLink]="'/salesrep/my-details'"><i class="material-icons"> account_circle </i> My
            Account</button>
          <button mat-menu-item [routerLink]="'/salesrep/change-password'" routerLinkActive="active"><i
              class="fa fa-unlock-alt" aria-hidden="true"></i> change password </button>
          <button mat-menu-item [routerLink]="'/salesrep/my-hospital'" routerLinkActive="active"> <i
              class="fa fa-medkit" aria-hidden="true"></i> my hospital </button>
          <button mat-menu-item [routerLink]="'/salesrep/my-added-inventory'" routerLinkActive="active"> <i
              class="fa fa-tag" aria-hidden="true"></i> inventory added by me </button>
          <button mat-menu-item [routerLink]="'/salesrep/view-quotes'" routerLinkActive="active"><i
              class="fa fa-comments" aria-hidden="true"></i> view quotes</button>
          <button mat-menu-item [routerLink]="'/salesrep/my-sales'" routerLinkActive="active"> <i
              class="fa fa-bar-chart" aria-hidden="true"></i> my sales</button>
          <button mat-menu-item [routerLink]="'/salesrep/purchase-comparison/list'" routerLinkActive="active"> <i
              class="fa fa-list-alt" aria-hidden="true"></i> Price Comparison Report</button>
        </ng-container>

        <ng-container *ngIf="type == 'hospital'">
          <button mat-menu-item [routerLink]="'/hospital/my-details'"><i class="material-icons"> account_circle </i> My
            Account</button>
          <button mat-menu-item [routerLink]="'/hospital/change-password'" routerLinkActive="active"><i
              class="fa fa-unlock-alt" aria-hidden="true"></i> change password </button>
          <button mat-menu-item [routerLink]="'/hospital/my-hospital'" routerLinkActive="active"> <i
              class="fa fa-medkit" aria-hidden="true"></i> my hospital </button>
          <button mat-menu-item [routerLink]="'/hospital/added-inventory'" routerLinkActive="active"> <i
              class="fa fa-tag" aria-hidden="true"></i> inventory added by me </button>
          <button mat-menu-item [routerLink]="'/hospital/view-quotes'" routerLinkActive="active"><i
              class="fa fa-comments" aria-hidden="true"></i> view quotes</button>

        </ng-container>


      </mat-menu>


    </mat-nav-list>

    <!-- Language container OFF NOW -->

    <!-- <button mat-button [matMenuTriggerFor]="menu" class="language_container">English <i class="material-icons">
        keyboard_arrow_down </i></button>
    <mat-menu #menu="matMenu" class="language_container1">
      <button mat-menu-item>Chinese</button>
      <button mat-menu-item>Portuguese</button>
      <button mat-menu-item>Spanish</button>
    </mat-menu> -->
  </mat-toolbar>

</mat-card>
