<app-frontend-header></app-frontend-header>


<mat-card-content class="sh_buyfrmus_topblock">
  <mat-card-content class="sh_buyfrmus_content_wrapper">
    <h2 class="header">Buy From Us</h2>
    <p class="paragraph"> With a vision to become the key specialist resource partner to hospitals and healthcare
      centers, MD Stock International has been a pioneer in the provision of top-notch medical and laboratory equipment,
      supplies, pharmaceuticals, chemicals and consumables for two decades.
    </p>
    <button class="ab_action_button" mat-button routerLink="/inventory"> view inventory </button>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="sh_buyfrmus_block2">
  <mat-card-content class="sh_buyfrmus_block2_sub1">
    <mat-card-content class="sh_buyfrmus_block2_sub1_inner">
      <mat-card-content class="wrapper">
        <mat-card-title class="title"> Premium Hospital Equipment To Improve The HealthCare Standards Of Your Medical
          Facility </mat-card-title>
        <p class="para1">Hospitals looking to purchase used medical equipment often find it difficult to source good
          quality machinery with little wear-and-tear. Even when they locate such equipment, they are forced to step
          back due to the high prices of such equipment, or the bad conditions of those machinery due to excessive or
          improper use.
        </p>
        <p class="para2">It becomes a lengthy and painstaking process to get the best-quality Used-Medical Equipment, which eventually forces medical facilities to shell out the big money for brand new equipment, preventing them from being able to dedicate funds to proper areas that could elevate the quality of medical care on offer.</p>
        <button mat-button class="action_btn" routerLink="/inventory">view inventory</button>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
  <mat-card-content class="sh_buyfrmus_block2_sub2">
    <mat-card-content class="sh_buyfrmus_block2_sub2_inner_content">
      <mat-card-title class="title1">MD Stock International is there for you! </mat-card-title>
      <mat-card-subtitle class="subtitle1">This is where we, at MD Stock International, are able to
        deliver great quality.</mat-card-subtitle>

      <p class="description_section">
        Our inventory houses premium quality hospital and laboratory equipment from top brands in the United States. We
        even include equipment developed by several major hospital-equipment manufacturers outside the United States.
        What this means is that you can source equipment from top brands, based within the United States as well as from
        other countries.
        <br><br>
        One fine aspect of our hospital equipment is that they are inexpensive in comparison to other places in the
        industry, and competitive prices are on offer with us. Our model works primarily with inventory listing,
        allowing us to greatly reduce inventory costs, warehouse-management expenses and even prevent
        inventory-depreciation. We offer premium medical equipment at prices that are highly competitive and
        substantially lower than almost all other such companies around the country. <a routerLink="/inventory"> Take a look at our varied and
        expansive inventory </a>and zero in on the equipment your medical facility needs TODAY!!
        <br><br>
        We also deal with new hospital equipment and medical supplies, sourced directly from manufacturers and delivered
        to your hospital. Our expertise in hospital equipment will help you get the ideal equipment and supplies that
        best serve your needs, while quality is not compromised in any manner along the way. We source the new equipment
        <a routerLink="/manufacturar-direct">directly from Manufacturers,</a>  offering prices that are lower than retail prices, or matching them at least!

      </p>

      <button class="btn_actions" mat-button>learn more</button>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>



<mat-card-content class="buyfromus_bottomBanner">
  <mat-card-content class="buyfromus_bottom_wrapper">
    <mat-card-title class="title_wrapper"> Equipment Maintenance & Repair Services</mat-card-title>
    <mat-card-subtitle class="subtitle_wrapper">Our services also include equipment maintenance and repair services, using genuine and branded parts.</mat-card-subtitle>
    <p class="paragraph_wrapper"> We check all equipment for quality and restore faulty equipment to perfect working condition, long before they are to be shipped out for delivery. We provide smoothly-functioning machinery that deliver top quality healthcare and medical services for your hospitals.
        <br><br>
        <span> team of in-house engineers is at your disposal whenever you need them.</span> Whether you are looking to purchase used hospital equipment or new equipment is what you need, you can always fall back on expert opinion, maintenance and repair services offered by our engineers. We are not here to simply sell equipment and supplies to you. We are here to help you acquire and utilize the best equipment to improve the quality of healthcare and medical services on offer at your medical facilities. We are here to be your partners in Healthcare! And there is much to gain from our Hospital Partnership Program.
        <br><br>
        The superior quality of equipment in our inventory, coupled with our competitive pricing model and expert after-sale services, has helped us set a standard that has been unmatched in the industry for almost a decade. <span>, what you get is good hospital equipment and medical supplies at the best prices, which will invariably allow you to improve the quality of healthcare and medical services on offer at your hospital, transforming you into medical industry leaders.</span>
        </p>

        <button mat-button class="bottom_actionbutton">learn more</button>
  </mat-card-content>
</mat-card-content>


<app-frontend-footer></app-frontend-footer>
