<app-adminheader>

    <h1>Inventory List</h1>
    <!-- Add Brand Button  -->
    <mat-toolbar class="buttonsetToolbar">
        <button class="singleButton" mat-raised-button color="accent"
            [routerLink]="['/inventory/inventory-list/add']">Add Inventory</button>
       
    </mat-toolbar>


    <!-- Listing goes here  -->
    <lib-listing *ngIf="inventoryListData != null && inventoryListData.length>0"
        [datasource]="inventoryListData" [skip]="inventoryListData_skip"
        [modify_header_array]="inventoryListData_modify_header" [sourcedata]="tableName" [apiurl]="apiUrl"
        [editroute]="editUrl" [jwttoken]="user_cookie" [statusarr]="status" [updateendpoint]="UpdateEndpoint"
        [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="searchingEndpoint" [date_search_source]="tableName"
        [search_settings]="search_settings"
        [detail_datatype]="inventoryListData.pendingmodelapplicationarray_detail_datatype">
    </lib-listing>

    <h2 *ngIf="inventoryListData.length == 0">No record found.</h2>
    <!-- Listing ends here  -->
</app-adminheader>