<app-adminheader>
        <span class="dashboardcontainer">
    <mat-card class="main_wrapper">
        <mat-card-content class="from_wrapper inputstyle">
                <mat-list class="formstylemainwrapper">
       
                        <mat-list-item class="formheader"> <mat-card-title class="formtitle">Contact Info</mat-card-title></mat-list-item>
                        <mat-list-item class="formbody">
                                <form [formGroup]="contactInfo" autocomplete="off">
                                        <span class="col-1-1">
                                        <!-- First Name  -->
                                        <mat-form-field>
                                            <mat-label class="label">Name</mat-label>
                                            <input matInput formControlName="name" (blur)="inputUntouch(contactInfo, 'name')">
                                            <mat-error *ngIf="
                                          contactInfo.controls['name'].touched &&
                                          !contactInfo.controls['name'].valid
                                        " class="errortext">Name is required </mat-error>
                                        </mat-form-field>
                                        </span>
                                        <span class="col-1-1">
<!-- address  -->
<mat-form-field>
        <mat-label class="label">Address</mat-label>
        <input matInput formControlName="address" (blur)="inputUntouch(contactInfo, 'address')">
        <mat-error *ngIf="
      contactInfo.controls['address'].touched &&
      !contactInfo.controls['address'].valid
    " class="errortext">Address is required </mat-error>
    </mat-form-field><br>
                                        </span>
                        
                                        
                                        <span class="col-1-2">
                                             <!-- Email  -->
                                        <mat-form-field>
                                                <mat-label class="label">Email(s)</mat-label>
                                                <mat-chip-list #chipListt>
                                                    <mat-chip *ngFor="let cma of collect_email_array;let i = index">{{ cma }}
                                                        <mat-icon matSuffix class="clickable" (click)="clearEmail(i)">clear</mat-icon>
                                                    </mat-chip>
                                                    <input matInput placeholder="Emails" formControlName="email" [matChipInputFor]="chipListt"
                                                        [matChipInputAddOnBlur]="addOnBlur" (keyup)="collect_email($event)">
                            
                                                    <!-- <mat-error *ngIf=" contactusForm.controls['email'].touched && !contactusForm.controls['email'].valid" class="errortext">Email
                                                      is required</mat-error> -->
                                                </mat-chip-list>
                                            </mat-form-field>
                                        </span>
                                        <span class="col-1-2">
                                            <!-- Contact Phones  -->
                                        <mat-form-field>
                                                <mat-label class="label">Phones(s)</mat-label>
                                                <mat-chip-list #chipList>
                                                    <mat-chip *ngFor="let cpa of collect_phone_array;let i = index">{{ cpa }}
                                                        <mat-icon matSuffix class="clickable" (click)="clearPhones(i)">clear</mat-icon>
                                                    </mat-chip>
                            
                                                    <input matInput placeholder="Phones" formControlName="phone" [matChipInputFor]="chipList"
                                                        [matChipInputAddOnBlur]="addOnBlur" (keyup)="collect_phones($event)">
                            
                                                    <!-- <mat-error *ngIf="
                                                      contactusForm.controls['phone'].touched &&
                                                      !contactusForm.controls['phone'].valid
                                                    " class="errortext">Phone is required</mat-error> -->
                                                </mat-chip-list>
                                            </mat-form-field>

                                        </span>
                                        <span class="col-1-3">
                                            <!-- State  -->
                                        <mat-form-field>
                                                <mat-label class="label">State</mat-label>
                                                <mat-select formControlName="state" (blur)="inputUntouch(contactInfo, 'state')">
                                                    <mat-option [value]=0>Select a category</mat-option>
                                                    <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="
                                              contactInfo.controls['state'].touched &&
                                              !contactInfo.controls['state'].valid
                                            " class="errortext">State is required </mat-error>
                                            </mat-form-field>
                                        </span>
                                        <span class="col-1-3">
                                             <!-- City  -->
                        
                                        <mat-form-field>
                                                <mat-label class="label">City</mat-label>
                                                <mat-select formControlName="city" (blur)="inputUntouch(contactInfo, 'city')">
                                                    <mat-option [value]=0>Select a category</mat-option>
                                                    <mat-option *ngFor="let city of allCities;" value="{{ city.city }}">{{ city.city }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="
                                              contactInfo.controls['city'].touched &&
                                              !contactInfo.controls['city'].valid
                                            " class="errortext">City is required </mat-error>
                                            </mat-form-field>
                                        </span>
                                        <span class="col-1-3">
                                             <!-- Zip  -->
                                        <mat-form-field>
                                                <mat-label class="label">Zip</mat-label>
                                                <input matInput formControlName="zip" (blur)="inputUntouch(contactInfo, 'zip')">
                                                <mat-error *ngIf="
                                              contactInfo.controls['zip'].touched &&
                                              !contactInfo.controls['zip'].valid
                                            " class="errortext">Zip is required </mat-error>
                                            </mat-form-field>
                                        </span>
                                        <span class="col-1-1"> 
                                                <mat-form-field>
                                                        <mat-label class="label">Contact Person</mat-label>
                                                        <input matInput formControlName="contactperson" (blur)="inputUntouch(contactInfo, 'contactperson')">
                                                        <mat-error *ngIf="
                                                      contactInfo.controls['contactperson'].touched &&
                                                      !contactInfo.controls['contactperson'].valid
                                                    " class="errortext">Contact Person is required </mat-error>
                                                    </mat-form-field>

                                        </span>
                        
                                        <!-- Contact Person  -->
                                        
                        
                        
                                       
                                    </form>
                        </mat-list-item>
                        <mat-list-item class="formfooter">
                                <span class="button_wrapper">
                                        <button mat-flat-button type="button" (click)="onSubmit()" color="primary">Submit</button>
                                        </span>
                        </mat-list-item>
                        </mat-list>

            <!-- <h1 class="form_header"></h1> -->

          
        </mat-card-content>
    </mat-card>
    </span>
</app-adminheader>