
.files-view{ width: 300px; margin: 0px auto; position: relative;}

.files-view .closecard{ background: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    right: -12px;
    top: -11px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #b7b7b7;
    box-sizing: border-box; cursor: pointer;}
    .files-view .closecard i{ background: transparent; font-size: 18px;}
.from_wrapper{     width: 100%;
    margin: 60px auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: -1px 3px 7px 2px #bbb9b9;
    padding: 16px;
    display: block;
    margin-bottom: 60px!important;
}
.from_wrapper .form_header{ background: linear-gradient(45deg, #103763, #1f6dbd);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: "helveticaBold";
    text-transform: uppercase;
}
.from_wrapper .mat-form-field{ width: 100%;}
.from_wrapper .button_wrapper  { display: flex; justify-content:flex-end; margin-top: 15px;}
.from_wrapper .button_wrapper button { margin: 0 10px; width: 210px; border-radius: 0;  padding: 5px;}
.from_wrapper .button_wrapper button:nth-child(1) { margin-left:0px;}
.from_wrapper .button_wrapper button:nth-last-child(1) { margin-right: 0px; }
.from_wrapper form .label{ color: #4e4141;  margin-right: 5px;  font-family: "HelveticaBold";}
.dynamic_attributes{
    border: 3px  solid rgb(33, 54, 78);
    padding:10px;
    margin-top: 3px;
    border-radius:10px;
    margin-bottom: 2px;
}