<app-frontend-header></app-frontend-header>
<mat-card-content class="sh_buyfrmus_topblock">
  <mat-card-content class="sh_buyfrmus_content_wrapper">
    <h2 class="header">contact us</h2>
    <p class="paragraph">
      Get in touch with our Representatives <span> TODAY </span> to know how you can source or sell Medical Equipment
      and Supplies of the finest quality. Need to talk to someone about our services, we’re all ears and would be happy
      to help you with your queries or anything else you may need.

    </p>

    <button mat-button class="manufac_action_btn" routerLink="/inventory"> view inventory</button>
  </mat-card-content>
</mat-card-content>
<!-- end one -->

<mat-card-content class="main_contact_wrapper">

  <mat-card-content class="title_wrapper">
    <mat-card-title class="top_header"> Get In Touch With Our Team </mat-card-title>
    <mat-card-title class="top_subheader"> Want To Know More About How MD Stock International Can Benefit Your Medical
      Facility? Get In Touch With Us TODAY!! </mat-card-title>
    <p class="top_paragraph">Regardless of whether you have a question, want to know about Medical Partnerships, or just
      have a general query that you would like to discuss, We would love to talk to you. Send in your queries about our
      Medical Partnerships and services, and someone will get in touch with you at the earliest possible moment. Fill
      the form here and get going on the way towards improving the quality of Healthcare services you offer to meet and
      surpass international standards.
    </p>
  </mat-card-content>
  <mat-card-content class="sh_hp_wrapper">

    <mat-card-content class="content_wrapper">

      <mat-card-content class="inner_image_wrapper">
        <img src="assets/images/contact_us_map.jpg">
      </mat-card-content>
      <mat-card-content class="inner_content_wrapper">
        <mat-card-title class="header">Address</mat-card-title>

        <mat-card-content class="address1">
          <span>
            <h2>Headquarters</h2>
            <p>124 simply Lorem Ipsum is simply dummy text of the printing and typesetting industry.dummy AD
              text of the RD</p>
          </span>
          <span>
            <h2>Email</h2>
            <p>simply Lorem @gmail.com / 1234simply Lorem @gmail.com </p>
          </span>
          <span>
            <h2>Phone / Fax</h2>
            <p>+0 123 abcd (+0 123 456 7890)<br>
              Fax: +1 0000 00000</p>
          </span>
          <span>
            <h2>Phone / Fax</h2>
            <p>+0 123 abcd <br>
              (+0 123 456 7890)</p>
          </span>
        </mat-card-content>
        <mat-card-content class="address2">

        </mat-card-content>

      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>
<mat-card-content class="contact_form_banner">

  <!-- <mat-card-content class="form_section">
    <mat-card-content class="form_section_actions">
      <span>
        <mat-form-field>
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email Address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Phone Number">
        </mat-form-field>
      </span>

      <mat-form-field class="address">
        <input matInput placeholder="Address">
      </mat-form-field>

      <mat-form-field class="message">
        <textarea matInput placeholder="Message"></textarea>
      </mat-form-field>


      <button mat-button class="submit_btn">submit</button>
      <span class="clearfix"></span>
    </mat-card-content>
  </mat-card-content> -->

  <mat-card-content class="contactus_wrapper">
    <lib-contactus class="form_section" [serverUrl]="serverUrl" [addEndpoint]="addEndpoint" [routeingUrl]="routeingUrl"
      [formTitle]="formTitle" [modaleLogo]="modaleLogo"> </lib-contactus>


  </mat-card-content>
</mat-card-content>




<app-frontend-footer></app-frontend-footer>
