<app-frontend-header></app-frontend-header>
<mat-card-content class="sh_buyfrmus_topblock">
  <mat-card-content class="sh_buyfrmus_content_wrapper">
    <h2 class="header">contact us</h2>
    <p class="paragraph">
      Get in touch with our Representatives <span> TODAY </span> to know how you can source or sell Medical Equipment
      and Supplies of the finest quality. Need to talk to someone about our services, we’re all ears and would be happy
      to help you with your queries or anything else you may need.

    </p>

    <button mat-button class="manufac_action_btn" routerLink="/inventory"> view inventory</button>
  </mat-card-content>
</mat-card-content>
<!-- end one -->

<mat-card-content class="main_contact_wrapper">

  <mat-card-content class="title_wrapper">
    <mat-card-title class="top_header"> Get In Touch With Our Team </mat-card-title>
    <mat-card-title class="top_subheader"> Want To Know More About How MD Stock International Can Benefit Your Medical
      Facility? Get In Touch With Us TODAY!! </mat-card-title>
    <p class="top_paragraph">Regardless of whether you have a question, want to know about Medical Partnerships, or just
      have a general query that you would like to discuss, We would love to talk to you. Send in your queries about our
      Medical Partnerships and services, and someone will get in touch with you at the earliest possible moment. Fill
      the form here and get going on the way towards improving the quality of Healthcare services you offer to meet and
      surpass international standards.
    </p>
  </mat-card-content>
  <mat-card-content class="sh_hp_wrapper" *ngFor="let item of contactLocationActive">

    <mat-card-content class="content_wrapper">

      <mat-card-content class="inner_image_wrapper">
        <img src="assets/images/contact_us_map.jpg">
      </mat-card-content>
      <mat-card-content class="inner_content_wrapper">
        <mat-card-title class="header">Address</mat-card-title>

        <mat-card-content class="address1">
          <span>
            <h2>{{item.name}}</h2>
            <p>{{item.address}}</p>
            <p>Contact Person : {{item.contactperson}}</p>
          </span>
          <span>
            <h2>Email</h2>
            <p>{{item.email}}</p>
          </span>
          <span>
            <h2>Phone / Fax</h2>
            <p>{{item.phone}}<br>
              </p>
          </span>
          <span>
            <h2>State / City</h2>
            <p>{{item.state}}<br>
              {{item.city}}</p>
          </span>
        </mat-card-content>
        <mat-card-content class="address2">

        </mat-card-content>

      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>
<mat-card-content class="contact_form_banner">

  <!-- <mat-card-content class="form_section">
    <mat-card-content class="form_section_actions">
      <span>
        <mat-form-field>
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email Address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Phone Number">
        </mat-form-field>
      </span>

      <mat-form-field class="address">
        <input matInput placeholder="Address">
      </mat-form-field>

      <mat-form-field class="message">
        <textarea matInput placeholder="Message"></textarea>
      </mat-form-field>


      <button mat-button class="submit_btn">submit</button>
      <span class="clearfix"></span>
    </mat-card-content>
  </mat-card-content> -->

  <mat-card-content class="form_section">
    <mat-card-content class="form_section_actions">

      <form [formGroup]="contactusForm" autocomplete="off">
        <span>
          <!-- Name  -->
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" (blur)="inputUntouch(contactusForm, 'name')">
            <mat-error *ngIf="
                  contactusForm.controls['name'].touched &&
                  !contactusForm.controls['name'].valid
                " class="errortext">Name is required </mat-error>
          </mat-form-field>

          <!-- Contact Emails -->

          <!-- <mat-chip-list #chipList>
            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                     [removable]="removable" (removed)="remove(fruit)">
              {{fruit.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New fruit..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list> -->
          <mat-form-field>
            <mat-label>Email(s)</mat-label>

            <mat-chip-list #chipListt>
              <mat-chip *ngFor="let cma of collect_email_array;let i = index" [selectable]="selectable"
              [removable]="removable" (removed)="clearEmail(i)">{{ cma }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
            <input matInput placeholder="Emails" formControlName="email" [matChipInputFor]="chipListt" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="collect_email($event)" 
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"  (blur)="inputUntouch(contactusForm,'email')">

            <mat-error *ngIf="contactusForm.controls.email.errors && contactusForm.controls['name'].touched" class="errortext">Email
              is required</mat-error>
              <mat-error *ngIf="contactusForm.controls.email.errors && contactusForm.controls['name'].touched
               && contactusForm.controls.email.email" class="errortext">Email
                is not valid</mat-error>
            </mat-chip-list>
            
          </mat-form-field>

          <!-- Contact Phones  -->
          <mat-form-field>
            <mat-label>Phones(s)</mat-label>
             <mat-chip-list #chipList>
                <mat-chip *ngFor="let cpa of collect_phone_array;let i = index" [selectable]="selectable"
                [removable]="removable" (removed)="clearPhones(i)">{{ cpa }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>

            <input matInput placeholder="Phones" formControlName="phone" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="collect_phones($event)"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (blur)="inputUntouch(contactusForm, 'phone')">

              <mat-error *ngIf="contactusForm.controls.phone.errors && contactusForm.controls['phone'].touched" class="errortext">Phone is required</mat-error>
          </mat-chip-list>
          </mat-form-field>
      
            

           
            
          
        </span>
        <!-- Address  -->
        <mat-form-field class="address">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address"
            (blur)="inputUntouch(contactusForm, 'address')">
          <mat-error *ngIf="
                  contactusForm.controls['address'].touched &&
                  !contactusForm.controls['address'].valid
                " class="errortext">Address is required</mat-error>
        </mat-form-field>

        <!-- Message  -->
        <mat-form-field class="message">
          <mat-label>Message</mat-label>
          <input matInput placeholder="Message" formControlName="message"
            (blur)="inputUntouch(contactusForm, 'message')">
          <mat-error *ngIf="
                  contactusForm.controls['message'].touched &&
                  !contactusForm.controls['message'].valid
                " class="errortext">Message is required</mat-error>
        </mat-form-field>


        <!-- Buttons  -->
        <mat-toolbar class="sentButton">
          <button mat-button type="button" (click)="onSubmit()" class="submit_btn">Send</button>
        </mat-toolbar>
      </form>
    </mat-card-content>
  </mat-card-content>



</mat-card-content>




<app-frontend-footer></app-frontend-footer>