<app-adminheader>
  <span class="inputstyle ">
    <span class="dashboardcontainer">
      <mat-card class="main_wrapper">

        <mat-card-content class="from_wrapper">
          <mat-list class="formstylemainwrapper">
            <mat-list-item class="formheader">
              <mat-card-title class="formtitle">{{ header_txt }}</mat-card-title>
            </mat-list-item>


            <mat-card-content class="form_new_wrapper">
              <mat-card-content class="items_content">

                <mat-list-item class="formbody">
                  <form autocomplete="off" [formGroup]="addinventorylistingquoteForm">
                    <span class="col-1-1 pb-20">
                      <!-- Inventory Name  -->
                      <mat-form-field>
                        <mat-label class="label">Product Name</mat-label>
                        <input matInput formControlName="product_name" (blur)="inputBlur('product_name')">
                        <mat-error *ngIf="!addinventorylistingquoteForm.controls['product_name'].valid
                                && addinventorylistingquoteForm.controls['product_name'].errors.required">Inventory
                          Name is
                          required.
                        </mat-error>
                      </mat-form-field>
                    </span>

                    <span class="col-1-1 pb-20">
                      <!-- quote Id  -->
                      <mat-form-field>
                        <mat-label class="label">Quote Id</mat-label>
                        <input matInput value="{{quote_id}}" [disabled]='true' >
                      </mat-form-field>
                    </span>

                    <span class="col-1-3">
                      <!-- source  -->
                      <mat-form-field>
                        <mat-label class="label">Source</mat-label>
                        <mat-select matNativeControl formControlName="source" [(value)]="selected" required>
                          <mat-option value="">Select Source</mat-option>
                          <mat-option value="{{ item._id }}" *ngFor="let item of  active_hospital_list"
                            (click)="gethospitalName(item.hospitalname,item._id)">
                            {{ item.hospitalname }}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="!addinventorylistingquoteForm.controls['source'].valid
                                                            && addinventorylistingquoteForm.controls['source'].errors.required">
                          Source
                          Name is
                          required.
                        </mat-error>
                      </mat-form-field>
                    </span>

                    <span class="col-1-3">
                      <!-- Inventory Category mat-selection  -->
                      <!-- Inventory Category mat-selection  -->
                      <mat-form-field>
                        <mat-label class="label">Category</mat-label>
                        <mat-select matNativeControl formControlName="category_id" required>
                          <mat-option value="">Select Category</mat-option>
                          <mat-option value="{{ item._id }}" *ngFor="let item of inventory_category_array"
                            (click)="getBrandName(item._id )" (click)="getcatagoryName(item.category_name)">
                            {{ item.category_name }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!addinventorylistingquoteForm.controls['category_id'].valid
                                && addinventorylistingquoteForm.controls['category_id'].errors.required">
                          Category Name
                          is required.
                        </mat-error>
                      </mat-form-field>
                    </span>
                    <span class="col-1-3">
                      <!-- Brand selection -->
                      <mat-form-field>
                        <mat-label class="label">Brand</mat-label>
                        <mat-select matNativeControl formControlName="brand_id" required>
                          <mat-option value="">Select Brand</mat-option>
                          <mat-option value="{{ item.brand_id }}" *ngFor="let item of brand_name_array"
                            (click)="getbrandName(item.brand_name)">
                            {{ item.brand_name }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!addinventorylistingquoteForm.controls['brand_id'].valid
                            && addinventorylistingquoteForm.controls['brand_id'].errors.required">Brand Name is
                          required.
                        </mat-error>
                      </mat-form-field>

                    </span>
                    <span class="col-1-1">

                      <!-- SKU -->
                      <mat-form-field>
                        <mat-label class="label">SKU #</mat-label>
                        <input matInput type="number" formControlName="sku" (blur)="inputBlur('sku')">
                        <mat-error *ngIf="!addinventorylistingquoteForm.controls['sku'].valid
                                && addinventorylistingquoteForm.controls['sku'].errors.required">SKU# is required.
                        </mat-error>
                      </mat-form-field>
                    </span>
                    <span class="col-1-1">
                      <!-- Quantity -->

                      <mat-form-field>
                        <mat-label class="label">Quantity</mat-label>
                        <input matInput type="number" formControlName="quantity" type="quantity" (blur)="inputBlur('quantity')">
                        <mat-error
                          *ngIf="!addinventorylistingquoteForm.controls['quantity'].valid
                                                        && addinventorylistingquoteForm.controls['quantity'].errors.required">
                          Quantity is
                          required.</mat-error>
                      </mat-form-field>
                    </span>


                    <span class="col-1-1">
                      <!-- wholesale price -->

                      <mat-form-field>
                        <mat-label class="label">Sell price</mat-label>
                        <input matInput formControlName="saleprice" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                          step="0.11" (blur)="inputBlur('saleprice')">
                        <span matPrefix></span>
                        <mat-error
                          *ngIf="!addinventorylistingquoteForm.controls['saleprice'].valid
                                                        && addinventorylistingquoteForm.controls['saleprice'].errors.required">
                          sell
                          price is required.</mat-error>
                      </mat-form-field>
                    </span>
                    <span class="col-1-1">
                      <!-- Description  -->
                      <mat-form-field>
                        <mat-label class="label">Description</mat-label>
                        <textarea matInput formControlName="description" rows="5"
                          (blur)="inputBlur('description')"></textarea>
                        <mat-error *ngIf="!addinventorylistingquoteForm.controls['description'].valid
                                            && addinventorylistingquoteForm.controls['description'].errors.required">
                          Description is required.
                        </mat-error>
                      </mat-form-field>
                    </span>
                    <span class="col-1-1">

                      <!-- image upload -->
                      <h3>Image :</h3>
                      <lib-file-upload *ngIf="imageblockflag==true" [config]="configData"></lib-file-upload><br>
                      <mat-error *ngIf="ErrCode==true">Please add just one service image.</mat-error>
                      <mat-error *ngIf="imageErrCode==true">Please add an image.</mat-error>
                    </span>
                    <span class="col-1-1">

                      <!-- Card view for Image  -->
                      <mat-card-content class="files-view" *ngIf="img_flag==true">
                        <mat-card class="example-card">
                          <img mat-card-image [src]="fullImagePath">
                          <mat-card-title>{{ imageName }}</mat-card-title>
                          <mat-card-subtitle>{{ imageType }}</mat-card-subtitle>
                          <span class="closecard" (click)="clear_image()"><i class="material-icons">clear</i></span>

                        </mat-card>
                      </mat-card-content>

                    </span>
                    <span class="col-1-1">

                      <!-- Condition -->
                      <mat-label class="label">Condition:</mat-label>
                      <mat-radio-group formControlName="condition">
                        <mat-radio-button value="New" (click)="yom_flag=false"> New</mat-radio-button>
                        <mat-radio-button value="Used" (click)="yom_flag=true">Used</mat-radio-button>
                      </mat-radio-group>
                    </span>
                    <span class="col-1-1">

                      <!-- Year of manufacture -->

                      <mat-form-field *ngIf="yom_flag==true" class="yearOfManu"> 
                        <mat-label class="label">Year of manufacture</mat-label>
                        <input matInput type="number" formControlName="yom">
                      </mat-form-field>
                    </span>

                    <!-- DYNAMIC FORM ATTRIBUTE  -->

                    <div formArrayName="items" class="dynamic_attributes"
                      *ngFor="let item of addinventorylistingquoteForm.get('items').controls; let i = index;">
                      <div [formGroupName]="i" class="repeatBg">
                        <mat-form-field>
                          <input matInput formControlName="label_name" placeholder="Attribute Name">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput formControlName="label_value" placeholder="Attribute Description">
                        </mat-form-field>
                      </div>
                    </div>




                    <button mat-flat-button type="button" (click)="addItem()" color="accent" class="more_attri">
                      <mat-icon>add</mat-icon>More Attributes
                    </button><br><br>
                    <!-- Status -->

                    <!-- <mat-label class="label">Status</mat-label><br>
                    <mat-checkbox formControlName="status" >Active</mat-checkbox><br> -->


                    <span class="button_wrapper addlistingInventory_button_wrapper">
                      <!-- Dynamic form fields  -->
                      <!-- <button mat-flat-button type="button" (click)="create_field()" color="primary">
                                                &nbsp; Add
                                                field
                                            </button> -->
                                            
                      <!-- Buttons  -->
                      <button mat-flat-button type="button" *ngIf="submitbuttonFlage==0" (click)="onSubmit()" color="accent">Add New Listing Inventory Quote
                      </button>

                      <button mat-flat-button type="button" *ngIf="submitbuttonFlage==1"(click)="onSubmit()" color="accent">Save Change</button>

                      <button mat-flat-button type="reset" color="warn">RESET</button>

                      <button mat-flat-button type="button">Cancel</button>
                    </span>



                  </form>
                </mat-list-item>
              </mat-card-content>
              <mat-card-content class="items_content">
                <mat-card-title class="title" *ngIf="inventoryDetails.length>0">List Inventory Quote
                  ({{inventoryDetails.length}})</mat-card-title>
                <!-- loop here -->
                <span class="total_wrapper" *ngFor="let item of inventoryDetails;let i=index;">
                  <mat-card-content class="tab_item">
                    <mat-card-content class="inner_image">
                      <img src="{{item.inventory_image}}">
                    </mat-card-content>
                    <mat-card-content class="inner_content">

                      <table>
                        <tr>
                          <td>Product Name :</td>
                          <td>{{item.product_name}}</td>
                        </tr>
                        <tr>
                          <td>Source/Manufacturer :</td>
                          <td>{{item.hospitalname}}</td>
                        </tr>
                        <tr>
                          <td>Category : </td>
                          <td>{{item.category}}</td>
                        </tr>
                        <tr>
                          <td>SKU# :</td>
                          <td>{{item.sku}}</td>
                        </tr>
                        <tr>
                          <td>Quantity :</td>
                          <td>{{item.quantity}}</td>
                        </tr>
                        <tr>
                          <td>Sell Price :</td>
                          <td>{{item.saleprice}}</td>
                        </tr>
                      </table>


                    </mat-card-content>

                  </mat-card-content>


                  <mat-toolbar class="action">
                    <button mat-button (click)="viewDetailsInventory(item)">view details</button>
                    <button mat-button (click)="delete(item._id,i)">Delete</button>
                  </mat-toolbar>
                </span>
                <!-- end loop -->

                <!-- <span class="total_wrapper">
                  <mat-card-content class="tab_item">
                    <mat-card-content class="inner_image">
                      <img src="../../../../assets/images/home_main_item_image.png">
                    </mat-card-content>
                    <mat-card-content class="inner_content">

                      <table>
                        <tr>
                          <td>Product Name :</td>
                          <td>Product Name</td>
                        </tr>
                        <tr>
                          <td>Source/Manufacturer :</td>
                          <td>Source/Manufacturer:</td>
                        </tr>
                        <tr>
                          <td>Category : </td>
                          <td>Product Name</td>
                        </tr>
                        <tr>
                          <td>SKU# :</td>
                          <td>TEst</td>
                        </tr>
                        <tr>
                          <td>Quantity :</td>
                          <td>Product Name</td>
                        </tr>
                        <tr>
                          <td>Sell Price :</td>
                          <td>Product Name</td>
                        </tr>
                      </table>


                    </mat-card-content>

                  </mat-card-content>


                  <mat-toolbar class="action">
                    <button mat-button>view details</button>
                    <button mat-button>Delete</button>
                  </mat-toolbar>
                </span> -->

                <!-- <span class="total_wrapper">
                  <mat-card-content class="tab_item">
                    <mat-card-content class="inner_image">
                      <img src="../../../../assets/images/home_main_item_image.png">
                    </mat-card-content>
                    <mat-card-content class="inner_content">

                      <table>
                        <tr>
                          <td>Product Name :</td>
                          <td>Product Name</td>
                        </tr>
                        <tr>
                          <td>Source/Manufacturer :</td>
                          <td>Source/Manufacturer:</td>
                        </tr>
                        <tr>
                          <td>Category : </td>
                          <td>Product Name</td>
                        </tr>
                        <tr>
                          <td>SKU# :</td>
                          <td>TEst</td>
                        </tr>
                        <tr>
                          <td>Quantity :</td>
                          <td>Product Name</td>
                        </tr>
                        <tr>
                          <td>Sell Price :</td>
                          <td>Product Name</td>
                        </tr>
                      </table>


                    </mat-card-content>

                  </mat-card-content>


                  <mat-toolbar class="action">
                    <button mat-button>view details</button>
                    <button mat-button>Delete</button>
                  </mat-toolbar>
                </span> -->


                <!-- footer action -->
                <mat-toolbar class="action main_action" *ngIf="inventoryDetails.length>0">
                  <button mat-button (click)="saveQuote()">Save Quote</button>
                  <button mat-button (click)="submitquote()">Submit Quote</button>
                </mat-toolbar>
              </mat-card-content>
            </mat-card-content>




            <mat-list-item class="formfooter"></mat-list-item>
          </mat-list>

          <!-- <h1 class="form_header">{{ header_txt }}</h1> -->

        </mat-card-content>

      </mat-card>
    </span>
  </span>
</app-adminheader>